svg(xmlns='http://www.w3.org/2000/svg' width='377.1' height='820' viewbox='0 0 100 217')
  g(transform='translate(-39 -72)')
    rect(width='30.2' height='103.6' x='74' y='185' ry='1.1' fill='#784421')
    path(d='M89 72l50 179H39L89 72z' fill='green')
