svg(xmlns='http://www.w3.org/2000/svg' width='508.6' height='788.3' viewbox='0 0 135 209')
  g(transform='translate(-20 -81)')
    rect(ry='1.1' y='186' x='91' height='103.6' width='30.2' fill='#784421')
    rect(ry='48.4' y='81' x='58' height='139.1' width='96.8' fill='green')
    rect(transform='rotate(32)' ry='0' y='143' x='166' height='12.1' width='52.2' fill='#784421')
    circle(r='35.5' cy='199.5' cx='55.2' fill='green')
