*
  box-sizing border-box

body
  background dodgerblue
  color #fafafa
  display flex
  justify-content center

form
  display flex
  flex-direction column

input
  margin-bottom .25rem

li
  cursor pointer