<canvas></canvas>
<div class="controls">
  <button class="record" title="Record" id="toggle">
    Start Recording
    <svg viewBox="0 0 448 512" width="100" title="pause">
      <path d="M144 479H48c-26.5 0-48-21.5-48-48V79c0-26.5 21.5-48 48-48h96c26.5 0 48 21.5 48 48v352c0 26.5-21.5 48-48 48zm304-48V79c0-26.5-21.5-48-48-48h-96c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48z" />
    </svg>
  </button>
  <button class="stop" title="Stop Recording" id="stop">
    Stop Recording
    <svg viewBox="0 0 448 512" width="100" title="stop">
      <path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48z" />
    </svg>
  </button>
</div>
<audio controls />  