*
*:after
*:before
  box-sizing border-box

body
  min-height 100vh
  display grid
  background hsl(0, 0%, 7.8%)

canvas
  height 100vh
  width 100vw
  position fixed
  background hsl(0, 0%, 7.8%)
  object-fit cover
  background-position top left