html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Some cool pen
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
    link(rel='stylesheet', href='style.css')
  body
    block content
      include dev.pug
    script(crossorigin, src="https://unpkg.com/react@16.3.0-alpha.1/umd/react.development.js")
    script(crossorigin, src="https://unpkg.com/react-dom@16.3.0-alpha.1/umd/react-dom.development.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/styled-components/3.2.1/styled-components.min.js")
    script(src="script.js")