.scene
  .card
    .card__back.card__segment
      div.card__back--front
        .card__message
          .card__content
            p CodePen Community,
            p Happy Valentine's Day!
            p I couldn't <code>function</code> without you
            p Jhey
            p ʕ •ᴥ•ʔ
      div.card__back--back
        .card__barcode
        img.card__logo(src="https://assets.codepen.io/605876/Bear+%E2%80%93+2021+.png")

    .card__front.card__segment
      .illustration
        .illustration__cactu.illustration__segment
          include cact-u.svg
          label.illustration__label.illustration__label--cact-u
            span Cact-u
        .illustration__cacti.illustration__segment
          include cact-i.svg
          label.illustration__label.illustration__label--cact-i
            span Cact-i
        .illustration__divider
          include line.svg
        .illustration__cactus.illustration__segment
          include cact-us.svg
          label.illustration__label.illustration__label--cact-us
            span Cact-us
      .card__front--sleeve
.instruction Tap to Open