img(src='leif.png')
.leif
  .leif__head
    .leif__face
      .leif__nose
      .leif__mouth
        div
        div
        div
        div
        div
        div
      .leif__eye.leif__eye--right
        div
          div
          div
      .leif__cheek.leif__cheek--left
      .leif__cheek.leif__cheek--right