mixin leaf($index)
  .leaf(class=`leaf--${$index}`)
    div
    div
    div
mixin flower($index)
  .flower(class=`flower--${$index}`)
    - let p = 0
    while (p < 4)
      .flower__petal(class=`flower__petal--${p}`)
        div
        div
        div
        div
      - p++
    .flower__core
.leif
  .leif__arch
  .leif__himself
    .leif__container
      .leif__body
      .leif__arm--left
        .claw
        .claw
        .claw
      .leif__arm--right
      .leif__cap
        div
          div
          div
          div
          div
          div
          div
        div
      .leif__head
        .leif__face
          .leif__face-border
            div
            div
            div
          .leif__eye.leif__eye--right
            div
              div
              div
          .leif__eye.leif__eye--left
            div
              div
              div
          .leif__face-patch
          .leif__mouth
            div
            div
            div
            div
            div
            div
          .leif__mouth-patch
          .leif__nose
          .leif__cheek.leif__cheek--left
          .leif__cheek.leif__cheek--right
        .leif__eye-open.leif__eye-open--left
        .leif__eye-open.leif__eye-open--right
        .leif__eye-closed.leif__eye-closed--left
        .leif__eye-closed.leif__eye-closed--right
      .leif__pot
        .flower__show
          .flower__container
            +flower()
      .leif__forearm
        .claw
        .claw
        .claw
  - let l = 1
  while l < 11
    +leaf(l)
    - l++
  - let f = 1
  while f < 6
    +flower(f)
    - f++
  - let s = 1
  while s < 5
    .star(class=`star--${s}`)
    - s++