- let c = 0
while (c < 10)
  .circle(style=`--x: ${Math.random() * 100}; --y: ${Math.random() * 100}; --size: ${Math.random() * 20}`)
  - c++
.tom
  img(src='/nook.png')
  .tom__head
    .tom__ear.tom__ear--left
      .tom__ear-inner
    .tom__ear.tom__ear--right
      .tom__ear-inner
    .tom__face
    .tom__mask
    .tom__snout
    .tom__eye.tom__eye--left
      .tom__pupil
      .tom__eyelid.tom__eyelid--left
    .tom__eye.tom__eye--right
      .tom__pupil
      .tom__eyelid.tom__eyelid--right