mixin piece(modifier, by)
  - for (let i = 0; i < by; i++)
    .piece(class=`${modifier} ${modifier}--${i + 1}`)
      - for (let b = 0; b < 4; b++)
        .block

.game
  +piece('square', 1)
  +piece('ess', 1)
  +piece('tee', 2)
  +piece('ell', 2)
  +piece('stick', 2)