.mr-rush
  .mr-rush__body
  .mr-rush__leg-wrapper.mr-rush__leg-wrapper--left
    .mr-rush__leg.mr-rush__leg--left
    .mr-rush__foot.mr-rush__foot--left
  .mr-rush__leg-wrapper.mr-rush__leg-wrapper--right
    .mr-rush__leg.mr-rush__leg--right
    .mr-rush__foot.mr-rush__foot--right
  .mr-rush__eye
  .mr-rush__hat
    .mr-rush__hat-brim
    .mr-rush__hat-top
  .mr-rush__mouth
  .mr-rush__hand.mr-rush__hand--one
    .mr-rush__finger.mr-rush__finger--one
    .mr-rush__finger.mr-rush__finger--two
    .mr-rush__finger.mr-rush__finger--three
    .mr-rush__finger.mr-rush__finger--four
    .mr-rush__palm.mr-rush__palm--one
  .mr-rush__hand.mr-rush__hand--two
    .mr-rush__finger.mr-rush__finger--five
    .mr-rush__finger.mr-rush__finger--six
    .mr-rush__finger.mr-rush__finger--seven
    .mr-rush__finger.mr-rush__finger--eight
    .mr-rush__palm.mr-rush__palm--two
  .mr-rush__cloud
    .mr-rush__cloud-seg
    .mr-rush__cloud-seg
    .mr-rush__cloud-seg
    .mr-rush__cloud-seg