svg(xmlns='http://www.w3.org/2000/svg' viewbox='-20 -20 208.75 158.75')
  defs
    filter#a(x='-.478' width='1.955' y='-.069' height='1.137' color-interpolation-filters='sRGB')
      fegaussianblur(stddeviation='.519')
    filter#b(x='-.822' width='2.644' y='-.326' height='1.652' color-interpolation-filters='sRGB')
      fegaussianblur(stddeviation='.866')
    filter#c(x='-.709' width='2.417' y='-.165' height='1.331' color-interpolation-filters='sRGB')
      fegaussianblur(stddeviation='.866')
    filter#d(x='-.066' width='1.132' y='-.65' height='2.3' color-interpolation-filters='sRGB')
      fegaussianblur(stddeviation='.717')
  g(transform='translate(41.066 -125.767)')
    ellipse(ry='1.538' rx='26.413' cy='242.637' cx='117.64' transform='translate(-41.066 -12.483)')
    g(transform='scale(-1 1) rotate(5.288 -24.745 -1423.853)')
      g(transform='translate(0 -1.058)' fill='#00f')
        rect(ry='.675' y='214.483' x='59.607' height='4.089' width='1.35')
        rect(width='1.35' height='4.089' x='61.337' y='214.483' ry='.675')
        rect(ry='.675' y='214.483' x='63.066' height='4.089' width='1.35')
        rect(ry='1.167' y='214.483' x='59.078' height='2.335' width='5.868')
      rect(width='6.603' height='16.644' x='58.885' y='199.491' ry='3.075' fill='purple')
      rect(width='9.407' height='3.688' x='57.483' y='212.447' ry='.905' fill='#ff2a2a')
    g(transform='rotate(5.288 51.972 237.488)')
      g(transform='translate(0 -1.058)' fill='#00f')
        rect(width='1.35' height='4.089' x='59.607' y='214.483' ry='.675')
        rect(ry='.675' y='214.483' x='61.337' height='4.089' width='1.35')
        rect(width='1.35' height='4.089' x='63.066' y='214.483' ry='.675')
        rect(width='5.868' height='2.335' x='59.078' y='214.483' ry='1.167')
      rect(ry='3.075' y='199.491' x='58.885' height='16.644' width='6.603' fill='purple')
      rect(ry='.905' y='212.447' x='57.483' height='3.688' width='9.407' fill='#ff2a2a')
    path(d='M64.992 191.416c-1.318 4.813.083 37.02-3.596 37.02-.702 0-1.266.565-1.266 1.266 0 .702.564 1.267 1.266 1.267H92.06c.701 0 1.266-.565 1.266-1.267 0-.701-.565-1.266-1.267-1.266-2.83.265-2.917-26.882-3.595-37.02z' fill='#676c53')
    path(d='M114.133 184.686a.84.84 0 01.9.777c.029.46-.358.714-.797.882l-1.645.63c-3.245 1.241-4.33 7.61-7.96 9.162-4.507 1.93-23.122.278-23.122.278s.13-.007 0-2.117c-.104-1.67 2.18-6.907 3.017-6.132a.836.836 0 01-.838-.775.839.839 0 01.798-.882z' fill='#445016')
    path(d='M114.133 184.686a.84.84 0 01.9.777c.029.46-.358.714-.797.882l-1.645.63c-3.245 1.241-12.454-.92-17.927 1.405-6.228 2.645-2.182 13.586-8.153 6.55-1.79.29-1.758 1.672-1.89-.437-.103-1.67-1.27-4.858-.095-6.327a.836.836 0 01-.838-.775.839.839 0 01.798-.882z' fill='#efa')
    path(d='M39.016 184.686a.84.84 0 00-.901.777c-.029.46.358.714.797.882l1.645.63c3.245 1.241 4.33 7.61 7.96 9.162 4.507 1.93 23.122.278 23.122.278s-.13-.007 0-2.117c.104-1.67-2.18-6.907-3.017-6.132a.836.836 0 00.838-.775.839.839 0 00-.798-.882z' fill='#445016')
    path(d='M39.016 184.686a.84.84 0 00-.901.777c-.029.46.358.714.797.882l1.645.63c3.245 1.241 12.454-.92 17.927 1.405 6.228 2.645 2.182 13.586 8.153 6.55 1.79.29 1.758 1.672 1.89-.437.104-1.67 1.27-4.858.095-6.327a.836.836 0 00.838-.775.839.839 0 00-.798-.882z' fill='#efa')
    path(d='M89.69 192.575c0 2.573.96 5.673-1.646 7.359-2.608 1.686-7.496 1.7-11.474 1.7-6.812 0-8.738-.27-11.345-1.957-2.607-1.686-1.647-4.4-1.647-6.974 0-2.573.069-5.159 2.676-6.845s6.466-2.215 10.444-2.215c3.979 0 8.095.786 10.702 2.472 2.608 1.686 2.29 3.887 2.29 6.46z' fill='#6f0')
    path(d='M74.598 193.834a1.994 1.735 0 011.96-1.413 1.994 1.735 0 011.959 1.413M72.94 197.689a4.695 1.992 0 014.26-1.156 4.695 1.992 0 014.262 1.156' fill='none' stroke='#000' stroke-width='1.064' stroke-linecap='round')
    g.baby__eye.baby__eye--left(transform='matrix(.99997 0 0 1.00462 .446 -2.499)')
      ellipse#ellipse1246(style='fill:#000000;stroke:#000000;stroke-width:1.26967835;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1' cx='68.251839' cy='193.02319' rx='3.0693276' ry='3.0693274')
      circle#circle1248(style='fill:#ffffff;stroke:none;stroke-width:0.78371131;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1' cx='66.1614' cy='192.97395' r='0.40189433')
      circle#circle1250(r='0.78565741' cy='191.43892' cx='66.67308' style='fill:#ffffff;stroke:none;stroke-width:1.53206599;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
      g.baby__eyelid--bottom.baby__eyelid--left-top
        path(style='fill:#bcd35f;stroke:none;stroke-width:2.46095419;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1' d='m 243.95898,207.01758 a 14,14 0 0 0 14,14 14,14 0 0 0 14,-14 z' transform='matrix(0.26458333,0,0,0.26458333,0,138.24998)' inkscape:connector-curvature='0')
      g.baby__eyelid--top.baby__eyelid--left-bottom
        path(d='m 71.955809,193.02338 a 3.7041666,3.7041666 0 0 0 -3.70417,-3.70417 3.7041666,3.7041666 0 0 0 -3.70416,3.70417 z' style='fill:#bcd35f;stroke:none;stroke-width:0.65112746;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1' inkscape:connector-curvature='0')
    path(d='M76.59 200.127l-3.016.704a1.39 1.39 0 00-.863.617 1.38 1.38 0 00-.172 1.046l.879 3.767 3.172.74 3.172-.74.878-3.767a1.382 1.382 0 00-1.034-1.663z' fill='#f60')
    path(d='M62.901 197.047a1.382 1.382 0 00-1.113 1.052l-.89 3.821a1.382 1.382 0 001.034 1.663l11.486 2.678-.879-3.767a1.389 1.389 0 01.172-1.046 1.382 1.382 0 01.863-.617l3.016-.704-13.138-3.063a1.388 1.388 0 00-.55-.017z' fill='#d38d5f')
    rect(transform='scale(-1 1) rotate(13.124)' ry='1.385' y='212.291' x='-44.024' height='6.694' width='19.357' fill='#c87137')
    g.baby__eye.baby__eye--right(transform='matrix(.99997 0 0 1.00462 16.32 -2.499)')
      ellipse#ellipse1246(style='fill:#000000;stroke:#000000;stroke-width:1.26967835;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1' cx='68.251839' cy='193.02319' rx='3.0693276' ry='3.0693274')
      circle#circle1248(style='fill:#ffffff;stroke:none;stroke-width:0.78371131;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1' cx='66.1614' cy='192.97395' r='0.40189433')
      circle#circle1250(r='0.78565741' cy='191.43892' cx='66.67308' style='fill:#ffffff;stroke:none;stroke-width:1.53206599;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
      g.baby__eyelid--bottom.baby__eyelid--right-top
        path(style='fill:#bcd35f;stroke:none;stroke-width:2.46095419;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1' d='m 243.95898,207.01758 a 14,14 0 0 0 14,14 14,14 0 0 0 14,-14 z' transform='matrix(0.26458333,0,0,0.26458333,0,138.24998)' inkscape:connector-curvature='0')
      g.baby__eyelid--top.baby__eyelid--right-bottom
        path(d='m 71.955809,193.02338 a 3.7041666,3.7041666 0 0 0 -3.70417,-3.70417 3.7041666,3.7041666 0 0 0 -3.70416,3.70417 z' style='fill:#bcd35f;stroke:none;stroke-width:0.65112746;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1' inkscape:connector-curvature='0')
    g(fill='none' stroke='#000' stroke-width='.265' stroke-linecap='round')
      path(d='M67.886 210.21s-1.155 2.805.317 4.638c1.8 2.243 4.055 4.848 4.115 6.352.108 2.745-2.262 5.743-2.262 5.743' filter='url(#a)')
      path(d='M67.886 210.21s-1.155 2.805.317 4.638c1.8 2.243 4.055 4.848 4.115 6.352.108 2.745-2.262 5.743-2.262 5.743')
    path(d='M67.614 219.707s.591 1.703-.723 3.89c-.21.347-1.674 2.487-1.674 2.487' fill='none' stroke='#000' stroke-width='.265' filter='url(#b)')
    path(d='M67.614 219.707s.591 1.703-.723 3.89c-.21.347-1.674 2.487-1.674 2.487' fill='none' stroke='#000' stroke-width='.265' stroke-linecap='round')
    path(d='M84.393 214.868s-.235 5.304.453 7.824c.468 1.717 2.442 4.749 2.442 4.749' fill='none' stroke='#000' stroke-width='.265' stroke-linecap='round' filter='url(#c)')
    path(d='M84.393 214.868s-.235 5.304.453 7.824c.468 1.717 2.442 4.749 2.442 4.749' fill='none' stroke='#000' stroke-width='.265' stroke-linecap='round')
    path(d='M76.67 190.618s.022-.826-.028-1.234c-.04-.332-.217-.98-.217-.98' fill='none' stroke='#000' stroke-width='.265' stroke-linecap='round' stroke-linejoin='round')
    path(d='M74.082 184.43l-.362-.95M76.524 184.475l.317-.95M79.011 184.43l-.361-.995M77.7 183.842l.136-.904M75.438 183.933l-.452-.86' fill='none' stroke='#000' stroke-width='.265')
    path(d='M73.63 186.692s1.857-.446 2.803-.453c.93-.006 2.76.407 2.76.407' fill='none' stroke='#eee' stroke-width='.265' stroke-linecap='round' stroke-opacity='.733')
    path(d='M90.006 197.028a1.401 1.401 0 00-.278.036l-2.143.5-.05 6.885 3.713-.866a1.382 1.382 0 001.034-1.663l-.891-3.821a1.382 1.382 0 00-1.385-1.07z' fill='#784421')
    path(d='M63.173 197.028a1.382 1.382 0 00-1.384 1.07l-.891 3.822a1.382 1.382 0 001.034 1.663l4.481 1.045a8.77 8.77 0 01-.042-.742l-.058-6.154-2.861-.668a1.404 1.404 0 00-.28-.036z' fill='#c87137')
    path(d='M63.173 197.028a1.382 1.382 0 00-1.384 1.07l-.891 3.822a1.382 1.382 0 001.034 1.663l2.71.632.197-6.463c.004-.124.014-.242.026-.358l-1.413-.33a1.404 1.404 0 00-.28-.036z' fill='#784421')
  path#saberpath(d='M23.88 47.13c3.827-2.812 10.26-.934 13.568-4.342 4.107-4.232.074-13.593 4.884-17.005 6.897-4.893 18.832-3.967 25.327 1.447 4.91 4.093 4.734 12.246 4.523 18.634-.212 6.443-7.608 12.268-5.789 18.452 1.595 5.422 11.302 5.472 13.025 10.855 1.958 6.115-.057 14.4-4.884 18.633-4.707 4.128-12.537 3.775-18.634 2.352-4.364-1.02-6.956-6.023-11.216-7.417-5.91-1.935-13.382 2.426-18.633-.905-4.556-2.89-7.877-8.903-7.598-14.292.217-4.209 6.715-6.291 7.055-10.492.327-4.034-5.435-7.005-5.065-11.036.181-1.982 1.832-3.705 3.437-4.884z' fill='none' stroke='#000' stroke-width='1.058' stroke-linecap='square' stroke-linejoin='round' stroke-dasharray='1.05833327,3.17499981')
  g#lightsaber
    g(transform='translate(-35.05 -276.54)')
      rect(ry='0' y='278.046' x='49.723' height='1.191' width='1.833' fill='#999')
      rect(width='15.694' height='2.646' x='35.051' y='278.253' ry='0' fill='#e6e6e6')
      g#lightsaber__beam
        g(transform='translate(.064)')
          rect(transform='matrix(-1.00861 0 0 .99791 -.398 .848)' width='26.015' height='2.646' x='-76.759' y='277.989' ry='1.323' fill='#91ff82' filter='url(#a)')
          rect(ry='1.058' y='278.518' x='-76.759' height='2.117' width='26.015' transform='scale(-1 1)' fill='#d8ffd3')
          rect(transform='scale(-1 1)' width='25.665' height='1.587' x='-76.272' y='278.783' ry='.794' fill='#f5fff3')
      rect(ry='0' y='278.253' x='40.822' height='2.646' width='9.923')
      path(fill='#b3b3b3' d='M35.77 277.592h5.821v3.969H35.77z')
      path(d='M36.299 280.767h4.762v.794h-4.762zM36.299 277.592h4.762v.794h-4.762zM36.299 279.179h4.762v.794h-4.762z')
      path(fill='#333' d='M42.12 277.592h3.831v3.969H42.12z')
      path(fill='#ccc' d='M46.204 277.728h3.747v3.696h-3.747z')
      rect(transform='scale(-1 1)' width='.954' height='3.175' x='-51.699' y='277.989' ry='.342')
      path(fill='red' d='M48.23 277.362h.837v.362h-.837z')
      rect(ry='.32' y='277.317' x='50.553' height='1.582' width='1.799' fill='#999')
