*
  box-sizing border-box

body
  min-height 100vh
  display grid
  place-items center

.shocked-bear
  position fixed
  transform translate(0%, 0%)
  height 30vmin
  overflow visible !important
  top 100%
  left 10%
