svg.pokedex__base(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80.8721 112.4479')
  path(d='M-128.5 136.2227c-3.599 0-6.4963 2.8968-6.4963 6.4957v98.133c0 3.5989 2.8974 6.4963 6.4962 6.4963h72.8788v-111.125h-44.7083zM21.358 10.5258c-3.5989 0-6.4963 2.8969-6.4963 6.4957v98.133c0 3.599 2.8974 6.4963 6.4963 6.4963H94.2367V10.5258H49.5283z' fill='none')
  path(d='M7.2448.6615C3.6459.6615.7485 3.5583.7485 7.1572v98.133c0 3.5989 2.8974 6.4963 6.4963 6.4963H80.1235V.6615H35.4151z' fill='#a00' fill-opacity='.9041' stroke='#000' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
  path(d='M50.7788 4.5179l-11.145.1741H7.1576c-3.5989 0-6.4962 2.897-6.4962 6.4958v23.2699h38.9722l11.1451-13.991h29.4318V4.518h-6.5738z' fill='#500' fill-opacity='.9041')
  path(d='M67.6468.6615v111.125H79.7266V.6615h-6.4962z' fill='#500' fill-opacity='.9041')
  path(d='M7.2448.6615C3.6459.6615.7485 3.5583.7485 7.1572v98.133c0 3.5989 2.8974 6.4963 6.4963 6.4963H80.1235V.6615H35.4151z' fill='none' stroke='#000' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
  path(d='M70.5856.6615v111.125h9.5379V.6615h-6.4962z' fill='#0ff' fill-opacity='.9041' stroke='#000' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
  g(transform='translate(148.5737 -96.5143)')
    path(d='M-78.1205 97.1757v111.125h3.3908V97.1757h-2.3094z' fill='#fff' fill-opacity='.9041')
    path(d='M-77.9882 97.1757v111.125h9.538V97.1757h-6.4963z' fill='none' stroke='#000' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
    rect(ry='0' y='189.4617' x='-77.9961' height='3.7956' width='9.5537' fill='none' stroke='#000' stroke-width='1.3072' stroke-linecap='round' stroke-linejoin='round')
    rect(width='9.5537' height='3.7956' x='-77.9961' y='128.6232' ry='0' fill='none' stroke='#000' stroke-width='1.3072' stroke-linecap='round' stroke-linejoin='round')
  g
    path(d='M50.7788.6615l-11.145.1741H7.1577C3.5588.8356.6615 3.7325.6615 7.3313v23.27h38.9723l11.145-13.991h29.4318V.6616h-6.5738z' fill='#fff' fill-opacity='.9041' stroke='#000' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
    path(d='M57.435 2.249l-12.2411.1994H9.5232c-3.9529 0-7.1355 3.3227-7.1355 7.4502v20.7026h37.2458l11.145-13.9908h29.4319V2.2489z' fill='red' fill-opacity='.9041')
    g(fill-opacity='.9041')
      g(transform='matrix(.85677 0 0 .85677 159.1243 -80.7285)')
        circle(r='11.9063' cy='113.5067' cx='-169.0352')
        g(transform='translate(-79.1172 -28.3928)')
          circle(cx='-90.3628' cy='141.0601' r='11.9063' fill='#e6e6e6')
          path(d='M-102.2692 141.0601a11.9062 11.9062 0 0011.9062 11.9063A11.9062 11.9062 0 00-78.4567 141.06z' fill='#999')
          circle(cx='-90.3628' cy='141.0601' r='10.0542' fill='#fff')
          circle(r='9.0147' cy='141.0601' cx='-90.3628')
          circle(cx='-90.3628' cy='141.0601' r='7.9375' fill='#00f')
          path(d='M-90.363 133.1226a7.9375 7.9375 0 00-7.9375 7.9375 7.9375 7.9375 0 003.2965 6.4301 8.8061 8.472 0 002.3027.3044 8.8061 8.472 0 008.8062-8.4718 8.8061 8.472 0 00-1.122-4.1171 7.9375 7.9375 0 00-5.3459-2.083z' fill='#0ff')
          circle(cx='-91.9407' cy='140.9146' r='1.2027' fill='#fff')
          circle(cx='-93.678' cy='137.1728' r='2.1382' fill='#fff')
      g(transform='translate(192.0542 -137.763)')
        circle(cx='-151.0342' cy='144.9505' r='2.6458')
        g(transform='translate(30.0611 -32.7338)')
          circle(r='1.9844' cy='177.6843' cx='-181.0953' fill='red')
          circle(r='.6615' cy='177.4036' cx='-181.6164' fill='#0f0')
      g(transform='translate(185.6397 -137.763)')
        circle(r='2.6458' cy='144.9505' cx='-151.0342')
        g(transform='translate(30.0611 -32.7338)')
          circle(cx='-181.0953' cy='177.6843' r='1.9844' fill='red')
          circle(cx='-181.6164' cy='177.4036' r='.6615' fill='#0f0')
      g(transform='translate(179.2252 -137.763)')
        circle(cx='-151.0342' cy='144.9505' r='2.6458')
        g(transform='translate(30.0611 -32.7338)')
          circle(r='1.9844' cy='177.6843' cx='-181.0953' fill='red')
          circle(r='.6615' cy='177.4036' cx='-181.6164' fill='#0f0')
    path(d='M50.7788.6615l-11.145.1741H7.1577C3.5588.8356.6615 3.7325.6615 7.3313v23.27h38.9723l11.145-13.991h29.4318V.6616h-6.5738z' fill='none' stroke='#000' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
  g.pokedex__base-controls
    g.pokedex__main-screen(transform='translate(135.3238 -104.4575)')
      path(d='M-127.138 141.8578v31.933l6.0368 13.2353h49.9039v-45.1683z' fill='#ececec' fill-opacity='.9041' stroke='#000' stroke-width='1.7452' stroke-linecap='round' stroke-linejoin='round')
      path(fill-opacity='.9041' stroke='#000' stroke-width='1.1079' stroke-linecap='round' stroke-linejoin='round' d='M-118.4059 148.0342h38.4762v26.4656h-38.4762z')
      circle(r='2.9104' cy='180.4871' cx='-115.3879' fill='red' fill-opacity='.9041' stroke='#000' stroke-width='1.323' stroke-linecap='round' stroke-linejoin='round')
      path(d='M-87.617 178.1058h7.4084M-87.617 180.7516h7.4084M-87.617 183.3974h7.4084' fill='none' stroke='#000' stroke-width='1.3229')
      circle(r='.7937' cy='145.0329' cx='-104.4593' fill='#b3b3b3' fill-opacity='.9041')
      circle(cx='-93.876' cy='145.0329' r='.7937' fill='#b3b3b3' fill-opacity='.9041')
      image.pokedex__image(transform="translate(-114, 150)" height="28" width="28" x="1" y="-3")
      path(d='M-110.2 148.0342l-8.2058 11.7812v6.0187l12.3972-17.8zM-104.0738 148.0342l-14.332 20.577v5.8886h10.4087l18.433-26.4656z' fill='#fff' fill-opacity='.9041')
    g.pokedex__main-button(title="Change Pokémon" transform='translate(135.3238 -106.7025)')
      circle(cx='-121.2638' cy='201.6537' r='6.0854' fill='#4d4d4d' fill-opacity='.9041' stroke='#000' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
      path(d='M-121.264 195.5682a6.0854 6.0854 0 00-6.0854 6.0855 6.0854 6.0854 0 00.2837 1.8138 6.0492 7.2064 0 004.7077 2.684 6.0492 7.2064 0 005.9531-5.9665 6.0492 7.2064 0 00-1.5074-3.6054 6.0854 6.0854 0 00-3.3517-1.0114z' fill='#ccc' fill-opacity='.9041')
      circle(r='6.0854' cy='201.6537' cx='-121.2638' fill='none' stroke='#000' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
    g(transform='translate(187.0433 -95.103)')
      rect(width='11.1105' height='2.9305' x='-162.6102' y='181.8065' ry='1.4653' fill='red' fill-opacity='.9041' stroke='#000' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
      rect(ry='.6234' y='183.4903' x='-162.6102' height='1.2467' width='11.1105' fill='#782121' fill-opacity='.9041')
      rect(ry='1.4653' y='181.8065' x='-162.6102' height='2.9305' width='11.1105' fill='none' stroke='#000' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
    g(transform='translate(202.9183 -95.103)')
      rect(ry='1.4653' y='181.8065' x='-162.6102' height='2.9305' width='11.1105' fill='red' fill-opacity='.9041' stroke='#000' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
      rect(width='11.1105' height='1.2467' x='-162.6102' y='183.4903' ry='.6234' fill='#782121' fill-opacity='.9041')
      rect(width='11.1105' height='2.9305' x='-162.6102' y='181.8065' ry='1.4653' fill='none' stroke='#000' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
    g(transform='translate(144.8653 -138.8818)')
      path(d='M-89.5603 229.281a.9641.9641 0 00-.9664.9663v2.9362h-2.9357a.9646.9646 0 00-.9669.9664v3.2835c0 .5355.4314.9664.9669.9664h2.9357v2.9362c0 .5355.431.9664.9664.9664h3.284a.9641.9641 0 00.9664-.9664v-2.9362h2.9357a.9646.9646 0 00.9669-.9664V234.15a.9646.9646 0 00-.9669-.9664h-2.9357v-2.9362a.9641.9641 0 00-.9664-.9664z' fill='gray' fill-opacity='.9041' stroke='#000' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
      circle(cx='-87.9183' cy='235.7916' r='1.3229' fill='#333' fill-opacity='.9041')
      path(d='M-90.5268 238.9952v2.341c0 .5354.431.9663.9664.9663h3.284a.9641.9641 0 00.9664-.9663v-2.341zM-91.7834 233.1833h-2.341a.9641.9641 0 00-.9663.9663v3.284c0 .5355.4309.9664.9663.9664h2.341zM-84.0532 238.4h2.341a.9641.9641 0 00.9663-.9663v-3.284a.9641.9641 0 00-.9663-.9664h-2.341zM-85.31 231.9268v-2.341a.9641.9641 0 00-.9663-.9663h-3.284a.9641.9641 0 00-.9664.9663v2.341z' fill='#333' fill-opacity='.9041')
      path(d='M-89.5603 229.281a.9641.9641 0 00-.9664.9663v2.9362h-2.9357a.9646.9646 0 00-.9669.9664v3.2835c0 .5355.4314.9664.9669.9664h2.9357v2.9362c0 .5355.431.9664.9664.9664h3.284a.9641.9641 0 00.9664-.9664v-2.9362h2.9357a.9646.9646 0 00.9669-.9664V234.15a.9646.9646 0 00-.9669-.9664h-2.9357v-2.9362a.9641.9641 0 00-.9664-.9664z' fill='none' stroke='#000' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
    g(transform='translate(135.3238 -106.7025)')
      rect(width='22.2963' height='9.7433' x='-110.8803' y='200.3798' ry='1.8165' fill='#cdde87' fill-opacity='.9041' stroke='#000' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
      path(d='M-99.732 207.5716a11.0382 3.7418 0 00-10.2113 2.3255c.2604.1438.56.2258.8796.2258h18.663c.3188 0 .618-.0817.8779-.2248a11.0382 3.7418 0 00-10.2092-2.3265z' fill='#fff' fill-opacity='.9041')
      rect(ry='1.8165' y='200.3798' x='-110.8803' height='9.7433' width='22.2963' fill='none' stroke='#000' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
