@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap')

*
  box-sizing border-box
  color #333

body
  background radial-gradient(circle at top right, #c5eff7, #d5b8ff)
  text-align center
  min-height 100vh
  font-family 'Roboto Slab', serif
  display flex
  align-items center
  justify-content center
  flex-direction column

select
  cursor pointer