@import url('https://fonts.googleapis.com/css?family=Special+Elite');
*
*:after
  box-sizing border-box

html
body
  color #fafafa
  overflow-x hidden
  min-height 100vh
  width 100vw

video
  max-width 500px
  width 300px
  @media(min-width 768px)
    width auto

figure
  display flex
  flex-direction column
  margin 0

button
  border-radius 12px
  cursor pointer
  padding 12px 24px
  border 0
  font-family 'Arial', sans-serif
  font-size 1.25rem
  min-width 250px
  background #2eec71
  color #fafafa

figcaption
  text-transform uppercase
  font-family 'Special Elite', cursive
  text-align center
  font-size 40px
  padding 20px 0 10px 0
  margin-bottom 10px
  height 60px

.app
  align-items center
  display flex
  justify-content center
  flex-direction column
  background linear-gradient(35deg, #4ecdc4 , #663399)
  padding 2rem 0
  min-height 100vh

  &--thugging
    background #777

    .mute
      background transparent

    button
      background #111

    video
      filter grayscale(1)

  &__loader
    content ''
    height 50px
    width 50px
    border-radius 100%
    border 10px solid white
    border-left-color #663399
    border-right-color #663399
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    animation spin 1s infinite

    @keyframes spin
      40%
        transform translate(-50%, -50%) rotate(180deg)
      60%
        transform translate(-50%, -50%) rotate(180deg) rotateY(180deg)
      100%
        transform translate(-50%, -50%) rotate(0deg)


.shades
  left calc(var(--x) * 1px)
  top calc(var(--y) * 1px)
  width calc(var(--width) * 1px)
  position absolute
  transform translate(-15%, -50%)
  z-index 2
  max-width 300px
  &--off
    visibility hidden

  @media(min-width 768px)
    max-width 500px

.mute
  background transparent
  border 0
  cursor pointer
  position fixed
  right 10px
  bottom 10px
  padding 10px
  min-width 0

  &__icon
    height 44px
    width 44px