svg(xmlns='http://www.w3.org/2000/svg' width='13.229167mm' height='13.465516mm' viewbox='0 0 13.229167 13.465516')
  path(d='M12.3837664 11.69785L7.733081 9.97923l-3.5253893 3.48628.1973643-4.95414L0 6.23584l4.7726631-1.34321L5.5755782 0l2.7523037 4.124 4.9012845-.74829-3.071646 3.89198z' fill='#520')
