*
  box-sizing border-box
  animation  fadeIn .5s

body
  background-color #111
  color            #fafafa
  text-align       center
  display          flex
  align-items      center
  justify-content  center

@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1

canvas
  border-radius 100%
  background-color #111
  height 200px
  width  200px

button
  background-color transparent
  border-radius    100%
  height           40px
  width            40px
  opacity          0.5
  transition       opacity .25s ease 0s
  position         absolute
  bottom           20px

  &:hover
    opacity 1

i
  color #FFF
  font-size 20px !important
