img(src='https://vignette.wikia.nocookie.net/bojackhorseman/images/5/5b/BoJack_Horseman_opening_theme_15.png/revision/latest?cb=20180729213119')
.bojack
  .bojack__hair-top--1
  .bojack__hair-top--2
  .bojack__hair-left--1
  .bojack__hair-left--2
  .bojack__hair-right--1
  .bojack__base
  .bojack__ear-left
  .bojack__ear-right
    .bojack__ear-line
  .bojack__forehead
  .bojack__crown
  .bojack__neck
  .bojack__nose
    .bojack__snout
    .bojack__nostrils
    .bojack__nostril-left
    .bojack__nostril-right
    .bojack__nose-filler
    .bojack__chin
      .bojack__chin--1
      .bojack__chin--2
      .bojack__chin--3
    .bojack__mouth
    .bojack__triangle
      .bojack__triangle-inner
        .bojack__nose-splodge.bojack__nose-splodge--1
        .bojack__nose-splodge.bojack__nose-splodge--2
        .bojack__nose-splodge.bojack__nose-splodge--3
        .bojack__nose-splodge.bojack__nose-splodge--4
        .bojack__nose-splodge.bojack__nose-splodge--5
  .bojack__chest