h2 Speed dial button
.mdl-button--fab_flinger-container(id="fab_ctn")
  button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(id="fab_btn")
    i.material-icons add
  .mdl-button--fab_flinger-options
    button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect
      i.material-icons local_printshop
    button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect
      i.material-icons content_paste
    button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect
      i.material-icons content_copy