*
  box-sizing border-box

:root
  --aspect-ratio calc(5246.15/7462.26)
  --height 30
  --width calc(var(--height) * var(--aspect-ratio))

body
  min-height 100vh
  display flex
  align-items center
  justify-content center
  overflow hidden

.orion
  height calc(var(--height) * 1vmin)
  width calc(var(--width) * 1vmin)

.turtle
  height 50vmin
  // opacity 0.25
  position fixed
  top 50%
  left 50%
  transform translate(-50%, -50%)