*
  box-sizing border-box

body
  align-items center
  background linear-gradient(45deg, #db0a5b, #87d37c)
  display flex
  font-family 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
  font-weight 300
  justify-content center
  margin 0
  min-height 100vh
  overflow-x hidden
  padding 0
  width 100vw

svg
  height 30px
  width 30px

button
  align-items center
  background 0
  border 4px solid #fff
  border-radius 100%
  cursor pointer
  display inline-flex
  justify-content center
  height 44px
  left 50
  margin 30px 20px 0 20px
  top 50%
  transition background 0.5s
  width 44px

  &:hover
    background rgba(255, 255, 255, 0.25)

.card
  border-radius 6px
  height 100%
  left 0
  overflow hidden
  position absolute
  top 0
  filter grayscale(1) drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.15))
  transform scale(0) translate(0, 0)
  transition transform 0.5s, filter 0.5s, z-index 0.5s
  width 100%
  z-index -1

  &[data-gone="true"] .card__content-mark
    clip-path polygon(100% 70%, 0% 30%, 0% 100%, 100% 100%)

  &[data-coming="true"] .card__content-mark
    clip-path polygon(100% 30%, 0% 70%, 0% 100%, 100% 100%)

  &[data-pos="0"]
    filter grayscale(0) drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.15))
    transform scale(1) translate3d(0, 0, 4px)
    // z-index 4

  // &[data-pos="1"]
  // &[data-pos="-1"]
  //   z-index 3

  &[data-pos="1"]
    transform scale(0.8) translate3d(75%, 0, 3px)
  &[data-pos="-1"]
    transform scale(0.8) translate3d(-75%, 0, 3px)

  // &[data-pos="2"]
  // &[data-pos="-2"]
  //   z-index 2

  &[data-pos="2"]
    transform scale(0.6) translate3d(175%, 0, 2px)
  &[data-pos="-2"]
    transform scale(0.6) translate3d(-175%, 0, 2px)

  // &[data-pos="3"]
  // &[data-pos="-3"]
  //   z-index 1

  &[data-pos="3"]
    transform scale(0.5) translate3d(275%, 0, 1px)

  &[data-pos="-3"]
    transform scale(0.5) translate3d(-275%, 0, 1px)

  &__actions
    display flex
    justify-content center

  &__track
    height 300px
    position relative
    transform-style preserve-3d
    width 200px

  &__author
    bottom 10px
    color #22a7f0
    font-family 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
      Helvetica, Arial, 'Lucida Grande', sans-serif
    font-size 0.75rem
    font-weight 300
    left 0
    margin 0
    padding 0
    position absolute
    text-align center
    text-transform uppercase
    transition color 0.5s
    width 100%

  &__title
    align-items center
    color #111
    display flex
    font-family 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
      Helvetica, Arial, 'Lucida Grande', sans-serif
    font-size 1.25rem
    height 5rem
    justify-content center
    margin 10px 0 0 0
    padding 0
    text-align center

  &__content
    bottom 0
    height 50%
    left 0
    padding 30px 10px 10px 10px
    position absolute
    right 0

  &__content-mark
    background-color #fafafa
    bottom 0
    clip-path polygon(100% 50%, 0% 50%, 0% 100%, 100% 100%)
    height 100%
    left -1px
    position absolute
    right -1px
    transition clip-path 0.5s

  &__hero
    background #db0a5b
    height 70%
    object-fit cover
    width 100%

  &__avatar
    background #87d37c
    border-radius 100%
    height 60px
    left 50%
    position absolute
    top 50%
    transform translate(-50%, -50%)
    width 60px