*
  box-sizing border-box

body
  margin 0
  padding 0

#app
  align-items center
  display flex
  flex-direction column
  justify-content center
  min-height 100vh

select
  cursor pointer
  font-size 1.5rem