svg.rainbow-cloud(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 378.4 215.2')
  g.rainbow-cloud__rainbow.rainbow(stroke='#000' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round')
    path(d='M188 37A132 132 0 0056 169h13A119 119 0 01188 50a119 119 0 01119 119h14A132 132 0 00188 37z' fill='#ff2a2a')
    path(d='M188 44A126 126 0 0063 169h13A112 112 0 01188 57a112 112 0 01113 112h13A126 126 0 00188 44z' fill='#ffd42a')
    path(d='M188 50A119 119 0 0069 169h13A106 106 0 01188 64a106 106 0 01106 105h13A119 119 0 00188 50z' fill='#f60')
    path(d='M188 57A112 112 0 0076 169h13a99 99 0 0199-99 99 99 0 01100 99h13A112 112 0 00188 57z' fill='#6f0')
    path(d='M188 64A106 106 0 0082 169h14a93 93 0 0192-92 93 93 0 0193 92h13A106 106 0 00188 64z' fill='#00aad4')
    path(d='M188 70a99 99 0 00-99 99h13a86 86 0 0186-86 86 86 0 0186 86h14a99 99 0 00-100-99z' fill='purple')
    path(d='M188 77a93 93 0 00-92 92h6a86 86 0 0186-86 86 86 0 0186 86h7a93 93 0 00-93-92z' fill='#f0f')
  g.rainbow-cloud__cloud.cloud__wrapper
    g.cloud
      path.cloud__body(d='M96 122a26 26 0 00-22 11 19 20 0 00-12-4 19 20 0 00-19 16 24 24 0 00-3 0 24 24 0 00-24 24 24 24 0 0024 24 24 24 0 0010-2 19 20 0 0016 8 19 20 0 0014-5 19 20 0 0013 5 19 20 0 0015-7 19 20 0 0015 7 19 20 0 0019-19 19 20 0 00-8-16 19 20 0 002-9 19 20 0 00-17-19 26 26 0 00-23-14z' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round')
      //- g.cloud__face.cloud__face--happy(transform='translate(494 33)')
      //-   g(transform='translate(0 1)')
      //-     circle(cx='-439.2' cy='126' r='2.9')
      //-     circle(cx='-440.2' cy='125' r='.9' fill='#fff')
      //-   g(transform='translate(46 1)')
      //-     circle(r='2.9' cy='126' cx='-439.2')
      //-     circle(r='.9' cy='125' cx='-440.2' fill='#fff')
      //-   path(d='M-412 137a4 3 0 010 0 4 3 0 01-4 3 4 3 0 01-4-3v0a4 3 0 010 0' fill='none' stroke='#000' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round')
      //-   ellipse(cx='-448.6' cy='135.8' rx='3.2' ry='2.6' fill='#ff0')
      //-   ellipse(ry='2.6' rx='3.2' cy='135.8' cx='-381.2' fill='#ff0')
      g.cloud__face.cloud__face--sad(transform='translate(494 33)')
        g(transform='translate(0 1)')
          circle(r='2.9' cy='126' cx='-439.2')
          circle(r='.9' cy='125' cx='-440.2' fill='#fff')
        g(transform='translate(46 1)')
          circle(cx='-439.2' cy='126' r='2.9')
          circle(cx='-440.2' cy='125' r='.9' fill='#fff')
        path(d='M-420 140a4 3 0 010 0 4 3 0 014-3 4 3 0 014 3v0a4 3 0 010 0' fill='none' stroke='#000' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round')
        ellipse(ry='2.6' rx='3.2' cy='135.8' cx='-448.6' fill='#ff0')
        ellipse(cx='-381.2' cy='135.8' rx='3.2' ry='2.6' fill='#ff0')
      //- g.cloud__face.cloud__face--thrilled(transform='translate(494 33)')
      //-   g(fill='none' stroke='red' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round')
      //-     path(d='M-441 127a2 2 0 012-2 2 2 0 012 2M-395 127a2 2 0 012-3 2 2 0 012 3' stroke-width='1.021124')
      //-   ellipse(ry='1.7' rx='3.2' cy='134.8' cx='-448.6' fill='#ff0')
      //-   ellipse(cx='-381.2' cy='134.8' rx='3.2' ry='1.7' fill='#ff0')
      //-   path(d='M-421 137a5 5 0 005 4 5 5 0 005-4z')
      //-   path(d='M-416 138a4 4 0 00-3 2 5 5 0 003 1 5 5 0 003-1 4 4 0 00-3-2z' fill='red')1