*
  box-sizing border-box

body
  align-items center
  display flex
  justify-content center
  min-height 100vh

// .rainbow-cloud
//   width 50vmin

.cloud__body
  fill 'hsl(0, 0%, %s)' % calc(var(--cloud-lightness, 65) * 1%)
  stroke #000