{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        },
        "modules": false,
        "loose": true,
        "debug": true
      }
    ],
    "@babel/preset-react"
  ]
}