svg.hulk(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 77.0489 76.3117')
  g.hulk__body
    path.hulk__torso.hulk__body-part(d='M31.9442 17.561c-4.0288 0-8.297 1.7148-11.5957 4.2395a8.2185 8.2185 0 00-3.2536-.6744 8.2185 8.2185 0 00-8.2186 8.2181 8.2185 8.2185 0 008.2186 8.2186 8.2185 8.2185 0 00.8796-.0568c17.092 17.6507 3.7715 17.6538 13.9697 17.6538h13.1826c10.2476 0-3.2564-.0006 15.6161-17.6543a8.2185 8.2185 0 007.3334-8.1612 8.2185 8.2185 0 00-8.2186-8.2181 8.2185 8.2185 0 00-3.2313.6718c-3.4377-2.504-7.6529-4.237-11.4996-4.237z' fill='green' stroke='#250' stroke-width='1.1631' stroke-linecap='round' stroke-linejoin='round')
    path.hulk__body-part(d='M21.8389 34.5244c0 2.3617 3.829 4.2762 8.5524 4.2762 3.6562-.002 6.9056-1.1657 8.0858-2.896 1.18 1.73 4.4286 2.8938 8.0843 2.896 4.7233 0 8.5523-1.9145 8.5524-4.2762a2.1682 2.1682 0 00-.0268-.2672' fill='none' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
    g.hulk__body-part(fill='none' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
      path(d='M33.2174 46.431c0 1.1483.9307 2.079 2.0789 2.079s2.079-.9307 2.079-2.079a2.074 2.074 0 00-.0104-.189M43.7353 47.0939c0 1.1482-.9308 2.079-2.079 2.079s-2.079-.9308-2.079-2.079a2.0527 2.0527 0 01.0104-.1891M33.2174 42.8176c0 1.1482.9307 2.079 2.0789 2.079s2.079-.9308 2.079-2.079a2.074 2.074 0 00-.0104-.1892M43.4734 43.3468c0 1.1481-.9308 2.079-2.079 2.0789-1.1482 0-2.079-.9308-2.079-2.079a2.0527 2.0527 0 01.0104-.189M33.6129 50.1729c0 1.1481.9307 2.079 2.079 2.0789 1.1481 0 2.079-.9308 2.0789-2.079a2.074 2.074 0 00-.0104-.189M43.6016 50.702c0 1.1482-.9307 2.079-2.079 2.079-1.148 0-2.0789-.9308-2.0789-2.079a2.0527 2.0527 0 01.0104-.1891')
  g.hulk__back(transform='translate(-44.0242 -169.4513)')
    //- path.hulk__traps(d='M70.1634 186.7642l-.5292 5.6436c-.234 2.4967 2.0187 4.5263 4.5264 4.5263h16.6966c2.5076 0 4.5263-2.0187 4.5263-4.5263l-.5291-5.6436z')
    rect.hulk__back-head(width='24.727' height='19.6548' x='70.1453' y='175.4084' ry='4.3467')
    //- path(d='M75.9094 188.5242l12.9457 1.5119v2.4568H75.9094z' fill='#fff')
    path.hulk__hair(d='M70.1453 175.4084h24.727v5.3862l-1.5455-1.5875-1.5454 1.5875-1.5454-1.5875-1.5455 1.5875-1.5454-1.5875-1.5454 1.5875-1.5455-1.5875-1.5454 1.5875-1.5455-1.5875-1.5454 1.5875-1.5454-1.5875-1.5455 1.5875-1.5454-1.5875-1.5454 1.5875-1.5455-1.5875-1.5454 1.5875z')
    //- g(transform='rotate(-3.274 -919.9827 -909.7377)')
    //-   rect(ry='2.4388' y='243.7465' x='15.2344' height='4.8777' width='5.479')
    //-   path(d='M17.6733 243.7464c-.98 0-1.8193.5736-2.2076 1.4035h5.0163c-.3884-.8299-1.2277-1.4035-2.2077-1.4035z' fill='#fff')
    path.hulk__body-part.hulk__legs(stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round' d='M72.5113 226.1287h7.994v12.6281h-7.994zM84.8777 226.1287h7.994v12.6281h-7.994z')
    path.hulk__lats.hulk__body-part(d='M75.9683 187.0123c-4.0287 0-8.297 1.7149-11.5956 4.2395a8.2185 8.2185 0 00-3.2536-.6743 8.2185 8.2185 0 00-8.2186 8.218 8.2185 8.2185 0 008.2186 8.2187 8.2185 8.2185 0 00.8795-.0568c17.092 17.6506 3.7716 17.6537 13.9697 17.6537H89.151c10.2475 0-3.2564-.0005 15.6161-17.6542a8.2185 8.2185 0 007.3334-8.1613 8.2185 8.2185 0 00-8.2186-8.218 8.2185 8.2185 0 00-3.2313.6717c-3.4377-2.504-7.6529-4.237-11.4996-4.237z' stroke-width='1.1631' stroke-linecap='round' stroke-linejoin='round')
    path.hulk__shorts(d='M72.143 224.1321c-.0893 0-.1609.0521-.1609.1165v5.0333c0 .009.0042.0166.0067.0248v3.2468c0 .056.0623.1011.14.1011l1.205-1.0583 1.2051 1.0583 1.2051-1.0583 1.205 1.0583 1.2052-1.0583 1.205 1.0583 1.2051-1.0583 1.205 1.0583c.0584.0512.1406-.045.1406-.1011v-3.155h1.5632v3.155c0 .056.0629.1011.1405.1011l1.205-1.0583 1.2052 1.0583 1.205-1.0583 1.2051 1.0583 1.205-1.0583 1.2052 1.0583 1.205-1.0583 1.2051 1.0583c.0583.0512.14-.045.14-.1011v-3.2468c.0025-.008.0067-.016.0067-.0248v-5.0333c0-.0645-.0716-.1165-.1608-.1165z' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
    g.hulk__body-part.hulk__arms-set(stroke-linecap='round' stroke-linejoin='round')
      path(d='M62.8592 202.0472c.1395.6102.211 1.234.2134 1.8599-.0054 4.5427-3.5865 8.276-8.125 8.4703l-.6693.8738a.265.265 0 01-.3725.0491l-.227-.1736v5.7769a.2649.2649 0 01-.2655.2656h-8.1546a.2653.2653 0 01-.2661-.2656v-12.1641c0-.0958.0531-.1755.1287-.2222-.0315-.083-.0251-.1783.033-.2543l1.0124-1.3219a8.488 8.488 0 01-.0703-1.034c.0052-4.2212 3.1115-7.7972 7.2905-8.3928' stroke-width='1.3229')
      path(d='M44.9591 216.4276a.3042.3042 0 00-.3048.3049v9.3527c0 .169.136.305.3048.305h9.1169a.3042.3042 0 00.3048-.305v-9.3527a.3042.3042 0 00-.3048-.3049' stroke-width='1.2602')
      path(d='M51.5776 216.5356l-3.0736 6.1472 1.871-.2673v-1.2027' stroke-width='1.3229')
      g
        path(d='M102.238 202.0472a8.4882 8.4882 0 00-.2134 1.8599c.0054 4.5427 3.5865 8.276 8.1251 8.4703l.6692.8738a.265.265 0 00.3726.0491l.2269-.1736v5.7769c0 .1472.1183.2656.2656.2656h8.1545a.2653.2653 0 00.2662-.2656v-12.1641c0-.0958-.0532-.1755-.1287-.2222.0314-.083.025-.1783-.033-.2543l-1.0124-1.3219a8.488 8.488 0 00.0702-1.034c-.0052-4.2212-3.1115-7.7972-7.2905-8.3928' stroke-width='1.3229')
        path(d='M120.1381 216.4276c.169 0 .3049.136.3049.3049v9.3527a.3042.3042 0 01-.3049.305h-9.1168a.3042.3042 0 01-.3049-.305v-9.3527c0-.169.136-.3049.3049-.3049' stroke-width='1.2602')
        path(d='M113.5196 216.5356l3.0736 6.1472-1.8709-.2673v-1.2027' stroke-width='1.3229')
    path.hulk__lats.hulk__body-part(d='M80.771 190.6199a33.9318 33.9318 0 00-1.7677.1985 26.6499 26.6499 0 00-1.7625.305c-.5826.122-1.1585.2656-1.7216.4345-.5631.169-1.1136.3632-1.6454.5867-.5318.2235-1.045.4761-1.5336.7618-.4887.2856-.9528.6042-1.3865.9597a9.3085 9.3085 0 00-1.2039 1.1804m25.5013-.0155c-.285-.3443-.6123-.673-.9774-.985-.3651-.3119-.768-.6069-1.2046-.8834-.4365-.2766-.9067-.5347-1.406-.7728-.4995-.2381-1.0282-.4563-1.582-.653a19.5578 19.5578 0 00-1.732-.524 22.1571 22.1571 0 00-1.8565-.386 24.1075 24.1075 0 00-1.9553-.239' fill='green' stroke='#250' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
  g.hulk__body-part.hulk__legs(stroke-linecap='round' stroke-linejoin='round')
    path(stroke-width='1.3229' d='M28.487 56.6773h7.994v12.6281h-7.994zM40.8536 56.6773h7.994v12.6281h-7.994z')
    g(transform='translate(-93.2283 -160.5738)')
      ellipse(ry='1.6998' rx='1.5676' cy='229.955' cx='122.0863' stroke-width='1.3229')
      ellipse(cx='128.7954' cy='229.2478' rx='2.1107' ry='2.2888' stroke-width='.9195')
      ellipse(cx='124.9684' cy='229.7024' rx='1.7615' ry='1.9101' stroke-width='1.3229')
      ellipse(ry='2.2888' rx='2.1107' cy='229.2478' cx='128.7954' stroke-width='1.3229')
    g(transform='matrix(-1 0 0 1 170.563 -160.5738)')
      ellipse(cx='122.0863' cy='229.955' rx='1.5676' ry='1.6998' stroke-width='1.3229')
      ellipse(ry='2.2888' rx='2.1107' cy='229.2478' cx='128.7954' stroke-width='.9195')
      ellipse(ry='1.9101' rx='1.7615' cy='229.7024' cx='124.9684' stroke-width='1.3229')
      ellipse(cx='128.7954' cy='229.2478' rx='2.1107' ry='2.2888' stroke-width='1.3229')
  g.hulk__head.hulk__head--front(transform='translate(-44.7623 -166.365)')
    path.hulk__chin(d='M70.9015 183.678l-.5292 5.6435c-.234 2.4967 2.0187 4.5264 4.5264 4.5264h16.6966c2.5077 0 4.5264-2.0187 4.5264-4.5264l-.5292-5.6436z' fill='#250')
    rect.hulk__face(ry='4.3467' y='172.3221' x='70.8834' height='19.6548' width='24.727' fill='green')
    g.hulk__eye--left(transform='translate(71.1054 -40.3892)')
      circle.hulk__eye(cx='17.6704' cy='222.7277' r='1.4174')
      circle.hulk__pupil(cx='17.1979' cy='222.3497' r='.4725')
    path.hulk__eyebrow(d='M90.178 178.4642l-5.7641 3.0239' fill='none' stroke-width='1.3229')
    path.hulk__mouth(d='M76.6475 185.438l12.9457 1.5118v2.4569H76.6475z')
    g.hulk__eye--right(transform='translate(60.0014 -40.3892)')
      circle.hulk__eye(cx='17.6704' cy='222.7277' r='1.4174')
      circle.hulk__pupil(cx='17.1979' cy='222.3497' r='.4725')
    path.hulk__eyebrow(d='M76.2696 178.4642l5.7641 3.0239' fill='none' stroke-width='1.3229')
    path.hulk__hair(d='M70.8834 172.3221h24.727v5.3862l-1.5455-1.5875-1.5454 1.5875-1.5454-1.5875-1.5455 1.5875-1.5454-1.5875-1.5454 1.5875-1.5455-1.5875-1.5454 1.5875-1.5454-1.5875-1.5455 1.5875-1.5454-1.5875-1.5454 1.5875-1.5455-1.5875-1.5454 1.5875-1.5455-1.5875-1.5454 1.5875z')
    g.hulk__mouth-scream(transform='rotate(-3.274 -973.6173 -924.1964)')
      rect.hulk__open-mouth(width='5.479' height='4.8777' x='15.2344' y='243.7465' ry='2.4388')
      path.hulk__teeth(d='M17.6733 243.7464c-.98 0-1.8193.5736-2.2076 1.4035h5.0163c-.3884-.8299-1.2277-1.4035-2.2077-1.4035z')
    path.hulk__sweat(d='M94.2125 179.535a.8018.8018 0 11-1.6036 0c0-.4428.359-1.8601.8018-1.8601.4428 0 .8018 1.4173.8018 1.8601z')
  path.hulk__shorts(d='M28.1187 54.6808c-.0892 0-.1608.052-.1608.1165v5.0333c0 .009.0042.0166.0067.0248v3.2467c0 .0561.0624.1012.14.1012l1.205-1.0584 1.2052 1.0584 1.205-1.0584 1.2051 1.0584 1.205-1.0584 1.2052 1.0584 1.205-1.0584 1.2051 1.0584c.0583.0512.1405-.045.1405-.1012v-3.155h1.5632v3.155c0 .0561.0629.1012.1405.1012l1.2051-1.0584 1.205 1.0584 1.2052-1.0584 1.205 1.0584 1.2051-1.0584 1.205 1.0584 1.2051-1.0584 1.2051 1.0584c.0584.0512.14-.045.14-.1012v-3.2467c.0025-.008.0067-.016.0067-.0248v-5.0333c0-.0645-.0715-.1165-.1608-.1165z' fill='purple' stroke='#2b0000' stroke-width='1.3229' stroke-linecap='round' stroke-linejoin='round')
  g.hulk__arms.hulk__arms--flight-mode.hulk__body-part
    g(stroke-linecap='round' stroke-linejoin='round')
      path(d='M18.835 24.973a8.4882 8.4882 0 00.2135-1.8599c-.0055-4.5427-3.5865-8.276-8.1251-8.4703l-.6692-.8738a.265.265 0 00-.3726-.049l-.2269.1735V8.1166a.2649.2649 0 00-.2656-.2656H1.2346a.2653.2653 0 00-.2662.2656v12.1641c0 .0958.0531.1755.1287.2223-.0315.083-.0251.1782.033.2542l1.0124 1.3219a8.488 8.488 0 00-.0703 1.034c.0052 4.2212 3.1116 7.7972 7.2905 8.3928' stroke-width='1.3229')
      path(d='M.935 10.5926a.3042.3042 0 01-.305-.3049V.935C.63.766.766.63.935.63h9.1168c.1689 0 .3048.136.3048.305v9.3527a.3042.3042 0 01-.3048.3049' stroke-width='1.2602')
      path(d='M7.5535 10.4846L4.4799 4.3374l1.8709.2673v1.2027' stroke-width='1.3229')
      g
        path(d='M58.2139 24.973a8.4882 8.4882 0 01-.2135-1.8599c.0055-4.5427 3.5865-8.276 8.1251-8.4703l.6692-.8738a.265.265 0 01.3726-.049l.2269.1735V8.1166a.2649.2649 0 01.2656-.2656h8.1545a.2653.2653 0 01.2662.2656v12.1641c0 .0958-.0532.1755-.1287.2223.0315.083.0251.1782-.033.2542l-1.0124 1.3219c.0445.343.068.6882.0703 1.034-.0052 4.2212-3.1116 7.7972-7.2905 8.3928' stroke-width='1.3229')
        path(d='M76.114 10.5926a.3042.3042 0 00.3048-.3049V.935A.3042.3042 0 0076.114.63h-9.1168a.3042.3042 0 00-.3049.305v9.3527c0 .169.136.3049.305.3049' stroke-width='1.2602')
        path(d='M69.4954 10.4846l3.0736-6.1472-1.8709.2673v1.2027' stroke-width='1.3229')
  g.hulk__arms.hulk__arms--smash-mode.hulk__body-part(stroke-width='1.3229' stroke-linecap='round')
    g.hulk__arm.hulk__arm--left
      path(d='M20.002 31.5689c.4458 1.054.6923 2.2129.6923 3.4293 0 4.8657-3.9444 8.81-8.8101 8.81s-8.8101-3.9443-8.8101-8.81 3.9444-8.8101 8.81-8.8101' stroke-linejoin='round')
      g.hulk__forearm.hulk__forearm--left
        path(d='M10.345 39.7024c-1.015 3.2399 1.6738 6.9664 6.0055 8.3231 2.2269.6949 4.5691.649 6.4428-.1263a2.5995 2.5995 0 002.4085 1.597l5.609-.0107c1.4432-.003 2.6033-1.167 2.6006-2.6104l-.01-5.3454c-.0028-1.4433-1.1672-2.6028-2.6105-2.6001l-5.609.0106a2.6124 2.6124 0 00-.7305.1063c-1.1234-1.235-2.681-2.204-4.426-2.7532-.4861-.1523-.9806-.2701-1.4772-.3524a10.4402 10.4402 0 00-1.4895-.1392h0' stroke-linejoin='round')
        path(d='M28.3394 42.0882h4.7625M28.604 45.5278h4.6302' fill='none')
    g.hulk__arm.hulk__arm--right
      path(d='M56.377 31.5689c-.4457 1.054-.6923 2.2129-.6923 3.4293 0 4.8657 3.9445 8.81 8.8101 8.81 4.8657 0 8.8102-3.9443 8.8102-8.81s-3.9445-8.8101-8.8102-8.8101' stroke-linejoin='round')
      g.hulk__forearm.hulk__forearm--right
        path(d='M66.034 39.7024c1.015 3.2399-1.6738 6.9664-6.0054 8.3231-2.227.6949-4.5692.649-6.4428-.1263a2.5995 2.5995 0 01-2.4086 1.597l-5.609-.0107c-1.4432-.003-2.6033-1.167-2.6005-2.6104l.01-5.3454c.0027-1.4433 1.1671-2.6028 2.6104-2.6001l5.609.0106c.2541.0004.4987.0386.7305.1063 1.1234-1.235 2.681-2.204 4.426-2.7532.4861-.1523.9806-.2701 1.4772-.3524.4966-.0822.9952-.129 1.4895-.1392h0' stroke-linejoin='round')
        path(d='M48.0397 42.0882h-4.7625M47.775 45.5278H43.145' fill='none')
  //- g
  //-   path(fill='#b3b3b3' stroke='#1a1a1a' stroke-width='.9089' stroke-linecap='round' stroke-linejoin='round' d='M7.1807 50.3077h62.5911v25.5495H7.1808z')
  //-   text(style='line-height:1.25' x='44.6502' y='254.0279' font-weight='400' font-size='10.5833' font-family='sans-serif' letter-spacing='0' word-spacing='0' stroke-width='.2646' transform='translate(-29.4514 -186.9999)')
  //-     tspan(x='44.6502' y='254.0279') Like
