-
  const ITEMS = [
    {
      title: 'Impossible Checkbox',
      link: "https://codepen.io/jh3y/pen/LYNZwGm",
      src: "https://assets.codepen.io/605876/impossible-checkbox.png"
    },
    {
      title: "Newton's Light Bulbs",
      link: "https://codepen.io/jh3y/pen/abzeaWJ",
      src: "https://assets.codepen.io/605876/newtons-lightbulbs.png"
    },
    {
      title: "Pure CSS Tic Tac Toe",
      link: "https://codepen.io/jh3y/pen/BVaGKP",
      src: "https://assets.codepen.io/605876/css-tic-tac-toe.png"
    },
    //- {
    //-   title: "Cards Against Developers",
    //-   link: "https://codepen.io/jh3y/pen/JZbKpp",
    //-   src: "https://assets.codepen.io/605876/cards-against-developers.png"
    //- },
    {
      title: "Turbo Kitty",
      link: "https://codepen.io/jh3y/pen/bGEBKoy",
      src: "https://assets.codepen.io/605876/turbo-kitty.png"
    },
    //- {
    //-   title: "Glitchy CSS Text",
    //-   link: "https://codepen.io/jh3y/pen/jOOQjYP",
    //-   src: "https://assets.codepen.io/605876/cards-against-developers.png"
    //- }
    {
      title: "Pure CSS Drawers",
      link: "https://codepen.io/jh3y/pen/mLaXRe",
      src: "https://assets.codepen.io/605876/css-drawers.png?format=auto"
    },
    {
      title: "CSS 3D Studio Room",
      link: "https://codepen.io/jh3y/pen/XWdQBRx",
      src: "https://assets.codepen.io/605876/3d-studio-room.png"
    },
    //- {
    //-   title: "T-Shirt Cannon Button",
    //-   link: "https://codepen.io/jh3y/pen/eYpmBxQ",
    //-   src: "https://assets.codepen.io/605876/t-shirt-cannon.png"
    //- },
    {
      title: "Code Name: RamBear",
      link: "https://codepen.io/jh3y/pen/QWyYZbP",
      src: "https://assets.codepen.io/605876/rambear.png"
    },
    {
      title: "Care Bear Needs Love",
      link: "https://codepen.io/jh3y/pen/RwPrOoz",
      src: "https://assets.codepen.io/605876/care-bear-needs-love.png"
    },
    {
      title: "HSL Dimmer Switch",
      link: "https://codepen.io/jh3y/pen/MWYJPwZ",
      src: "https://assets.codepen.io/605876/hsl-dimmer.png"
    },
    {
      title: "Tuggable Light Bulb",
      link: "https://codepen.io/jh3y/pen/VwjgdLj",
      src: "https://assets.codepen.io/605876/tuggable-lightbulb.png"
    }
  ]

.top-picks
  h1.top-picks__title Top 10 in Jhey's Pens Today
  ul.top-picks__track
    for ITEM, index in ITEMS
      li.item.top-picks__item(style=`--index: ${index};`)
        a.item__card(href=ITEM.link target="_blank" rel="noopener noreferrer")
          img(src=ITEM.src)
          span= ITEM.title

