@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*
*:before
*:after
  box-sizing border-box
  font-family 'Roboto', sans-serif

// Card measure was 165 x 240
// Font-size was about 110
// Card margin was about 60
:root
  --bg hsl(0, 0%, 8%)
  --size 50vmin
  --height var(--size)
  --width calc(0.6875 * var(--size))
  --font-size calc(0.74 * var(--size))
  --gap calc(0.22 * var(--size))


body
  background var(--bg)
  min-height 100vh
  display flex
  align-items center
  justify-content start
  font-family 'Roboto', sans-serif


.top-picks
  max-width 100%
  padding-left 2rem

  &__track
    height var(--height)
    margin 0
    padding 0
    display flex
    list-style-type none
    padding 0 var(--gap)
    max-width 100%
    overflow-x auto
    overflow-y hidden
    counter-reset index
    transform-style preserve-3d
    scroll-snap-type x mandatory

  &__title
    color hsl(0, 0%, 100%)
    font-size clamp(1.2rem, 5vmin, 3rem)
    font-weight 700

  &__item
    overflow hidden
    width calc(var(--width) + var(--gap))
    flex 0 0 calc(var(--width) + var(--gap))
    position relative
    list-style none
    counter-increment index
    transform-style preserve-3d
    z-index calc(var(--index) * -1)
    transform translate3d(0, 0, calc(var(--index) * -1px))
    padding-left var(--gap)
    scroll-snap-align center

    .item__card
      width var(--width)
      position absolute
      right 0
      top 0
      bottom 0
      border-radius 2vmin
      background hsl(0, 0%, 14%)
      overflow hidden

      img
        position absolute
        height 100%
        width 100%
        object-fit cover

      span
        text-decoration none
        position absolute
        top 2rem
        right 2rem
        max-width 50%
        text-align right
        color white
        font-weight bold
        font-size clamp(1rem, 2vmin, 2rem)
        text-shadow 0.5vmin 0 2vmin var(--bg)

    &:after
      content counter(index)
      position absolute
      color var(--bg)
      font-size var(--font-size)
      line-height 0.7
      bottom 0
      font-weight bold
      letter-spacing -5vmin
      left 0
      -webkit-text-stroke 0.5vmin hsl(0, 0%, 100%)
      text-shadow 1vmin 0 4vmin var(--bg)
      transform translate(-14%, 0)



