input(type='range', min='0', max='100', value='0')
h1 SCROLL
.scroll
.cat__container
  .cat
    .cat__body
    .cat__arm.cat__arm--left
    .cat__arm.cat__arm--right
    .cat__foot.cat__foot--left
    .cat__foot.cat__foot--right
    .cat__ear.cat__ear--left
    .cat__ear.cat__ear--right
    .cat__eyes
      .cat__eye.cat__eye--left
        .cat__eye-pupil
      .cat__eye.cat__eye--right
        .cat__eye-pupil
    .cat__nose
    .cat__mouth
.container
  .tongue