.container
  .square.top
    .rotater
      .square.scaler
        .extras-wrapper
          .square.extras
            .square.extras-container
              .square.extra--1
              .square.extra--2
        .square.corner-piece
          .square.upright
  .square.bottom
    .square.rotater--bottom
      .square.scaler--bottom
        .square.slider-container
          .square.slider
    .square.grower
