input#corner(type='checkbox')
input#rotater(type='checkbox')
input#bottom(type='checkbox')
.container
  .square.top
    .rotater
      .square.scaler
        label.extras-wrapper(for='rotater')
          .square.extras
            .square.extras-container
              .square.extra--1
              .square.extra--2
        label.square.corner-piece(for='corner')
          .square.upright
  label.square.bottom(for='bottom')
    .square.rotater--bottom
      .square.scaler--bottom
        .square.slider-container
          .square.slider
    .square.grower
