*
  box-sizing border-box

$scaleDown = math(5000, 'sqrt') / 100
$scaleUp = math(20000, 'sqrt') / 100

:root
  --size 150
  --scale-down $scaleDown
  --scale-up $scaleUp
  --lightness 85
  --h-1 45
  --h-2 255
  --h-3 150
  --h-4 180
  --h-5 280
  --s 80
  --l 40

  @media(min-width 768px)
    --size 300

  @media(prefers-color-scheme dark)
    --lightness 15


body
  min-height 100vh
  display flex
  align-items center
  justify-content center
  background 'hsl(0, 0%, %s)' % calc(var(--lightness) * 1%)

.container
  height calc(var(--size) * 2px)
  width calc(var(--size) * 1px)

.top
.bottom
  height calc(var(--size) * 1px)
  width calc(var(--size) * 1px)
  position relative

// .bottom
//   background purple

.rotater
  top 0
  left 0
  position absolute
  height 100%
  width 100%
  transform-origin bottom right
  animation rotate 4s infinite alternate linear

.scaler
  height 100%
  width 100%
  position absolute
  top 0
  left 0
  animation scale-down 4s infinite alternate cubic-bezier(0.55, 0, 1, 1)
  transform-origin bottom right
  --lightness 15

  @media(prefers-color-scheme dark)
    --lightness 85

  &:after
    content ''
    position absolute
    top 100%
    left 0
    height 10%
    width 10%
    border-width 4px
    border-style solid
    border-color 'hsl(0, 0%, %s)' % calc(var(--lightness) * 1%)
    transform-origin top left
    animation scale-up 4s infinite alternate linear


.corner-piece
  position absolute
  top 100%
  right 100%
  background 'hsl(%s, %s, %s)' % (var(--h-1) calc(var(--s) * 1%) calc(var(--l) * 1%))
  height 100%
  width 100%
  transform-origin top right
  animation scale-up 4s infinite alternate cubic-bezier(0.81, 0.60, 1, 1)
  overflow hidden


.upright
  background 'hsl(%s, %s, %s)' % (var(--h-2) calc(var(--s) * 1%) calc(var(--l) * 1%))
  position absolute
  height 100%
  width 100%
  transform-origin bottom right
  animation upright-rotate 4s infinite alternate linear

.extras
  height 100%
  width 100%
  transform-origin top right
  animation extras-rotate 4s infinite alternate linear

.extras-wrapper
  height 100%
  width 100%
  overflow hidden

.extras-container
  background 'hsl(%s, %s, %s)' % (var(--h-3) calc(var(--s) * 1%) calc(var(--l) * 1%))
  height 100%
  width 100%
  transform-origin top right
  animation extras-scale 4s infinite alternate cubic-bezier(0.70, 0, 1, 1)

.extra--1
  height 100%
  width 100%
  position absolute
  bottom 100%
  left 0
  background 'hsl(%s, %s, %s)' % (var(--h-4) calc(var(--s) * 1%) calc(var(--l) * 1%))

.extra--2
  height 100%
  width 100%
  background 'hsl(%s, %s, %s)' % (var(--h-5) calc(var(--s) * 1%) calc(var(--l) * 1%))
  position absolute
  right 100%
  top 0

.bottom
  overflow hidden

.rotater--bottom
  height 100%
  width 100%
  transform-origin top right
  animation rotate 4s infinite alternate linear
  z-index 2
  position absolute
  top 0
  left 0

.scaler--bottom
  height 100%
  width 100%
  background 'hsl(%s, %s, %s)' % (var(--h-3) calc(var(--s) * 1%) calc(var(--l) * 1%))
  transform-origin top right
  position relative
  animation scale-down 4s infinite alternate cubic-bezier(0.55, 0, 1, 1)
  z-index 2

.grower
  position absolute
  top 0
  right 100%
  height 100%
  width 100%
  background 'hsl(%s, %s, %s)' % (var(--h-2) calc(var(--s) * 1%) calc(var(--l) * 1%))
  animation rotate 4s infinite alternate linear
  transform-origin bottom right
  z-index 1

  &:after
    content ''
    background 'hsl(%s, %s, %s)' % (var(--h-4) calc(var(--s) * 1%) calc(var(--l) * 1%))
    height 200%
    width 200%
    position absolute
    top 0
    left 100%

.slider-container
  position absolute
  background 'hsl(%s, %s, %s)' % (var(--h-5) calc(var(--s) * 1%) calc(var(--l) * 1%))
  left 100%
  top 0
  height 100%
  width 100%

.slider
  position absolute
  height 100%
  width 100%
  background 'hsl(%s, %s, %s)' % (var(--h-1) calc(var(--s) * 1%) calc(var(--l) * 1%))
  animation slide 4s infinite alternate cubic-bezier(0.55, 0, 1, 1)
  transform-origin bottom center

@keyframes slide
  from
    transform scaleY(0)
  to
    transform scaleY(1)

@keyframes rotateScale
  from
    transform scale(1) rotate(0deg)
  to
    transform scale(var(--scale-down)) rotate(45deg)

@keyframes extras-scale
  from
    transform scale(1)
  to
    transform scale(var(--scale-up))

@keyframes extras-rotate
  from
    transform rotate(0deg)
  to
    transform rotate(-45deg)

@keyframes upright-rotate
  from
    transform scale(2) rotate(90deg)
  to
    transform scale(2) rotate(45deg)

@keyframes scale-up
  from
    transform scale(0)
  to
    transform scale(1)

@keyframes rotate
  from
    transform rotate(0deg)
  to
    transform rotate(45deg)

@keyframes scale-down
  from
    transform scale(1)
  to
    transform scale(var(--scale-down))