.envelope
  input.envelope__check(type='checkbox')
  .envelope__flap.envelope__flap--inside
  .envelope__flap
  .envelope__letter
    .letter
      .letter__content
        p Hey!
        p.
          The whole purpose of places like Starbucks is for people with no decision-making ability whatsoever to make six decisions just to buy one cup of coffee. Short, tall, light, dark, caf, decaf, low-fat, non-fat, etc.
      .letter__content
      .letter__content
        p.
          So people who don't know what the hell they're doing or who on earth they are can, for only $2.95, get not just a cup of coffee but an absolutely defining sense of self: Tall. Decaf. Cappuccino.
        span.sign-off Joe Fox
  .envelope__back