/*
 * Base styling
*/
*
  box-sizing border-box

body
  background radial-gradient(#000, #222), #222
  height 100vh
  overflow hidden

button
  -webkit-tap-highlight-color transparent
  background transparent
  border 0
  border-radius 100%
  bottom 20px
  height 44px
  left 50%
  outline-color transparent
  position fixed
  transform translate(-50%, 0)
  transition background .25s
  width 44px
  z-index 2

  &:hover
    background rgba(255, 255, 255, 0.4)

  &:active
    background rgba(255, 255, 255, 0.8)

  svg
    height 30px
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    width 30px

/*
 * Animations
*/
@keyframes pulse
  0, 100%
    transform translate(-50%, -50%) rotate(calc(var(--angle) * 1deg)) translate(-50%, calc(var(--translate) * -1px)) scale(1)
  50%
    transform translate(-50%, -50%) rotate(calc(var(--angle) * 1deg)) translate(-50%, calc(var(--translate) * -1px)) scale(1.4)

@keyframes rotate
  to
    transform rotate(-360deg)

#root
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  max-height 100vh
  transform-style preserve-3d

.scene
  height 100vh
  width 100vw
  overflow hidden

.atmosphere
  background radial-gradient(var(--atmosphere) 0%, transparent calc(var(--radius) * 2%))
  height calc(var(--size) * 1px)
  left 50%
  position absolute
  top 50%
  transform translate(-50%, -50%) scale(0)
  width calc(var(--size) * 1px)

.stars
  height 100%
  opacity 0
  position absolute
  width 100%

.star
  background #FAFAFA
  border-radius 100%
  height calc(var(--size) * 1px)
  left calc(var(--x) * 1%)
  opacity var(--alpha)
  position absolute
  top calc(var(--y) * 1%)
  width calc(var(--size) * 1px)

.planet
  background var(--bg)
  border-radius 100%
  height calc(var(--size) * 1px)
  left 50%
  position absolute
  top 50%
  transform translate(-50%, -50%) scale(0)
  width calc(var(--size) * 1px)
  z-index 2

  &__flag
    background #fafafa
    height 80px
    left 50%
    position absolute
    top 50%
    transform translate(-50%, -50%) rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * -1px)) translate(0, -35%)
    width 5px

    &:after
      background var(--color)
      content ''
      height 40px
      left 100%
      position absolute
      top 0
      width 60px

  &__surface
    background var(--bg)
    border-radius 100%
    filter drop-shadow(0 0 10px var(--atmosphere))
    height 100%
    position absolute
    width 100%

  &__planet
    animation rotate calc(var(--speed) * 1s) infinite linear
    height 100%
    position absolute
    width 100%

  &__bumps
    height 100%
    position absolute
    width 100%

  &__spots
    border-radius 100%
    height calc(var(--size) * 1px)
    filter drop-shadow(0 0 2px #000)
    left 50%
    opacity var(--alpha)
    overflow hidden
    position absolute
    top 50%
    transform translate(-50%, -50%)
    width calc(var(--size) * 1px)

  &__clouds
    border-radius 100%
    height calc(var(--size) * 1px)
    left 50%
    position absolute
    top 50%
    transform translate(-50%, -50%)
    width calc(var(--size) * 1px)

    &--loaded .cloud
      animation pulse calc(var(--speed) * 1s) calc(var(--delay) * 1s) infinite alternate-reverse linear

  &__spot
    background var(--spotColor)
    border-radius 100%
    height calc(var(--size) * 1%)
    left calc(var(--x) * 1%)
    position absolute
    top calc(var(--y) * 1%)
    transform translate(-50%, -50%)
    width calc(var(--size) * 1%)

.bump
  background var(--bg)
  border-radius calc(var(--curve) * 1%)
  height calc(var(--size) * 1px)
  left 50%
  position absolute
  top 50%
  transform translate(-50%, -50%) rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * -1px))
  width calc(var(--size) * 1px)

.cloud
  background white
  border-radius 100%
  height calc(var(--size) * 1px)
  left 50%
  opacity var(--alpha)
  position absolute
  top 50%
  transform translate(-50%, -50%) rotate(calc(var(--angle) * 1deg)) translate(-50%, calc(var(--translate) * -1px)) scale(0)
  width calc(var(--size) * 1px)

.astronaut
  bottom 98%
  height 50px
  left 50%
  position absolute
  transform translate(-50%, 0)
  width 50px

  &--jumping
    .astronaut__arm--left
      transform rotate(115deg)
    .astronaut__arm--right
      transform rotate(-115deg)
    .astronaut__foot--left
      transform rotate(45deg)
    .astronaut__foot--right
      transform rotate(-45deg)

  &__wrapper
    height 100%
    position relative
    transform rotate(calc(var(--angle) * 1deg))
    width 100%

  &__head
    background white
    border-radius 25% 25% 25% 25%/50% 50% 50% 50%
    height 60%
    position absolute
    left 0
    top 0
    transform translate(0, -30%)
    width 100%
    z-index 2

  &__backpack
    background silver
    border-radius 5px 0 0 5px
    height 50%
    left 0
    position absolute
    top 30%
    width 50%

  &__visor
    background black
    border-radius 100%
    height 125%
    overflow hidden
    position absolute
    top -20%
    width 100%

    &:after
      border-radius 100%
      border-right 8px solid white
      content ''
      height 200%
      left -125%
      opacity 0.8
      position absolute
      top -50%
      width 200%

  &__arm
    background #e8e8e8
    border-radius 6px
    height 25%
    left 18%
    position absolute
    top 55%
    transform-origin top center
    width 6px

    &:after
      background black
      border-radius 100%
      bottom 0
      content ''
      height 6px
      left 0
      position absolute
      width 6px

    &--right
      left 78%

  &__foot
    background #e8e8e8
    border-radius 6px
    bottom 0
    height 25%
    left 35%
    position absolute
    transform-origin top center
    width 6px

    &:after
      background #000
      bottom -2px
      border-radius 100%
      content ''
      height 6px
      position absolute
      width 6px

    &--right
      left 55%

  &__body
    background white
    border-radius 25% 25% 50% 50% / 30% 30% 30% 30%
    height 85%
    left 50%
    position absolute
    top 5%
    transform translate(-50%, 0)
    width 70%

    &:after
      background var(--badge)
      border-radius 100%
      content ''
      height 10px
      position absolute
      right 6px
      top 55%
      width 10px