.santa
  .santa__legs
  .santa__feet
    .santa__foot.santa__foot--left
    .santa__foot.santa__foot--right
  .santa__body-container
    .santa__arm.santa__arm--left
    .santa__arm.santa__arm--right
    .santa__body
  .santa__head
    .santa__beard
    .santa__face
      .santa__eye.santa__eye--left
      .santa__eye.santa__eye--right
      .santa__mouth
    .santa__hat
      .santa__hat-brim
  .box-model-container
    .box-model
.output
