*
  box-sizing border-box
  animation  fadeIn .5s

:root
  --width 400
  --height 200

body
  min-height 100vh
  display flex
  flex-direction column
  align-items center
  justify-content center

canvas
img
  height calc(var(--height) * 1px)
  width calc(var(--width) * 1px)

img
  object-fit cover

img:not([src])
  display none