.pie
  .pie__segment(style='--offset: 0; --value: 25; --bg: #db0a5b;')
  .pie__segment(style='--offset: 25; --value: 10; --bg: #22a7f0;')
  .pie__segment(style='--offset: 35; --value: 60; --bg: #2ecc71; --over50: 1;')
  .pie__segment(style='--offset: 95; --value: 5; --bg: #4d05e8;')
.actions
  label Offset
  label Value
  input(type='number', min='0', max='360', step='1', value='0')
  input(type='number', min='0', max='360', step='1', value='25')
  input(type='number', min='0', max='360', step='1', value='25')
  input(type='number', min='0', max='360', step='1', value='10')
  input(type='number', min='0', max='360', step='1', value='35')
  input(type='number', min='0', max='360', step='1', value='60')
  input(type='number', min='0', max='360', step='1', value='95')
  input(type='number', min='0', max='360', step='1', value='5')