- const colors = ['#0088FF', '#FFAA00', '#FF7700', '#FF0033', '#9911AA', '#AADD22']
.container
  - for (let b = 0; b < colors.length; b++)
    button(role='button' tabindex='0' style=`--buttonColor: ${colors[b]}`) Boo!
      span
      span
      span
      span
      b(aria-hidden='true') Boo!
      b(aria-hidden='true') Boo!
      b(aria-hidden='true') Boo!
      b(aria-hidden='true') Boo!