- const colors = ['#0088FF', '#FFAA00', '#FF7700', '#FF0033', '#9911AA', '#AADD22']
.container
  - for (let b = 0; b < colors.length; b++)
    button(style=`--text: "Button"; --color: ${colors[b]}`) Button
      span
      span
      span
      span
      div Button
      div Button
      div Button
      div Button