- const colors = ['#0088FF', '#FFAA00', '#FF7700', '#FF0033', '#9911AA', '#AADD22']
.container
  - for (let b = 0; b < colors.length; b++)
    button(role='button' tabindex='0' style=`--color: ${colors[b]}`) Click!
      span
      span
      span
      span
      div(aria-hidden='true') Click!
      div(aria-hidden='true') Click!
      div(aria-hidden='true') Click!
      div(aria-hidden='true') Click!
      div(aria-hidden='true') Click!