*
  box-sizing border-box

body
  align-items center
  background radial-gradient(#2eec71, black)
  display flex
  justify-content center
  height 100vh
  width 100vw
  overflow hidden

img
  background-color #fafafa
  height 200px
  width 200px
  border-radius 100%
  object-fit cover
  transform scale(var(--scale, 1))