.scene
  .cowboy
    include Cowboy.svg
    svg.stache.cowboy__stache(viewBox="5 6 10 4")
      path.stache__path(d="M 5 10 C 5 8 5 7 7 7 M 7 7 L 7 7 Q 8 5 9 7 L 13 7 C 15 7 15 8 15 10 C 14 9 14 9 13 9 L 9 9 Q 8 7 7 9 L 7 9 C 6 9 6 9 5 10z")