*
  box-sizing border-box

body
  min-height 100vh
  background hsl(46, 80%, 50%)
  height: 200vh

.scene
  height 100vh
  width 100vw
  align-items center
  justify-content center
  position fixed
  display none

.cowboy
  height 50vmin
  width 50vmin
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

  &__hat
    &--main
      fill hsl(40, 80%, 30%)
    &--brim
      fill hsl(45, 80%, 20%)

  &__brow
    stroke hsl(0, 0%, 5%)

  &__pupil
    fill hsl(0, 0%, 100%)

  &__eye-main
    fill hsl(0, 0%, 5%)

  &__lip
    stroke hsl(0, 0%, 5%)

  &__tongue
    fill hsl(10, 100%, 50%)

  &__mouth
    fill hsl(0, 0%, 0%)

  &__teeth
    fill hsl(0, 0%, 100%)

  &__face
    height 100%
    width 100%

  &__stache
    fill hsl(0, 0%, 5%)
    position absolute
    top 50%
    left 50%
    width 30vmin
    transform translate(-50%, 30%)