.clock
  .clock__head
    .clock__face
      .clock__minutes
        .clock__hand.clock__hand--minutes
      .clock__hours
        .clock__hand.clock__hand--hours
  .clock__body
    .clock__cabinet
      .clock__pendulum
