*
  box-sizing border-box
  transform-style preserve-3d

:root
  --stroke hsl(0, 0%, 10%)
  --body-dark hsl(45, 80%, 60%)
  --body-light hsl(45, 80%, 80%)
  --spot hsl(0, 0%, 98%)
  --hue 10

body
  min-height 100vh
  display grid
  place-items center
  background hsla(90, 0%, 15%, 1)

.shroom__field
  opacity 0
  display grid
  grid-template-columns repeat(var(--count), auto)
  grid-template-rows repeat(var(--count), auto)
  transform rotateX(-32deg) rotateY(-32deg) rotateX(90deg)

.shroom
  --brim 'hsl(%s, 80%, 40%)' % var(--hue)
  --left 'hsl(%s, 80%, 50%)' % var(--hue)
  --right 'hsl(%s, 80%, 70%)' % var(--hue)
  --top 'hsl(%s, 80%, 60%)' % var(--hue)
  overflow visible !important
  transform rotateX(-90deg) rotateY(32deg) rotateX(32deg)
  height 8vmin

  &__head
    &--brim
      fill var(--brim)
    &--left
      fill var(--left)
    &--right
      fill var(--right)
    &--top
      fill var(--top)
  &__eyes
    fill var(--stroke)
  &__spot
    fill var(--spot)
  &__body
    &--light
      fill var(--body-light)
    &--dark
      fill var(--body-dark)
