*
*:after
*:before
  box-sizing border-box

body
  min-height 100vh
  display grid
  place-items center
  background hsl(210, 40%, 50%)

.yarn-kitty
  height 30vmin
  overflow visible !important
  display none

input
  display none