.duotone-card
  .duotone-card__plate
    img(src="https://source.unsplash.com/400x400?bear,cat")
    .duotone-card__layer
    .duotone-card__layer
    .duotone-card__layer
  .duotone-card__plate
    img(src="https://source.unsplash.com/400x400?bear,cat")
    .duotone-card__layer
    .duotone-card__layer
  .duotone-card__plate
    img(src="https://source.unsplash.com/400x400?bear,cat")
    .duotone-card__layer
    .duotone-card__layer