input#read(type='checkbox')
label(for="read")
.greeting-card
  .greeting-card__front
    span Happy<br/>Holidays!
    span &lt;Insert Graphic&gt;
    span Again.
  .greeting-card__back
    span We made it!