*
  box-sizing border-box

:root
  --wave white
  --bg hsl(210, 30%, 30%)

body
  min-height 100vh
  display flex
  align-items center
  flex-direction column
  justify-content center

main
  background var(--bg)
  flex 1
  width 100vw
  position relative
  overflow hidden

.wave
  position absolute
  bottom -5%
  left 0
  right 0

  &:nth-of-type(1)
    --speed 60
    --opacity 0.3
    --height 12
    --width 320
    --lightness 90
    --rise 2

  &:nth-of-type(2)
    --speed 30
    --opacity 0.6
    --height 10
    --width 200
    --lightness 95
    --rise 5

  &:nth-of-type(3)
    --speed 18
    --opacity 1
    --height 6
    --width 180
    --lightness 100
    --rise 0

footer
  background var(--wave)
  flex 1

.wave
  height calc(var(--height, 0) * 1vh)
  width calc(var(--width, 0) * 1vw)
  animation rise calc(var(--speed, 0) * 1.5s) infinite linear

  @media(max-width 480px)
    height calc(var(--height, 0) * 0.75vh)


  path
    fill 'hsl(0, 0%, %s)' % calc(var(--lightness, 0) * 1%)
    // opacity var(--opacity)
    animation wave calc(var(--speed, 0) * 1s) infinite linear

@keyframes wave
  to
    transform translate(-761px, 0)

@keyframes rise
  50%
    transform translate(0, calc(var(--rise) * -1%))