extends ../../boilerplate/layout.boilerplate.pug
block content
  include dev.pug
  script(src='https://unpkg.com/meanderer@0.0.1/dist/meanderer.min.js')
  script(src='https://unpkg.com/splitting@1.0.0/dist/splitting.min.js')