*
  box-sizing border-box
  touch-action none

body
  color #111
  touch-action none
  font-family sans-serif
  font-weight bold

.dg .closed .color-palette
.dg .closed .snapshot-gallery
  height 0 !important
  overflow hidden

.dg .closed .help-list li
  margin 0

.dg .closed .help-list
  padding 0

#app
  height 100vh
  display flex
  align-items center
  justify-content center
  background 'hsl(0, 0%, %s)' % calc(var(--darkness, 100%) * 1%)
