extends ../../boilerplate/layout.boilerplate.pug
block content
  include dev.pug
  script(src='https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.3.0/pixi.min.js')
  script(src='https://webglfundamentals.org/webgl/resources/webgl-utils.js')
  script(src='https://webglfundamentals.org/webgl/resources/m4.js')