*
  box-sizing border-box

body
  min-height 100vh
  display flex
  align-items center
  justify-content center
  background hsl(0, 0%, 90%)

  & > * + *
    margin-right 24px

:root
  --transition 0.3
  --heart-fill hsl(10, 80%, 50%)

.heart
  height 100%
  width 100%
  position absolute

  &--stroke
    stroke var(--heart-stroke)
    stroke-width 2.5px
    fill none

  &--fill
    stroke none
    fill var(--heart-fill)
    transform scale(var(--scale, 0))

  &__particle
    height 16px
    width 16px
    position absolute
    top 50%
    left 50%
    border-radius 50%
    background 'hsl(%s, 80%, 70%)' % var(--h)
    transform translate(-50%, -50%) rotate(calc(var(--r, 0) * 1deg)) translate(0, calc(var(--radius, 0) * 1px)) scale(0)


.button
  height 40px
  border 0
  cursor pointer
  border-radius 6px
  position relative
  display flex
  align-items center
  justify-content center
  width 100px
  font-family sans-serif
  text-align left
  outline transparent
  color var(--stroke)
  background var(--fill)
  background 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc(var(--lightness) * 1%))
  box-shadow 2px 4px 4px hsla(0, 0%, 10%, 0.5)
  transition box-shadow 0.2s, background 0.2s

  &--primary
    --hue 260
    --saturation 50
    --lightness 20
    --stroke hsl(0, 0%, 100%)
    --heart-stroke hsl(0, 0%, 100%)

  &--secondary
    --hue 0
    --saturation 0
    --lightness 100
    --stroke hsl(0, 0%, 40%)
    --heart-stroke hsl(0, 0%, 60%)


  &__text
    margin-right 6px
    opacity var(--opacity)

  &__icon
    position relative
    height 24px
    width 24px

  &:hover
    --scale 0.3
    background 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc(var(--lightness) * 0.8%))
    box-shadow 2px 2px 4px hsla(0, 0%, 10%, 0.5)
    .heart--fill
      transition transform calc(var(--transition) * 1s) cubic-bezier(.7,.9,.6,2.5)

  &:active
    background 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc(var(--lightness) * 0.6%))
    box-shadow 0 0 0 hsla(0, 0%, 10%, 0.5)

  &--active
  &--active:hover
    --scale 0.94
    --opacity 0.25


    .heart--fill
      transition transform calc(var(--transition) * 1s) cubic-bezier(.7,.9,.6,2.5)

    .button__text
      transition opacity 0.1s

    .heart__particle
      opacity 0
      transform translate(-50%, -50%) rotate(calc(var(--r, 0) * 1deg)) translate(0, calc(var(--d, 0) * 1px)) scale(var(--s))
      transition transform calc(var(--t) * 1.25s) calc(var(--transition) * 0.5s), opacity calc(var(--transition) * 0.25s) calc(var(--t) * 1.25s)