input#distance(type='checkbox')
.backdrop
  h1 Tap to distance
label(for="distance")
  .face
    .face__eye.face__eye--left
    .face__eye.face__eye--right
    .face__mouth
      .face__mouth-opening
  .side
    .side__nose
    .side__jaw
      .side__mouth
        .side__mouth-opening
    .side__eye