.game
  .first
    input(type='radio', id='a', name='first')
    input(type='radio', id='b', name='first')
    input(type='radio', id='a', name='second')
    input(type='radio', id='b', name='second')
    .second
      input(type='radio', id='a', name='third')
      input(type='radio', id='b', name='third')
      input(type='radio', id='a', name='fourth')
      input(type='radio', id='b', name='fourth')


  input.correct#a(type='checkbox', checked)
  input.correct#b(type='checkbox', checked)