*
  box-sizing border-box

$size   = 300px
$border = 4px

html
body
  background radial-gradient(circle at 50% 190px, rebeccapurple, #111 )
  font-family 'Arial', sans-serif
  font-size 14px
  overflow-x hidden
  min-height 100vh

button
input
label
  cursor pointer

button
label
  font-size 1rem

button
  border 0
  border-radius 6px
  color white
  cursor pointer
  min-width 120px
  padding 12px 12px

  &[disabled]
  &[disabled]:hover
    background grey
    cursor not-allowed
    opacity .25

#app
  padding 40px 0
  align-items center
  display flex
  flex-direction column

.clip-path-generator
  height $size
  width $size

  &__container
    border $border solid #fff
    height $size + (2 * $border)
    position relative
    width $size + (2 * $border)

  &__clipped
    background url(https://placebear.com/300/300) #2eec71
    background-size cover
    height 100%
    left 0
    position absolute
    top 0
    width 100%
    clip-path var(--path)

.clip-path-node
  cursor move
  cursor -webkit-grab
  height 50px
  left calc(var(--x) * 1px)
  opacity 0.75
  position absolute
  top calc(var(--y) * 1px)
  transform translate(-50%, -50%)
  transition opacity .15s
  width 50px
  z-index 1

  &:hover
    opacity 1

  &:after
    background #fff
    border-radius 100%
    content ''
    height 20px
    left 50%
    position absolute
    top 50%
    transform translate(-50%, -50%)
    width 20px

  &--removing
    cursor pointer
    opacity 1
    &:after
      content none

  &__remove
    background #e74c3c
    border 2px solid white
    border-radius 100%
    height 20px
    left 50%
    position absolute
    top 50%
    transform translate(-50%, -50%)
    width 20px

    path
      fill #fff

  &--moving
    cursor none
    &:after
      background transparent


.clip-path-options
  display flex
  flex-wrap wrap
  margin-bottom 30px
  width 200px

.clip-path-option
  align-items center
  display flex
  height 30px
  width 50%

  &__input
    height 0
    opacity 0
    width 0



    &:checked
      ~ label
        color dodgerblue
        opacity 1
        .clip-path-option__check
          border-color dodgerblue
          &:after
            background dodgerblue

    &[disabled]
      ~ label
        cursor not-allowed
        opacity .25

        &:hover
          .clip-path-option__check:after
            background none

    &:checked
      ~ label:hover .clip-path-option__check:after
        background dodgerblue



  &__label
    align-items center
    color #fff
    display flex
    opacity .35

    &:hover
      opacity 1

      .clip-path-option__check:after
        background white

  &__check
    border 4px solid white
    border-radius 100%
    height 24px
    margin-right 10px
    position relative
    width 24px

    &:after
      background transparent
      border-radius 100%
      content ''
      height 75%
      left 50%
      position absolute
      top 50%
      transform translate(-50%, -50%)
      width 75%

.clip-path
  color #ffffff
  margin 10px 0 30px 0
  max-width 500px
  text-align center

  &__copy
    background dodgerblue
    font-size 1.5rem
    width 200px

    &:hover
      background darken(dodgerblue, 15%)

    &:active
      background darken(dodgerblue, 25%)

  &__value
    background #111
    border-radius 6px
    margin-bottom 10px
    padding 20px

  &__input
    left 100%
    position fixed

.polygon-actions
  display flex
  width 300px
  flex-wrap wrap
  align-items center
  justify-content center

.polygon-action
  background #ecf0f1
  color #111
  margin 4px

  &:hover
    background darken(#ecf0f1, 15%)

  &:active
    background darken(#ecf0f1, 25%)

  &--removing
    background #e74c3c
    color #fff

    &:hover
      background darken(#e74c3c, 15%)

    &:active
      background darken(#e74c3c, 25%)