*
  box-sizing border-box

body
  display flex
  align-items center
  justify-content center
  min-height 100vh
  flex-direction column
  font-family sans-serif
  font-weight bold
  color white

.peep
  height 20vmin
  display none
