html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Some cool pen
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
    link(rel='stylesheet', href='style.css')
  body
    block content
      include dev.pug
    script(crossorigin, src="https://unpkg.com/react@16.4.0/umd/react.development.js")
    script(crossorigin, src="https://unpkg.com/react-dom@16.4.0/umd/react-dom.development.js")
    script(src="https://unpkg.com/styled-components/dist/styled-components.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.1/prop-types.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/utils/Draggable.min.js')
    script(src="script.js")