a.img(href='#')
  .img__overlay.img__overlay--red Hey!
  img(src="https://images.unsplash.com/photo-1457140072488-87e5ffde2d77?dpr=1&auto=format&fit=crop&w=540&h=360&q=80&cs=tinysrgb&crop=")

a.img(href='#')
  .img__overlay.img__overlay--yellow You
  img(src="https://images.unsplash.com/photo-1457140072488-87e5ffde2d77?dpr=1&auto=format&fit=crop&w=540&h=360&q=80&cs=tinysrgb&crop=")

a.img(href="#")
  .img__overlay
    .img
      .img__overlay.img__overlay--green
        span There!
      img(src="https://images.unsplash.com/44/MIbCzcvxQdahamZSNQ26_12082014-IMG_3526.jpg?dpr=1&auto=format&fit=crop&w=540&h=360&q=80&cs=tinysrgb&crop=")
  img(src="https://images.unsplash.com/photo-1457140072488-87e5ffde2d77?dpr=1&auto=format&fit=crop&w=540&h=360&q=80&cs=tinysrgb&crop=")
