.min-h-screen.bg-blue-200.flex.items-center.justify-center
  .grid.grid-cols-2.grid-rows-2.gap-2
    input#key.px-8.py-4.rounded-md(type="password" data-lpignore="true" value="awesome-stream-key-123")
    button#copy.bg-blue-500.text-white(class="hover:bg-blue-600") Copy
    input#value.px-8.py-4.rounded-md(placeholder="Paste value" type="text" data-lpignore="true")
    button#paste.bg-green-500.text-white(class="hover:bg-green-600 active:bg-green-700") Paste