*
  box-sizing border-box
  -webkit-tap-highlight-color transparent

body
  background #4d05e8
  cursor pointer
  margin 0
  min-height 100vh
  padding 0
  transform-style preserve-3d
  perspective 1000px

.pan
  cursor pointer
  left 50%
  margin-left -100px
  margin-top -225px
  position absolute
  top 50%
  transform-origin 100px 225px
  transform rotate(45deg)
  width 200px

$cake-one = #fff2a4
$cake-two = #eca24d
$cake-three = #b45326
$cooking-time = 120s

.pancake
  backface-visibility hidden
  height 100%
  transform rotate(-5deg) translate3d(0, 0, 1px)
  width 100%

  &--cooking .pancake__face
    &--smiling
      display none
    &--cooking
      display block

  &--flipping .pancake__face
    &--smiling
    &--cooking
      display none
    &--flipping
      display block

  &__container
    height 120px
    left 50%
    margin-left -60px
    margin-top -60px
    perspective 2000px
    position absolute
    top 50%
    transform-style preserve-3d
    width 120px
    z-index 2

  &__wrapper
    backface-visibility hidden
    height 100%
    transform rotate(45deg) translate3d(0, 0, 5px)
    transform-style preserve-3d
    width 100%

  &__back
    border-radius 100%
    height 100%
    left 50%
    position absolute
    top 50%
    transform translate(-50%, -50%)
    width 100%

    .pancake__back
      height 100%
      width 100%
      &-base
        fill $cake-one
      &-scorch
        animation cook $cooking-time forwards ease

  &__head
    fill $cake-one

  &__splodge
    animation cook $cooking-time forwards ease
    fill $cake-one

  &__face
    display none

    &--smiling
      display block

@keyframes cook
  0%
    fill $cake-one
  50%
    fill $cake-two
  100%
    fill $cake-three