extends ../../boilerplate/layout.boilerplate.pug
block content
  include dev.pug
  script(src='https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.14.2/matter.min.js')
  script(src='./gsap.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js')
