.cash-register
  .cash-register__total-wrap
    .cash-register__total
      - for (let c = 0; c < 2; c++)
        .cash-register__loop
          - for(let c = 0; c < 10; c++)
            div= c
      .cash-register__loop .
      - for (let c = 0; c < 2; c++)
        .cash-register__loop
          - for(let c = 0; c < 10; c++)
            sup= c
  .cash-register__receipt-feed
    .receipt
  .cash-register__inputs-wrapper
    .cash-register__inputs
      button.cash-register-rogue
      button.cash-register-rogue
      button.cash-register-rogue
      button.cash-register-rogue
      - for(let c = 0; c < 2; c++)
        div
          button.cash-register-input
        div
          button.cash-register-input
        div
          button.cash-register-input
        div
          button.cash-register-input
      .spacer
      .cash-register__actions
        button.cash-register-input
        button.cash-register-input
        button.cash-regsiter-input
        button.cash-register-input
  .cash-register__drawer