*
*:before
*:after
  box-sizing border-box

$color = grey

body
  background-color #2eec71
  font-family 'Arial', sans-serif
  display flex
  align-items center
  justify-content center
  min-height 100vh

.cash-register
  &__total-wrap
    display flex
    justify-content flex-end
  
  &__total
    border 10px solid lighten($color, 45%)
    background black
    display grid
    grid-template-columns repeat(2, 2.5fr) 1fr repeat(2, 1.5fr)
    grid-gap 0
    width 45%
    height 50px

    
  
  &__loop
    $font-size = 30px
    background #111
    overflow hidden
    color #fafafa
    text-align center
    height $font-size
    line-height $font-size
    
    div
    sup
      height 100%
      display block
      font-size 22px
      text-align center

    sup
      top 0
      font-size .75rem
      line-height 1.25rem
  
  
  &__inputs
    display grid
    position relative
    grid-template-columns repeat(4, 30px) auto
    grid-template-rows repeat(3, 1fr)
    // grid-gap 5px
    text-align center
    padding  0 10px 10px
    transform translateY(-24px)
    clip-path inset(12px 0 0 0)
  
  &__inputs-wrapper
    background lighten($color, 25%)

  &__actions
    display grid
    grid-template-columns repeat(2, 1fr)
    grid-template-rows repeat(2, 1fr)
    grid-column 5
    padding-left 10px
    grid-row 2 / -1

  &__receipt-feed
    height 40px
    background lighten($color, 5%)
    position relative

    &:before
      content ''
      background darken($color, 75%)
      position absolute
      height 10px
      width 70px
      top 5px
      left 10px

    &:after
      content ''
      background lighten($color, 100%)
      border-radius 100%
      height 20px
      width 20px
      position absolute
      right 30px
      top 10px

    .receipt
      width 50px
      height 80px
      background white
      transform translateY(-100%)
      position absolute
      left 20px
      top 10px

  &__drawer
    background darken($color, 25%)
    height 50px
    position relative
    transform translateY(-16px)

    &:before
      content ''
      height 5px
      width 40px
      border-radius 0
      background lighten($color, 50%)
      position absolute
      left 50%
      top 50%
      transform translate(-50%, -50%)

    &:after
      content ''
      position absolute
      top 5px
      left 5px
      right 5px
      bottom 5px
      border 4px solid darken($color, 50%)

button
  cursor pointer
  height 24px
  width 30px
  box-shadow 0 5px 0 black
  transform translateY(0)
  
  &:active
    transform translateY(5px)
    box-shadow 0 0 0 black
  
.spacer
  grid-column 5
  grid-row 1