h1 Tap!
label(for="explode")
input#explode(type="checkbox")
.rilakkuma
  .rilakkuma__body
  .rilakkuma__leg.rilakkuma__leg--left
    .rilakkuma__leg-main
    .rilakkuma__leg-stroke
  .rilakkuma__leg.rilakkuma__leg--right
    .rilakkuma__leg-main
    .rilakkuma__leg-stroke
  .rilakkuma__arm.rilakkuma__arm--left
    .rilakkuma__arm-main
    .rilakkuma__arm-stroke
  .rilakkuma__arm.rilakkuma__arm--right
    .rilakkuma__arm-main
    .rilakkuma__arm-stroke
  .rilakkuma__head-container
    .rilakkuma__ear.rilakkuma__ear--left
    .rilakkuma__ear.rilakkuma__ear--right
    .rilakkuma__head
    .rilakkuma__eye.rilakkuma__eye--left
    .rilakkuma__eye.rilakkuma__eye--right
    .rilakkuma__face
      .rilakkuma__mouth
