*
  box-sizing border-box

body
  background hsl(0, 0%, 15%)
  min-height 100vh
  display flex
  align-items center
  justify-content center

svg
  height 50vmin

.one .letter
  fill hsl(0, 0%, 100%)
.two .letter
  fill hsl(280, 80%, 50%)
.three .letter
  fill hsl(0, 80%, 50%)
.four .letter
  fill hsl(30, 80%, 50%)
.five .letter
  fill hsl(180, 80%, 50%)

.shadow
  fill hsl(0, 0%, 10%)
  stroke hsl(0, 0%, 10%)