*
*:after
*:before
  box-sizing border-box

body
  min-height 100vh
  display grid
  place-items center

.driveway
  height 10vmin
  width 10vmin
  resize both
  overflow hidden
  // background hsl(10, 80%, 80%)
  position absolute
  bottom 50%
  left 50%
  transform translate(-50%, 0) rotateX(180deg)
  contain layout inline-size

.mini
.car
.truck
.lorry
.tank
  height 75%
  width 50%
  background hsl(90, 60%, 50%)
  transform-origin 50% 0%
  position absolute
  left 50%
  top 0
  transform translate(-50%, 0)
  font-family sans-serif
  font-weight bold
  color hsl(0, 0%, 100%)

.car
  background hsl(10, 60%, 50%)
  display none
.truck
  background hsl(45, 60%, 50%)
  display none
.lorry
  background hsl(210, 60%, 50%)
  display none
.tank
  background hsl(280, 60%, 50%)
  display none

.content
  display flex
  align-items center
  justify-content center
  font-size 2rem
  height 100%
  width 100%
  line-height 1
  transform rotateX(180deg)

@container(min-width: 300px)
  .mini
  .truck
  .lorry
  .tank
    display none
  .car
    display block
    animation pop 0.2s forwards cubic-bezier(.9,.07,.84,1.56)
@container(min-width: 500px)
  .mini
  .car
  .lorry
  .tank
    display none
  .truck
    display block
    animation pop 0.2s forwards cubic-bezier(.9,.07,.84,1.56)
@container(min-width: 700px)
  .mini
  .car
  .truck
  .tank
    display none
  .lorry
    display block
    animation pop 0.2s forwards cubic-bezier(.9,.07,.84,1.56)
@container(min-width: 900px)
  .mini
  .car
  .truck
  .lorry
    display none
  .tank
    display block
    animation pop 0.2s forwards cubic-bezier(.9,.07,.84,1.56)

@keyframes pop
  from
    transform translate(-50%, 0) scale(0)
  to
    transform translate(-50%, 0) scale(1)