*
  box-sizing border-box

body
  background hsl(210, 40%, 15%)
  display grid
  place-items center
  min-height 100vh

.bulbs
  display none
  height 50vmin
  transform translate(0, -25%)
  overflow visible !important

  &__ceiling
    stroke hsl(210, 40%, 10%)
