- const PATH = "M10.362 18.996s-6.046 21.453 1.47 25.329c10.158 5.238 18.033-21.308 29.039-18.23 13.125 3.672 18.325 36.55 18.325 36.55l12.031-47.544"
h1 Original scale
.container
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 79.375 79.375')
    path(d='M10.362 18.996s-6.046 21.453 1.47 25.329c10.158 5.238 18.033-21.308 29.039-18.23 13.125 3.672 18.325 36.55 18.325 36.55l12.031-47.544', fill='none', stroke='#000', stroke-width='.265')
  .element(style=`--path: "${PATH}"`)
h1 Scaling container w/ non-scaled path 😭
.container
  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 79.375 79.375')
    path(d='M10.362 18.996s-6.046 21.453 1.47 25.329c10.158 5.238 18.033-21.308 29.039-18.23 13.125 3.672 18.325 36.55 18.325 36.55l12.031-47.544', fill='none', stroke='#000', stroke-width='.265')
  .element(style=`--path: "${PATH}"`)
h1 Scaling container w/ scaled path 🎉🔥
.container.result
  svg
    path
  .element