*
  box-sizing border-box

body
  min-height 100vh
  display flex
  align-items center
  justify-content center
  background hsl(0, 0%, 10%)

.traffic
  height 75vmin

.backdrop
  fill hsl(190, 70%, 70%)

// .foreground
//   display none