*
  box-sizing border-box

body
  min-height 100vh
  display grid
  place-items center
  background hsl(210, 10%, 10%)
  overflow hidden

.sticks
  display none
  height 240px
  width 240px
  place-content center
  grid-template-columns repeat(24, 10px)
  grid-template-rows repeat(24, 10px)
  grid-gap 14px

.stick
  position relative
  &:after
    width 26px
    height 6px
    content ''
    position absolute
    top 50%
    left 50%
    background 'hsl(%s, 80%, 50%)' % var(--bg, 0)
    transform translate(-50%, -50%) rotate(calc(var(--r, 0) * 1deg))
  &--odd
    --r -90
  &--even
    --r 0