h1 Where's the text cursor? 🧐
.use-cases
  .use-case
    h2 Click and type around
    .demo-input
      input.get-position-input.input(placeholder='Interact with me')
    .demo-input
      textarea.get-position-textarea.input(placeholder='Interact with me')
  .use-case
    h2 Select some content
    .demo-input
      input.get-selection-input.input(placeholder='Interact with me', value='Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur doloremque amet deserunt laboriosam aliquid! Error iusto fuga sint esse voluptatum, beatae harum explicabo omnis a tenetur, sequi modi odio ipsa?')
    .demo-input
      textarea.get-selection-textarea.input(placeholder='Interact with me').
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, necessitatibus natus. Optio pariatur amet aut quibusdam iure velit sequi corporis saepe ab ipsa, libero, sed, enim aspernatur alias voluptatem! Rem.
  .use-case
    h2 Trigger custom UI
    .demo-input
      input.show-custom-ui-input.input(placeholder='Type a #')
    .demo-input
      textarea.show-custom-ui-textarea.input(placeholder='Type a #')
