@import url('https://fonts.googleapis.com/css?family=Lato')
*
  box-sizing border-box
  transition font-size 0.5s ease 0s

random(ceiling)
  return floor(math(1, 'random')*ceiling)

$end-scale = 0
$end-position = 60
$end-rotation = 0
$speed = 1.5
:root
  --end-scale $end-scale
  --end-position $end-position
  --end-rotation $end-rotation
  --speed $speed

html
body
  align-items center
  background-color #111
  display          flex
  font-family      'Lato', sans-serif
  height           100vh
  justify-content  center
  margin           0
  overflow          hidden
  padding          2rem 0
  width            100vw

#app
  align-items center
  display flex
  flex-direction column
  justify-content center

label
  color #fafafa

.track
  display flex
  justify-content center
  margin 0 auto 150px auto
  position relative
  text-align center
  width 80vw

.drop-word
  color #fafafa
  flex 1
  font-size 2rem
  @media (min-width 768px)
    font-size 4rem

  for $circle in (1..30)
    &:nth-child({$circle})
      --circle: $circle
      animation drop calc(var(--speed) * 1s) infinite linear
      animation-delay calc((0 - var(--speed) * 1/30 * (var(--circle) - 1)) * 1s)
      color rgb(random(255), random(255), random(255))
      opacity 0
      position absolute
      transform translateY(calc(var(--end-position) * 1px)) rotate(calc(var(--end-rotation) * 1deg)) scale(var(--end-scale))
  &:nth-child(31)
    z-index 99

.option
  z-index 1

@keyframes drop
  from
    opacity 1
    transform translateY(0) rotate(0deg) scale(1)