*
  box-sizing border-box

body
  background hsl(280, 60%, 80%)
  min-height 100vh
  display flex
  align-items center
  justify-content center

.octobear
  height 50vh

.glare
  animation glare 2s both ease-in-out infinite

.glare
  transform translate(-150px, 0)

@keyframes glare
  0%, 20%
    transform translate(450px, 0)
  80%, 100%
    transform translate(-150px, 0)