img(src='kool-aid.jpg')
.illustration
  .jug
    .jug__handle
    .jug__leg.jug__leg--left
    .jug__leg.jug__leg--right
    .jug__foot.jug__foot--left
    .jug__foot.jug__foot--right
    .jug__arm.jug__arm--left
      .jug__finger
      .jug__finger
      .jug__finger
    .jug__arm.jug__arm--right
      .jug__finger
      .jug__finger
      .jug__finger
    .jug__brim
    .jug__body
    .jug__nose
    .jug__eye.jug__eye--left
    .jug__eye.jug__eye--right
    .jug__eyebrow.jug__eyebrow--left
    .jug__eyebrow.jug__eyebrow--right
    .jug__mouth