*
  box-sizing border-box

html
body
  background-color #26c281
  cursor pointer
  font-family 'Arial', sans-serif
  height 100vh
  margin 0
  padding 0
  width 100vw

  &.adding
    animation party 1.25s infinite linear

h1
  color #fafafa
  display none
  left 50%
  line-height 2.75rem
  position absolute
  text-align center
  top 50%
  transform translate(-50%, -50%)
  width 100%
  &.showing
    display block

.info
  background white
  border-radius 4px
  bottom 20px
  display none
  left 20px
  padding 10px
  position fixed

  &.showing
    display block

@keyframes party
  0%
    background rgb(253, 119, 123)
  20%
    background rgb(255, 248, 132)
  40%
    background rgb(122, 255, 118)
  60%
    background rgb(121, 255, 253)
  80%
    background rgb(123, 160, 253)