@import url('https://fonts.googleapis.com/css?family=Corben:700|Lato:300');

*
  box-sizing border-box

:root
  --ratio 0


html
body
  text-align       center
  padding 0
  margin 0

$gifSrc = "https://media.giphy.com/media/qIoCLiOvOn3Rm/giphy.gif"

article
  max-width 600px
  margin 0 auto
  text-align justify
  columns 2
  font-family 'Lato', sans-serif
  padding 35px 20px 20px 20px

  @media(min-width 768px)
    padding-top 70px


section
  break-inside avoid
  margin 0 0 20px 0

p
  margin 0 0 30px 0


$height = 250px
$font-size = 40px

.header
  &__bg
    filter brightness(15%) grayscale(100%)
    background url($gifSrc)
    background-size cover
    background-position center bottom
    height $height
    width 100%

    @media(min-width 768px)
      $height = 500px
      height $height

  &__text
    height $height
    line-height $height
    width 100%
    font-family 'Corben', cursive
    font-size $font-size
    height $height
    background linear-gradient(45deg, red, blue)
    background url($gifSrc)
    background-size cover
    background-position center bottom
    background-clip text
    -webkit-background-clip text
    color transparent
    filter brightness(150%) contrast(50%) grayscale(0%)
    position absolute
    top 0
    opacity calc(1 - var(--ratio, 0))
    line-height calc((1 + var(--ratio)) * 250px)

    @media(min-width 768px)
      $height = 500px
      $font-size = 100px
      height $height
      line-height calc((1 + var(--ratio)) * 500px)
      font-size $font-size
      height $height


