.mr
  h1 500
  .mr__head
  .mr__hat.hat
    .hat__bowl
    .hat__brim
  .mr__ear.mr__ear--left.ear
    .ear__inner
  .mr__ear.mr__ear--right.ear
    .ear__inner
  .mr__shoe.mr__shoe--left.shoe
    .shoe__body
    .shoe__sole
  .mr__shoe.mr__shoe--right.shoe
    .shoe__body
    .shoe__sole
  .mr__nose
  .mr__mouth
  .mr__eye.mr__eye--left.eye
    .eye__pupil
    .eye__lid.eye__lid--upper
    .eye__lid.eye__lid--lower
  .mr__eye.mr__eye--right.eye
    .eye__pupil
    .eye__lid.eye__lid--upper
    .eye__lid.eye__lid--lower
  .mr__eye-brow.mr__eye-brow--left
  .mr__eye-brow.mr__eye-brow--right
  .mr__arm.mr__arm--left.arm
    .hand
      .finger
      .finger
      .finger
      .finger
  .mr__arm.mr__arm--right.arm
    .fist
h1.message Something isn't quite right.