.mr
  .mr__head
  .mr__hat.hat
    .hat__bowl
    .hat__brim
  .mr__ear.mr__ear--left.ear
    .ear__inner
  .mr__ear.mr__ear--right.ear
    .ear__inner
  .mr__shoe.mr__shoe--left.shoe
    .shoe__body
    .shoe__sole
  .mr__shoe.mr__shoe--right.shoe
    .shoe__body
    .shoe__sole
  .mr__nose
