mixin claw(index)
  .snorlax__foot-claw(class=`snorlax__foot-claw--${index}`)
    div
.snorlax
  .snorlax__head
    .snorlax__head-outline
    .snorlax__ear.snorlax__ear--left
    .snorlax__ear.snorlax__ear--right
    .snorlax__brow.snorlax__brow--left
    .snorlax__brow.snorlax__brow--right
    .snorlax__eye.snorlax__eye--left
    .snorlax__eye.snorlax__eye--right
    .snorlax__mouth
      .snorlax__tooth.snorlax__tooth--left
      .snorlax__tooth.snorlax__tooth--right
  .snorlax__arm-left
    .snorlax__arm-wrapper
      .snorlax__claws--left
      .snorlax__arm-left-arm
  .snorlax__arm-right
    .snorlax__claws--right
    .snorlax__arm-right-arm
    .snorlax__claw
  .snorlax__body
    .snorlax__body-shade
    .snorlax__belly
      .snorlax__belly-segment.snorlax__belly-segment--one
      .snorlax__belly-segment.snorlax__belly-segment--two
  .snorlax__left-foot
    .snorlax__left-foot-foot
    +claw('one')
    +claw('two')
    +claw('three')
  .snorlax__right-foot
    .snorlax__right-foot-foot
    +claw('four')
    +claw('five')
    +claw('six')