extends ../../boilerplate/layout.boilerplate.pug
block content
  include dev.pug
  script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.min.js")
  script(crossorigin, src="https://unpkg.com/react@16.8.0/umd/react.development.js")
  script(crossorigin, src="https://unpkg.com/react-dom@16.8.0/umd/react-dom.development.js")