.badge
  .badge__text.badge__text--empty No Internet
  .badge__circle
    .dino
      .dino__head
      .dino__body
    .flyer
      .flyer__body
      .flyer__wing
    .landscape
      .cactus
      .cactus
  .badge__text No Internet