button.sat-nav__open(role='menu', title='Open Sat Nav')
  svg.filler(viewbox="0 0 317.5 178")
.sat-nav__backdrop
include final.svg
.page-content
  for page in ['Home', 'About', 'Work', 'Contact']
    section(data-location=page.toUpperCase())= page