.moon
  .face
    .eyes
      .eye
        .eye-pupil
      .eye
        .eye-pupil
      .shades
        .shades-lens
        .shades-lens
        .shades-arm
    .mouth
      .mouth-opening
      .lip
.sun
  .sun__rays
    - let r = 0
    while r < 10
      .sun__ray(style=`--ray-index: ${r * 2}`)
      - r++
  .face
    .eyes
      .eye
        .eye-pupil
      .eye
        .eye-pupil
      .shades
        .shades-lens
        .shades-lens
        .shades-arm
    .mouth
      .mouth-opening
      .lip
.sea
  .sea__ripples
    - let n = 0
    while n < 20
      .sea__ripple(style=`--ripple-index: ${n}`)
      - n++