.content
  .photo-cube__wrapper
    input.photo-cube__control(type='radio', id="1", name="cube", checked="true")
    input.photo-cube__control(type='radio', id="2", name="cube")
    input.photo-cube__control(type='radio', id="3", name="cube")
    input.photo-cube__control(type='radio', id="4", name="cube")
    input.photo-cube__control(type='radio', id="5", name="cube")
    input.photo-cube__control(type='radio', id="6", name="cube")
    .photo-cube
      .photo-cube__panel
      .photo-cube__panel
      .photo-cube__panel
      .photo-cube__panel
      .photo-cube__panel
      .photo-cube__panel
    ul.photo-cube--accessible
      li
        img(alt='Close up of cat wearing reading glasses')
      li
        img(alt='Pug wrapped in blanket')
      li
        img(alt='Cat sticking head through fence railings')
      li
        img(alt='Pug outside wrapped in picnic blanket')
      li
        img(alt='Kittens playing with pink toy')
      li
        img(alt='Cat laying on rug')
    .photo-cube__actions--left
      label.photo-cube__action(for='6')
      label.photo-cube__action(for='1')
      label.photo-cube__action(for='2')
      label.photo-cube__action(for='3')
      label.photo-cube__action(for='4')
      label.photo-cube__action(for='5')
    .photo-cube__actions--right
      label.photo-cube__action(for='2')
      label.photo-cube__action(for='3')
      label.photo-cube__action(for='4')
      label.photo-cube__action(for='5')
      label.photo-cube__action(for='6')
      label.photo-cube__action(for='1')
    .photo-cube__indicators
      label.photo-cube__indicator(for='1')
      label.photo-cube__indicator(for='2')
      label.photo-cube__indicator(for='3')
      label.photo-cube__indicator(for='4')
      label.photo-cube__indicator(for='5')
      label.photo-cube__indicator(for='6')
