.content
  .photo-cube__wrapper
    input.photo-cube__control(type='radio', id="1", name="cube", checked="true")
    input.photo-cube__control(type='radio', id="2", name="cube")
    input.photo-cube__control(type='radio', id="3", name="cube")
    input.photo-cube__control(type='radio', id="4", name="cube")
    input.photo-cube__control(type='radio', id="5", name="cube")
    input.photo-cube__control(type='radio', id="6", name="cube")
    .photo-cube
      .photo-cube__panel
        h1 1
      .photo-cube__panel
        h1 2
      .photo-cube__panel
        h1 3
      .photo-cube__panel
        h1 4
      .photo-cube__panel
        h1 5
      .photo-cube__panel
        h1 6
