extends ../../boilerplate/layout.boilerplate.pug
block content
  include dev.pug
  script(src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js')
  script(src='https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/gsap.min.js')