h1 Drop the caps! 🎤
.drop-the-caps(data-cap='L')
  p.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium varius justo ac suscipit. Aenean hendrerit ligula eu enim sollicitudin fermentum. Sed feugiat felis nisi, ut congue nisi tincidunt id. Maecenas faucibus accumsan vulputate. In euismod purus sit amet ante finibus, nec consectetur ligula porttitor. Cras magna ex, maximus nec tellus eget, pulvinar scelerisque nunc. In hac habitasse platea dictumst. Vestibulum sed efficitur quam, in condimentum turpis.