.masonry
  display   flex
  flex-flow column wrap
  max-width 100%

.masonry-panel
  overflow    hidden
  max-height 100vh
  transition all .25s ease 0s

*
  box-sizing border-box

body
  margin           0
  padding          0

h1
  font-size  42px
  margin     0
  text-align center

img
  width 100%
  max-height 500px
  object-fit cover

  // Add some form of loading animation for the incoming image
  &.loading
    background linear-gradient(90deg, white, grey, white)
    background-size 500% 100%
    animation load 3s infinite linear
    margin 4px 4px 0 4px
    min-height 250px

@keyframes load
  from
    background-position 500% 0
  to
    background-position 0 0