*
  box-sizing border-box

body
  background #eee
  min-height 100vh

  &:after
    content ''
    height 50px
    width 50px
    background black
    opacity .6
    position fixed
    top 50%
    left 50%
    transform translate(-50%, -50%)