:root
  --X 0
  --Y 0

*
  box-sizing border-box
  animation  fadeIn .5s

$translationX = calc((var(--X)) * var(--scaleX) * 1px)
$translationY = calc((var(--Y)) * var(--scaleY) * 1px)


body
  background-color #111
  color            #fafafa
  display flex
  align-items center
  justify-content center
  overflow hidden
  height 100vh
  width 100vw

@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1

h2
  @media(max-width: 768px)
    font-size 16px

h1
  font-size 110px
  margin 4px
  display inline-block

  @media(max-width: 768px)
    transition all .25s ease 0s
    font-size 60px

  &:nth-of-type(1)
    color red
    --scaleX 40
    --scaleY -40
    --translateX $translationX
    --translateY $translationY
    transform translate(var(--translateX), var(--translateY))
    z-index 3

  &:nth-of-type(2)
    color orange
    --scaleX -50
    --scaleY 50
    --translateX $translationX
    --translateY $translationY
    transform translate(var(--translateX), var(--translateY))
    z-index 2

  &:nth-of-type(3)
    color green
    --scaleX 30
    --scaleY 30
    --translateX $translationX
    --translateY $translationY
    transform translate(var(--translateX), var(--translateY))
    z-index 1

  &:nth-of-type(4)
    z-index 4
    --scaleX -50
    --scaleY -50
    --translateX $translationX
    --translateY $translationY
    transform translate(var(--translateX), var(--translateY))
