.actions
  button.btn.btn--prev(data-select='-1')
    svg(preserveAspectRatio='xMinYMin' viewBox="0 0 24 24")
      path(fill="#000000" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z")
  button.btn.btn--next(data-select='1')
    svg(preserveAspectRatio='xMinYMin' viewBox="0 0 24 24")
      path(fill="#000000" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z")
.wrap
  include bear-head.svg
  .mask-wrap
    include hockey-mask.svg
    include frankenstein-mask.svg
    include skeleton-mask.svg
    include ghoul-mask.svg
    include mummy-mask.svg
    include count-mask.svg
    include grin-mask.svg
    include pumpkin-mask.svg
  .cover