*
  box-sizing border-box

html
body
  margin 0
  padding 0
  text-align center
  background #a2ccb6
  color #ee786e

#app
  align-items center
  display flex
  flex-direction column
  justify-content center
  min-height 100vh