extends ../../boilerplate/layout.boilerplate.pug
block content
  include dev.pug
  script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.4/polyfill.js')
  script(src='https://unpkg.com/react@16.8.0/umd/react.development.js')
  script(src='https://unpkg.com/react-dom@16.8.0/umd/react-dom.development.js')
