*
  box-sizing border-box

:root
  --perspective 800
  --rotate-x -24
  --rotate-y -55
  --xbox-scale 2.5
  --xbox-width calc(5.9 * var(--xbox-scale))
  --xbox-height calc(2.5 * var(--xbox-scale))
  --xbox-depth calc(10.8 * var(--xbox-scale))
  --plane-width var(--xbox-width)
  --plane-height var(--xbox-depth)

body
  min-height 100vh
  background hsl(158, 40%, 41%)

.scene
  perspective calc(var(--perspective, 800) * 1px)
  transform-style preserve-3d
  height 100vh
  width 100vw
  display flex
  align-items center
  justify-content center

.plane
  background hsla(0, 80%, 50%, 0.25)
  height calc(var(--plane-height, 25) * 1vmin)
  width calc(var(--plane-width, 25) * 1vmin)
  transform-style preserve-3d
  transform rotateX(calc(var(--rotate-x, -24) * 1deg)) rotateY(calc(var(--rotate-y, -24) * 1deg)) rotateX(90deg) translate3d(0, 0, calc((var(--xbox-height) * -0.5) * 1vmin))


// This is what makes the CSS variable powered cuboid
.cuboid
  --width var(--cuboid-width, 15)
  --height var(--cuboid-height, 10)
  --depth var(--cuboid-depth, 4)
  height calc(var(--depth) * 1vmin)
  width calc(var(--width) * 1vmin)
  transform-style preserve-3d
  position absolute
  transform translate3d(calc(var(--x, 0) * 1vmin), calc(var(--y, 0) * 1vmin), calc(var(--z, 0) * 1vmin)) rotateX(calc(var(--rotate-cuboid-x, 0) * 1deg)) rotateY(calc(var(--rotate-cuboid-y, 0) * 1deg)) rotateZ(calc(var(--rotate-cuboid-z, 0) * 1deg))

  & > div:nth-of-type(1)
    height calc(var(--height) * 1vmin)
    width 100%
    transform-origin 50% 50%
    transform rotateX(-90deg)
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%) rotateX(-90deg) translate3d(0, 0, calc((var(--depth) / 2) * 1vmin))

  & > div:nth-of-type(2)
    height calc(var(--height) * 1vmin)
    width 100%
    transform-origin 50% 50%
    transform translate(-50%, -50%) rotateX(-90deg) rotateY(180deg) translate3d(0, 0, calc((var(--depth) / 2) * 1vmin))
    position absolute
    top 50%
    left 50%

  & > div:nth-of-type(3)
    height calc(var(--height) * 1vmin)
    width calc(var(--depth) * 1vmin)
    transform translate(-50%, -50%) rotateX(-90deg) rotateY(90deg) translate3d(0, 0, calc((var(--width) / 2) * 1vmin))
    position absolute
    top 50%
    left 50%

  & > div:nth-of-type(4)
    height calc(var(--height) * 1vmin)
    width calc(var(--depth) * 1vmin)
    transform translate(-50%, -50%) rotateX(-90deg) rotateY(-90deg) translate3d(0, 0, calc((var(--width) / 2) * 1vmin))
    position absolute
    top 50%
    left 50%

  & > div:nth-of-type(5)
    height calc(var(--depth) * 1vmin)
    width calc(var(--width) * 1vmin)
    transform translate(-50%, -50%) translate3d(0, 0, calc((var(--height) / 2) * 1vmin))
    position absolute
    top 50%
    left 50%

  & > div:nth-of-type(6)
    height calc(var(--depth) * 1vmin)
    width calc(var(--width) * 1vmin)
    transform translate(-50%, -50%) translate3d(0, 0, calc((var(--height) / 2) * -1vmin)) rotateX(180deg)
    position absolute
    top 50%
    left 50%

// ...while the Series S is 60 percent
// smaller at 27.5cm (10.8 inches) x 15.1cm
// (5.9 inches) x  63.5cm (2.5 inches).
.xbox
  --width var(--xbox-width)
  --height var(--xbox-height)
  --depth var(--xbox-depth)
  --z calc(var(--xbox-height) * 0.5)

  div
    // Front facing end
    &:nth-of-type(1)
      background hsl(0, 0%, 80%)
    // Back facing end
    &:nth-of-type(2)
      background hsl(0, 0%, 75%)
    // Front panel
    &:nth-of-type(3)
      background hsl(0, 0%, 85%)
    // Back panel
    &:nth-of-type(4)
      background hsl(0, 0%, 75%)
    // Top panel
    &:nth-of-type(5)
      background hsl(0, 0%, 75%)

      &:after
        content ''
        background repeating-radial-gradient(hsl(0, 0%, 0%) 0 50%, transparent 50% 100%) 0 0 / 0.75vmin 0.75vmin, hsl(0, 0%, 15%)
        position absolute
        border-radius 50%
        left 50%
        top calc(var(--xbox-width) * 0.1vmin)
        transform translate(-50%, 0)
        width calc(var(--xbox-width) * 0.9vmin)
        height calc(var(--xbox-width) * 0.9vmin)

    // Bottom panel
    &:nth-of-type(6)
      background hsl(0, 0%, 75%)

  &__logo
    height 100%
    position absolute
    right 5%
    top 10%
    height 20%

    path
      fill black
