//- Front
//- Back
//- Right
//- Left
//- Top
//- Bottom
mixin cuboid(className)
  .cuboid(class=className)
    - let s = 0
    while s < 6
      .cuboid__side
      - s++
.scene
  //- Plane that all the 3D stuff sits on
  .plane
    .studio
      +cuboid('floor')
      +cuboid('rug')
      +cuboid('wall wall--left')
      +cuboid('wall wall--right-lower')
      +cuboid('wall wall--right-left')
      +cuboid('wall wall--right-upper')
      +cuboid('wall wall--right-right')
      +cuboid('skirting skirting--left')
      +cuboid('skirting skirting--right')
      +cuboid('windowsill')
      +cuboid('jfdi')
      +cuboid('shelf')
      +cuboid('light-cube')
      .desk
        +cuboid('desk__leg desk__leg--left')
        +cuboid('desk__leg desk__leg--right')
        +cuboid('desk__leg desk__leg--bottom-left')
        +cuboid('desk__leg desk__leg--bottom-right')
        +cuboid('desk__top')