*
  box-sizing border-box

body
  background rgb(32, 33, 36)
  min-height 100vh

canvas
  height 100vh
  touch-action none
  width 100vw

img
  position absolute
  opacity .2
  top 50%
  left 50%
  transform translate(-50%, -50%)