.page
  .text__container Scroll for cascading text effects!
  .text__container
    .slots(data-splitting='').
      slots

  .text__container
    .roulette(data-splitting='').
      roulette

  .text__container
    .cascade(data-splitting='').
      cascade cascade cascade cascade cascade

  .text__container
    .hinged(data-splitting='').
      hinged

  .text__container
    .carousel(data-splitting='').
      carousel

  .text__container
    .mexiwave(data-splitting='').
      mexiwave