@import url('https://fonts.googleapis.com/css?family=Roboto:900');

*
  box-sizing border-box
  animation  fadeIn .5s

body
html
  background #111
  font-family 'Roboto', sans-serif
  display flex
  align-items center
  justify-content center

.text
  background linear-gradient(45deg, yellow, green, red)
  background-clip text
  display inline-block
  color transparent
  font-size 5rem
  -webkit-background-clip text
  margin 0 auto