@import url('https://fonts.googleapis.com/css?family=Roboto:900');

*
  box-sizing border-box

body
html
  background #111
  font-family 'Roboto', sans-serif
  display flex
  align-items center
  justify-content center

.text
  font-size 5rem

  &__wrap
    font-size 5rem
    align-items center
    display flex
    justify-content center
    background linear-gradient(45deg, yellow, green, red)
    background-clip text
    -webkit-background-clip text
    color transparent

  &--1
    background linear-gradient(45deg, yellow, green)
    background-clip text
    -webkit-background-clip text
    color transparent

  &--2
    background linear-gradient(45deg, green, yellow)
    background-clip text
    -webkit-background-clip text
    color transparent
    margin-left 20px

.logo
  height 100px
  width 100px

  &--hidden
    display none