mixin paw(className)
  .clock__paw(class=`clock__paw--${className}`)
    - let p = 0
    while p < 5
      .clock__pad
      - p++
.clock
  .clock__face
    .clock__mouth
      .clock__tongue
    .clock__whiskers
      - let w = 0
      while w < 4
        .clock__whisker
        - w++
  .clock__eyes
    .clock__eye.clock__eye--left
      .clock__pupil
    .clock__eye.clock__eye--right
      .clock__pupil
  .clock__nose
  .clock__body
    - let d = 0
    while (d < 12)
      .clock__dot(style=`--index: ${d};`)
      - d++
    .clock__hand.clock__hand--minutes
    .clock__hand.clock__hand--hours
  +paw('top-left')
  +paw('top-right')
  +paw('bottom-left')
  +paw('bottom-right')
  .clock__tail
  .clock__bowtie