extends ../../boilerplate/layout.boilerplate.pug
block content
  include dev.pug
  script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.1/prop-types.min.js")
  script(crossorigin, src="https://unpkg.com/react@16.8.0/umd/react.development.js")
  script(crossorigin, src="https://unpkg.com/react-dom@16.8.0/umd/react-dom.development.js")