extends ../../boilerplate/layout.boilerplate.pug
block content
  include dev.pug
  script(src='https://unpkg.com/snapsvg-cjs@0.0.6/dist/snap.svg.js')
  script(src='https://unpkg.com/zdog@1.0.1/dist/zdog.dist.js')
