*
  box-sizing border-box

body
  min-height 100vh
  background hsl(0, 0%, 10%)
  color hsl(0, 0%, 100%)
  font-weight bold
  font-family sans-serif

canvas
  max-width 100%
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

.fft
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  display flex
  flex-direction column