*
  box-sizing border-box

body
  align-items      center
  background-color #111
  color            #fafafa
  display          flex
  height           100vh
  justify-content  center
  overflow          hidden
  width            100vw

$movement  = 100%
$size      = 5vh
$primary   = #d91e18
$secondary = #19b5fe
$tertiary  = #f39c12

.container
  position relative
  transform rotateX(45deg) translateY(-($size * 3))
  @media(min-width 768px)
    $size = 10vh
    transform rotateX(45deg) translateY(-($size * 3))

.layer
  display flex
  transform rotateX(45deg) rotate(45deg)

  &__wrapper
    position absolute
    for $child in (1..3)
      &:nth-child({$child})
        transform translate(-50%, (-($size) + (($child - 1) * $size)))
        z-index 3 - ($child - 1)
        @media(min-width: 768px)
          $size = 10vh
          transform translate(-50%, (-($size) + (($child - 1) * $size)))

.cube
  background-color $primary
  height $size
  position relative
  width  $size
  @media(min-width: 768px)
    $size = 10vh
    height $size
    width $size

  &:before
  &:after
    content ''
    display block
    height 100%
    position absolute
    width  100%

  &:before
    background-color $secondary
    left 100%
    top 50%
    max-width 100px
    transform skewY(45deg) scale(1.02)

  &:after
    background-color $tertiary
    left 50%
    top 100%
    transform skewX(45deg) scale(1.02)