*
  box-sizing border-box
  animation  fadeIn .5s
  transition all .5s ease 0s

body
  background-color #e74c3c
  color            #fafafa
  text-align       center
  display flex
  align-items center
  justify-content center

@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1


$movement = 100%
$size     = 100px
.container
  position relative
  transform rotateX(45deg) translateY(-($size * 3))

  &:hover
    .layer
      &:nth-child(1)
        transform translate(-50%,-(2 * $size)) rotateX(45deg) rotate(45deg)
      &:nth-child(3)
        transform translate(-50%,(2 * $size)) rotateX(45deg) rotate(45deg)

    .column:nth-child(1)
      transform translateX(-($movement))
    .column:nth-child(3)
      transform translateX($movement)

    .column
      .cube:nth-child(1)
        transform translateY(-($movement))
      .cube:nth-child(3)
        transform translateY($movement)


.layer
  display flex
  position absolute
  transform translate(-50%, 0) rotateX(45deg) rotate(45deg)
  &:nth-child(1)
    z-index 3
    transform translate(-50%,-($size)) rotateX(45deg) rotate(45deg)
  &:nth-child(2)
    z-index 2
  &:nth-child(3)
    z-index 1
    transform translate(-50%, $size) rotateX(45deg) rotate(45deg)

.cube
  height $size
  width  $size
  background-color blue
  margin 0
  position relative

  &:before
    content ''
    height 100%
    width  100%
    background-color green
    display block
    transform skewY(45deg)
    position absolute
    top 50%
    left 100%

  &:after
    content ''
    height 100%
    width 100%
    background-color yellow
    display block
    position absolute
    transform skewX(45deg)
    top 100%
    left 50%