.block-reveal
  .block-reveal__line
    .block-reveal__word Block
    .block-reveal__word But
    .block-reveal__block
  .block-reveal__line
    .block-reveal__word Reveal
    .block-reveal__word ...
    .block-reveal__block
  .block-reveal__line
    .block-reveal__word Effect
    .block-reveal__word on a loop
    .block-reveal__block