.block-reveal
  .block-reveal__line
    .block-reveal__word CodePen
    .block-reveal__word social
    .block-reveal__block
  .block-reveal__line
    .block-reveal__word is
    .block-reveal__word development
    .block-reveal__block
  .block-reveal__line
    .block-reveal__word a
    .block-reveal__word environment
    .block-reveal__block