main
  h1 Neumorphic Playground
  section
    article
  - const TYPES = [{type: 'button', value: 'Click'}, {type: 'checkbox'}, { type: 'range'}, {type: 'text'}, {type: 'radio'}]
  section
    button Click
    button Click
    button Click
  //- section
  //-   label(for='checkbox') Checkbox
  //-   input#checkbox(type='checkbox' aria-checked='false' tabindex='0')
  //- section
  //-   label(for='range') Range
  //-   input#range(min='0', max='10', name='range', type='range')
  section
    label(for='text') Text
    input#text(type='text')
    label(for='text') Text
    input#text(type='text')
  //- section
  //-   input(type='radio', name='neumorphic')
  //-   input(type='radio', name='neumorphic')
  //-   input(type='radio', name='neumorphic')
  //-   input(type='radio', name='neumorphic')