*
*:after
*:before
  box-sizing border-box

body
  background 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc(var(--lightness) * 1%))
  font-family -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  min-height 100vh
  display flex
  align-items center
  justify-content center

section
  align-items center
  height 100%
  scroll-snap-align start
  flex 1 0 100%
  display flex
  justify-content center
  overflow auto
  width 100%

#app
  position relative

main
  --neumorphic-reach 30
  --neumorphic-blur 60
  --neumorphic-intensity 0.25
  --border-width 0
  --border-intensity 0.1
  --border-radius 25
  --x calc(var(--neumorphic-reach) * 1px)
  --y calc(var(--neumorphic-reach) * 1px)
  --blur calc(var(--neumorphic-blur) * 1px)
  --x2 calc(var(--neumorphic-reach) * -1px)
  --y2 calc(var(--neumorphic-reach) * -1px)
  -webkit-overflow-scrolling touch
  background 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc(var(--lightness) * 1%))
  border '%s solid hsla(%s, %s, %s, %s)' % (calc(var(--border-width, 0) * 1px) var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) + 15) * 1%) var(--border-intensity))
  border-radius calc(var(--border-radius) * 1px)
  box-shadow '%s %s %s hsla(%s, %s, %s, %s),
    %s %s %s hsla(%s, %s, %s, %s)' % (var(--x) var(--y) var(--blur) var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) - 15) * 1%) var(--neumorphic-intensity) var(--x2) var(--y2) var(--blur) var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) + 15) * 1%) var(--neumorphic-intensity))
  display flex
  overflow auto
  overflow-y hidden
  position relative
  scroll-behavior smooth
  scroll-snap-type x mandatory
  height 75vmin
  width 75vmin

footer
  position absolute
  top calc(100% + 60px)
  left 50%
  transform translate(-50%)
  display flex

  a.active
    background 'radial-gradient(circle at 50% 50%, hsl(%s, %s, %s) 20%, transparent 25%)' % (var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) + 30) * 1%))

  a
    height 44px
    width 44px
    border-radius 50%
    font-size 0
    display block
    position relative

    &:after
      --neumorphic-reach 4
      --neumorphic-blur 8
      --neumorphic-intensity 0.25
      --x calc(var(--neumorphic-reach) * 1px)
      --y calc(var(--neumorphic-reach) * 1px)
      --blur calc(var(--neumorphic-blur) * 1px)
      --x2 calc(var(--neumorphic-reach) * -1px)
      --y2 calc(var(--neumorphic-reach) * -1px)
      content ''
      height 30px
      width 30px
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      border-radius 50%
      box-shadow '%s %s %s hsla(%s, %s, %s, %s) inset,
        %s %s %s hsla(%s, %s, %s, %s) inset' % (var(--x) var(--y) var(--blur) var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) - 15) * 1%) var(--neumorphic-intensity) var(--x2) var(--y2) var(--blur) var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) + 15) * 1%) var(--neumorphic-intensity))


article
  --x calc(var(--neumorphic-reach) * 1px)
  --y calc(var(--neumorphic-reach) * 1px)
  --blur calc(var(--neumorphic-blur) * 1px)
  --x2 calc(var(--neumorphic-reach) * -1px)
  --y2 calc(var(--neumorphic-reach) * -1px)
  background 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc(var(--lightness) * 1%))
  border '%s solid hsla(%s, %s, %s, %s)' % (calc(var(--border-width, 0) * 1px) var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) + 15) * 1%) var(--border-intensity))
  border-radius calc(var(--border-radius) * 1px)
  box-shadow '%s %s %s hsla(%s, %s, %s, %s),
    %s %s %s hsla(%s, %s, %s, %s)' % (var(--x) var(--y) var(--blur) var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) - 15) * 1%) var(--neumorphic-intensity) var(--x2) var(--y2) var(--blur) var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) + 15) * 1%) var(--neumorphic-intensity))
  height calc(var(--height, 100) * 1px)
  width calc(var(--width, 100) * 1px)

header
  position fixed
  height 75vmin
  width 100vw
  top 50%
  left 50%
  transform translate(-50%, -50%)
  z-index -1

h1
  color 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) - 50) * 1%))
  position fixed
  z-index 2
  bottom 100%
  left 50%
  transform translate(-50%, -100%)

label
  color 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) - 50) * 1%))

@supports(-webkit-appearance: none)
  input[type='checkbox']
  input[type='radio']
    --active red
    --active-inner #fff
    --focus 2px rgba(39, 94, 254, .3)
    --border #BBC1E1
    --border-hover #275EFE
    --background #fff
    --disabled #F6F8FF
    --disabled-inner #E1E6F9
    -webkit-appearance none
    height 21px
    outline none
    display inline-block
    vertical-align top
    position relative
    margin 0
    cursor pointer
    border 1px solid var(--bc, var(--border))
    background var(--b, var(--background))
    transition background .3s, border-color .3s, box-shadow .2s

    &:after
      content ''
      display block
      left 0
      top 0
      position absolute
      transition transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s)

    &:checked
      --b var(--active)
      --bc var(--active)
      --d-o .3s
      --d-t .6s
      --d-t-e cubic-bezier(.2, .85, .32, 1.2)

    &:disabled
      --b var(--disabled)
      cursor not-allowed
      opacity .9

      &:checked
        --b var(--disabled-inner)
        --bc var(--border)

      & + label
        cursor not-allowed

    &:hover
      &:not(:checked)
        &:not(:disabled)
          --bc var(--border-hover)

    &:focus
      box-shadow 0 0 0 var(--focus)

    &:not(.switch)
      width 21px
      &:after
        opacity var(--o, 0)

      &:checked
        --o 1

    & + label
      font-size 14px
      line-height 21px
      display inline-block
      vertical-align top
      cursor pointer
      margin-left 4px

  input[type='checkbox']
    &:not(.switch)
      border-radius 7px
      &:after
        width 5px
        height 9px
        border 2px solid var(--active-inner)
        border-top 0
        border-left 0
        left 7px
        top 4px
        transform rotate(var(--r, 20deg))

      &:checked
        --r 43deg

    &.switch
      width 38px
      border-radius 11px
      &:after
        left 2px
        top 2px
        border-radius 50%
        width 15px
        height 15px
        background var(--ab, var(--border))
        transform translateX(var(--x, 0))

      &:checked
        --ab var(--active-inner)
        --x 17px

      &:disabled
        &:not(:checked)
          &:after
            opacity .6

  input[type='radio']
    border-radius 50%
    &:after
      width 19px
      height 19px
      border-radius 50%
      background var(--active-inner)
      opacity 0
      transform scale(var(--s, .7))

    &:checked
      --s .5

  // Range
  input[type=range]
    -webkit-appearance none
    width 100%
    background transparent

  input[type=range]::-webkit-slider-thumb
    -webkit-appearance none

  input[type=range]:focus
    outline none

  input[type=range]::-ms-track
    width 100%
    cursor pointer
    background transparent;
    border-color transparent
    color transparent

  input[type=range]::-webkit-slider-thumb
    -webkit-appearance none
    border 1px solid #000000
    height 36px
    width 16px
    border-radius 3px
    background #ffffff
    cursor pointer
    margin-top -14px
    box-shadow 1px 1px 1px #000000, 0px 0px 1px #0d0d0d

    &:active
      background red

  input[type=range]::-moz-range-thumb
    box-shadow 1px 1px 1px #000000, 0px 0px 1px #0d0d0d
    border 1px solid #000000
    height 36px
    width 16px
    border-radius 3px
    background #ffffff
    cursor pointer

  input[type=range]::-ms-thumb
    box-shadow 1px 1px 1px #000000, 0px 0px 1px #0d0d0d
    border 1px solid #000000
    height 36px
    width 16px
    border-radius 3px
    background #ffffff
    cursor pointer

  input[type=range]::-webkit-slider-runnable-track
    width 100%
    height 8.4px
    cursor pointer
    box-shadow 1px 1px 1px #000000, 0px 0px 1px #0d0d0d
    background #3071a9
    border-radius 1.3px
    border 0.2px solid #010101

  input[type=range]:focus::-webkit-slider-runnable-track
    background #367ebd

  input[type=range]::-moz-range-track
    width 100%
    height 8.4px
    cursor pointer
    box-shadow 1px 1px 1px #000000, 0px 0px 1px #0d0d0d
    background #3071a9
    border-radius 1.3px
    border 0.2px solid #010101

  input[type=range]::-ms-track
    width 100%
    height 8.4px
    cursor pointer
    background transparent
    border-color transparent
    border-width 16px 0
    color transparent

  input[type=range]::-ms-fill-lower
    background #2a6495
    border 0.2px solid #010101
    border-radius 2.6px
    box-shadow 1px 1px 1px #000000, 0px 0px 1px #0d0d0d

  input[type=range]:focus::-ms-fill-lower
    background #3071a9

  input[type=range]::-ms-fill-upper
    background #3071a9
    border 0.2px solid #010101
    border-radius 2.6px
    box-shadow 1px 1px 1px #000000, 0px 0px 1px #0d0d0d

  input[type=range]:focus::-ms-fill-upper
    background #367ebd

  // Buttons
  button
    --blur calc(var(--neumorphic-blur) * 1px)
    --x calc(var(--neumorphic-reach) * 1px)
    --y calc(var(--neumorphic-reach) * 1px)
    --x2 calc(var(--neumorphic-reach) * -1px)
    --y2 calc(var(--neumorphic-reach) * -1px)
    -webkit-appearance none
    background 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc(var(--lightness) * 1%))
    color 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) - 40) * 1%))
    border '%s solid hsla(%s, %s, %s, %s)' % (calc(var(--border-width, 0) * 1px) var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) + 15) * 1%) var(--border-intensity))
    border-radius calc(var(--border-radius) * 1px)
    box-shadow '%s %s %s hsla(%s, %s, %s, %s),
      %s %s %s hsla(%s, %s, %s, %s)' % (var(--x) var(--y) var(--blur) var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) - 15) * 1%) var(--neumorphic-intensity) var(--x2) var(--y2) var(--blur) var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) + 15) * 1%) var(--neumorphic-intensity))
    font-size 1rem
    font-weight 500
    overflow hidden
    outline transparent
    padding 1rem 2rem
    position relative
    transition all .1s ease

    &:after
      bottom 0
      content ''
      height 15%
      left 0
      position absolute
      width 100%

    &:active
      box-shadow '%s %s %s hsla(%s, %s, %s, %s) inset,
      %s %s %s hsla(%s, %s, %s, %s) inset' % (var(--x) var(--y) var(--blur) var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) - 15) * 1%) var(--neumorphic-intensity) var(--x2) var(--y2) var(--blur) var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) + 15) * 1%) var(--neumorphic-intensity))

    &:hover:after
    &:focus:after
      background 'hsla(%s, %s, %s, 0.35)' % (var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) - 40) * 1%))

    &:active:after
      background 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) - 40) * 1%))

    &:nth-of-type(2)
      &:active
        background 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) - 40) * 1%))
        box-shadow none
        color 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) + 40) * 1%))

    &:nth-of-type(3)
      background 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) - 20) * 1%))
      color 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) + 20) * 1%))

      &:after
        display none

      &:hover
      &:focus
        --x calc(var(--neumorphic-reach) * 2px)
        --y calc(var(--neumorphic-reach) * 2px)
        --x2 calc(var(--neumorphic-reach) * -2px)
        --y2 calc(var(--neumorphic-reach) * -2px)
        background 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) - 30) * 1%))

      &:active
        background 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) - 40) * 1%))
        box-shadow none
        color 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) + 40) * 1%))
  // Text
  [type='text']
    --blur calc(var(--neumorphic-blur) * 1px)
    --x calc(var(--neumorphic-reach) * 1px)
    --y calc(var(--neumorphic-reach) * 1px)
    --x2 calc(var(--neumorphic-reach) * -1px)
    --y2 calc(var(--neumorphic-reach) * -1px)
    background 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc(var(--lightness) * 1%))
    border-color transparent
    border-radius calc(var(--border-radius) * 1px)
    border-style solid
    border-width calc(var(--border-width) * 1px)
    font-size 1rem
    outline transparent
    overflow hidden
    padding 1rem 2rem
    box-shadow '%s %s %s hsla(%s, %s, %s, %s) inset,
      %s %s %s hsla(%s, %s, %s, %s) inset' % (var(--x) var(--y) var(--blur) var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) - 15) * 1%) var(--neumorphic-intensity) var(--x2) var(--y2) var(--blur) var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) + 15) * 1%) var(--neumorphic-intensity))

    &:focus
      border-color var(--highlight)

// Layout related fun
.buttons
.texts
.ranges
  display grid
  grid-gap calc(var(--margin) * 4px)
  width 30vmin

.input
  align-items center
  display grid
  grid-template-columns auto 1fr
  grid-gap 1rem

// Label highlights for accentuating focus
.input:focus-within label
  font-weight bold

.input:nth-of-type(1)
  --highlight 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) + 20) * 1%))

.input:nth-of-type(2)
  --highlight 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) - 20) * 1%))

.input:nth-of-type(3)
  &:focus-within label
    color 'hsl(%s, %s, %s)' % (var(--hue) calc(var(--saturation) * 1%) calc((var(--lightness) + 20) * 1%))
  --highlight transparent

