.jigglypuff
  .jigglypuff__left-arm
  .jigglypuff__left-foot
  .jigglypuff__right-foot
  .jigglypuff__ear-left
    .jigglypuff__ear-left-inner
  .jigglypuff__ear-right
    .jigglypuff__ear-right-inner
  .jigglypuff__body
  .jigglypuff__right-arm
  .jigglypuff__mouth
  .jigglypuff__tuft-container
    .jigglypuff__tuft
    .jigglypuff__tuft-line
  .jigglypuff__eye-left
    .jigglypuff__eye-left-pupil
  .jigglypuff__eye-right
    .jigglypuff__eye-right-pupil