// This is where we use the custom properties
@property --tesla-trip {
  syntax: '<integer>';
  inherits: true;
  initial-value: 0;
}

@keyframes coil {
  0%, 100% {
    --tesla-trip: 0;
  }
  50% {
    --tesla-trip: var(--tesla-variance);
  }
}

@supports (background: paint(something)) {
  .tesla {
    /*
      Optionally set property values.
      This can be done at root or local scope
    */
    --tesla: var(--tesla-trip); /* Animated noise with property, hack to animate? */
    --tesla-variance: 100;
    --tesla-x1: 0;
    --tesla-x2: 100;
    --tesla-y1: 50;
    --tesla-y2: 50;
    background: paint(tesla-coil);
  }

  .tesla:active {
    --spread: 4;
    animation: coil 5s infinite linear;
  }
}

// Additional Styling

body {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  padding: 0;
  position: relative;
  margin: 0;
  background-color: hsl(0, 0%, 5%);
}

.tesla {
  --lightness: 50;
  --spread: 10;
  border: 0;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  outline: transparent;
  box-shadow: '0 0px %s 0 hsl(190, 50%, calc(var(--lightness) * 1%));' % (calc(var(--spread) * 1px) calc(var(--lightness) * 1%))
  transition: box-shadow 0.1s, transform 0.1s;
}

.tesla:hover {
  --lightness: 80;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}