.hours
  .hours__digit.digit
  .hours__digit.digit
.minutes
  .minutes__digit.digit
  .minutes__digit.digit
.seconds
  .seconds__digit.digit
  .seconds__digit.digit
.milliseconds
  .milliseconds__digit.digit
  .milliseconds__digit.digit
