*
  box-sizing border-box
  animation  fadeIn .5s

body
  background-color #111
  text-align       center

@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1



$digitWidth  = 50px
$digitHeight = 90px
$digitStroke = 5px
$digitFill   = $digitWidth * .6
$digitPadding = $digitHeight * 0.05

$digitColor = #e74c3c

.digit
  height           $digitHeight
  width            $digitWidth
  display          inline-block
  margin           10px
  position         relative
  transform        skewX(-5deg)

  /* Use before as the horizontal lines and after as the vertical */
  &:before
    content          ''
    height           $digitStroke
    width            $digitFill
    display          block
    position         absolute
    border-radius    $digitStroke
    top              $digitPadding
    left             50%
    margin-left      -($digitFill / 2)

  $verticalHeight = (($digitHeight - ((2 * $digitPadding) + ($digitStroke))) / 2)
  $verticalWidth = ($digitWidth - ((2 * $digitPadding) + $digitStroke))
  &:after
    content          ''
    width            $digitStroke
    height           $verticalHeight
    border-radius    $digitStroke
    position         absolute
    top              $digitPadding + ($digitStroke / 2)
    left             $digitPadding


  $hBottom = 0 ($verticalHeight * 2) 0 0 $digitColor
  $hMiddle = 0 $verticalHeight 0 0 $digitColor

  $vRight = $verticalWidth 0 0 $digitColor
  $vLeftBottom = 0 $verticalHeight 0 $digitColor
  $vRightBottom = $verticalWidth $verticalHeight 0 $digitColor

  &[data-digit=\'0\']
    &:before
    &:after
      background-color $digitColor

    &:before
      box-shadow $hBottom

    &:after
      box-shadow $vRight, $vLeftBottom, $vRightBottom

  &[data-digit=\'1\']
    &:after
      box-shadow $vRight, $vRightBottom

  &[data-digit=\'2\']
    &:before
      background-color $digitColor
      box-shadow $hMiddle, $hBottom
    &:after
      box-shadow $vRight, $vLeftBottom

  &[data-digit=\'3\']
    &:before
      background-color $digitColor
      box-shadow $hMiddle, $hBottom
    &:after
      box-shadow $vRight, $vRightBottom

  &[data-digit=\'4\']
    &:before
      box-shadow $hMiddle
    &:after
      background-color $digitColor
      box-shadow $vRight, $vRightBottom

  &[data-digit=\'5\']
    &:before
      background-color $digitColor
      box-shadow $hMiddle, $hBottom
    &:after
      background-color $digitColor
      box-shadow $vRightBottom

  &[data-digit=\'6\']
    &:before
      background-color $digitColor
      box-shadow $hMiddle, $hBottom
    &:after
      background-color $digitColor
      box-shadow $vRightBottom, $vLeftBottom

  &[data-digit=\'7\']
    &:before
      background-color $digitColor
    &:after
      box-shadow $vRight, $vRightBottom

  &[data-digit=\'8\']
    &:before
    &:after
      background-color $digitColor

    &:before
      box-shadow $hBottom,
        $hMiddle

    &:after
      box-shadow $vRight,
        $vLeftBottom,
        $vRightBottom

  &[data-digit=\'9\']
    &:before
      background-color $digitColor
      box-shadow $hMiddle, $hBottom
    &:after
      background-color $digitColor
      box-shadow $vRight, $vRightBottom
