@import url('https://fonts.googleapis.com/css?family=Lato&display=swap')

*
  box-sizing border-box

body
  min-height 100vh
  background hsl(0, 0%, 15%)
  color hsl(0, 0%, 100%)
  font-family 'Lato', sans-serif
  display flex
  align-items center
  flex-direction column
  padding-top 5vmin

.stage
  height 50vmin
  overflow hidden
  width 50vmin

[type='range']
  &.step-range
    margin 32px 0
    width 25vmin
  &[disabled]
    opacity 0.25

button
  --primary hsl(0, 0%, 100%)
  --secondary hsl(0, 0%, 15%)
  --tertiary hsl(0, 0%, 85%)
  padding 8px 16px
  font-weight bold
  border 2px solid var(--primary)
  background transparent
  color var(--primary)
  transition color .15s, background .15s, border-color .15s

  &:disabled
    opacity 0.25

  &:hover:not(:disabled)
    background var(--primary)
    color var(--secondary)

  &:active:not(:disabled)
    background var(--tertiary)
    border-color var(--tertiary)

.instructions
  width 60vmin

  .instruction
    display none
    font-size 1.15rem
    line-height 1.75
    text-align center

    &:first-of-type
      display block

// Stage props
img
  background linear-gradient(45deg, hsl(0, 0%, 25%), hsla(0, 0%, 75%, 0.5)), hsl(0, 0%, 50%)
  border-width 0
  height 100%
  width 100%
  object-fit cover

.img__wrap
  display none
  height 100%
  width 100%
  display flex
  align-items center
  justify-content center

a
a:visited
a:active
  font-weight bold
  color hsl(0, 100%, 65%)

code
  font-weight bold
  color hsl(0, 100%, 65%)

canvas
  height 100%
  width 100%