-
  const COLUMNS = [
    {
      title: "To Do",
      tasks: [
        "Get Milk",
        "Click to Edit!"
      ]
    },
    {
      title: "Click to Edit!",
      tasks: [
        "Creating Demo"
      ]
    },
    {
      title: "Complete",
      tasks: [
        "Let Cat Out"
      ]
    }
  ]

.board
  for column in COLUMNS
    .board__column.column
      .column__content
        .column__title(contenteditable='true')= column.title
        .column__tasks(ondrop="ON_DROP(event)" ondragover="ALLOW_DROP(event)")
          if column.tasks
            for task in column.tasks
              .task(draggable="true" ondragstart="ON_DRAG_START(event)")
                button.task__remove(title="Remove task" onclick="REMOVE_TASK(event)") Remove task
                  svg(viewBox="0 0 352 512" width="24" title="times")
                    path(d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z")
                .task__content(contenteditable="true")= task
        button.column__add(title="Add task" onclick="ADD_TASK(event)") Add task
          svg(viewBox="0 0 512 512" width="24" title="plus-circle")
            path(d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm144 276c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92h-92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z")