//- img(src="./base.png")
button.like
  .like__container
    .like__feature
      include heart.svg
    span.like__text.like__text--spacer(aria-hidden="true") Like
    span.like__text.like__text--traveller Like
    span.like__number 12