@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@699;700&display=swap')

*
  box-sizing border-box

:root
  --pink hsl(326, 98%, 82%)
  --pink-light hsl(325, 93%, 95%)
  --pink-dark hsl(326, 78%, 65%)
  --stroke hsl(0, 0%, 60%)
  --text hsl(0, 0%, 20%)
  --number hsl(0, 0%, 50%)
  --stroke-active hsl(0, 0%, 5%)
  --transition 0.2s

body
  display grid
  place-items center
  min-height 100vh
  font-family "Roboto", sans-serif

button
  --hovered 0
  cursor pointer
  padding 0
  margin 0
  border 0
  appearance none
  background transparent
  position relative

button:hover
  --hovered 1

.heart
  overflow visible !important
  height 100%
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  opacity calc(1 - var(--hovered, 0))

  &__outline
    stroke var(--stroke-active)
    stroke-width 1.25px
    opacity 0
  &__baseline
    stroke var(--stroke)
    stroke-width 1.25px
  &__body
    opacity 0
    fill var(--pink)
  &__shine
    opacity 0
    fill var(--pink-light)
  &__shadow
    opacity 0
    fill var(--pink-dark)


.transformer
  --font-size 32px
  --border-width 4px
  --border-radius 10px
  --padding-v 26px
  --padding-h 36px
  --padding-t 10px
  --padding-b 4px
  font-size var(--font-size)
  position relative
  outline transparent

  *
    display inline-block

  &__container
    display inline-flex
    align-items center
    justify-content center
    position relative
    overflow hidden

  &__paws
    height 100%
    width 80%
    position absolute
    border var(--border-width) solid pink
    border-left 0
    border-right 0
    z-index 2

  &__front
    background hsla(0, 80%, 50%, 0.5)
    padding var(--padding-v) calc(var(--padding-t) + var(--padding-b)) var(--padding-v) var(--padding-h)
    border var(--border-width) solid var(--stroke)
    border-radius var(--border-radius) 0 0 var(--border-radius)
    border-right 0
    z-index 2

  &__middle
    background hsla(210, 80%, 50%, 0.5)
    padding var(--padding-v) var(--padding-t)
    border var(--border-width) solid var(--stroke)
    border-radius 0
    border-left 0
    border-right 0

  &__back
    border var(--border-width) solid var(--stroke)
    border-radius 0 var(--border-radius) var(--border-radius) 0
    background hsla(120, 80%, 50%, 0.5)
    padding var(--padding-v) var(--padding-h) var(--padding-v) var(--padding-b)
    border-left 0
    z-index 2

  &__number
    font-size var(--font-size)
    line-height var(--font-size)
    height var(--font-size)
    color var(--number)
    transform translate(6px, 0)

  &__text
    color var(--text)
    font-size var(--font-size)
    line-height var(--font-size)
    opacity calc(1 - var(--hovered, 0))
    transition transform var(--transition), opacity var(--transition)
    transform translateY(calc(var(--hovered, 0) * 80%))

  &__outline
    position absolute
    height 100%
    width 90%
    left 50%
    top 0
    border var(--border-width) solid var(--stroke)
    border-left 0
    border-right 0
    z-index 10
    transform translate3d(-50%, 0, 0)


  &__feature
    height var(--font-size)
    position relative
    width var(--font-size)
    transition transform var(--transition)
    transform translate(-6px, 0) translateX(calc(var(--hovered, 0) * 100%))
    background hsla(280, 80%, 50%, 0.5)

.number
  position absolute
  left 0

  &__place
    height var(--font-size)
    display inline-block
    position relative
    width 18px


.slap
  position absolute
  height calc(var(--font-size) * 2)
  width calc(var(--font-size) * 2)
  top 50%
  left 38%
  transform translate(-50%, -50%)
  z-index 4
  display none
  // Important for CodePen
  overflow visible !important

.paw
  height calc(var(--font-size) * 2)
  position absolute
  top 0%
  left 50%
  transform translate(-50%, 0%)
  width var(--font-size)

  &--left
    background orange

  &--right
    z-index 5
    background white
    top 125%
    left 55%

.bear-paw
  position absolute
  height 150%
  opacity var(--hovered, 0)
  transition var(--transition)
  // Important for CodePen
  overflow visible !important
  left 50%
  top 0
  transform translate(-50%, -14%)

.wiggle
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  height 100px
  overflow visible !important
  display none
  z-index 10

.dashed
  height 100%
  overflow visible !important

  &__container
    display none
    top 50%
    left 50%
    height 100px
    position absolute
    transform translate(-50%, -50%)
    z-index 11

.geo
  height 100%
  // Keep CodePen happy
  overflow visible !important
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

  &__wrap
    display none
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    z-index 12
    height 20px
    width 20px

.burst
  display none
  height 30px
  width 30px
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%) rotate(calc(var(--rotate, 0) * 1deg)) translateY(calc(var(--translate, 0) * -1px))
  z-index 12

  &__line
    position absolute
    height 30px
    top 50%
    left 50%
    transform translate(-50%, -50%) rotate(calc((-45 + (var(--index) * 30)) * 1deg))
    transform-origin 50% 100%
    overflow visible !important
    z-index 12