svg.wiggle(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 3.456 27.798')
  path.wiggle__line(fill='none' stroke='#000' stroke-linecap='round' stroke-dasharray="32" stroke-width='1.323' d='M1.736 27.128S.528 24.968.678 23.821c.17-1.298 2.117-1.999 2.117-3.308 0-1.308-2.117-1.998-2.117-3.307s2.117-1.998 2.117-3.307S.678 11.9.678 10.592c0-1.31 2.117-1.999 2.117-3.308 0-1.309-1.948-2.01-2.117-3.307C.528 2.829 1.736.67 1.736.67')
