input#toggle(type="checkbox")
label(for="toggle")
.backdrop
.scene
  //- Plane that all the 3D stuff sits on
  .plane
    .seat
      .cuboid
        .cuboid__side
          h1
            span 2
            span 0
            span 2
            span 0
        .cuboid__side
        .cuboid__side
        .cuboid__side
        .cuboid__side
        .cuboid__side
          h1
            span 2
            span 0
            span 2
            span 1