<div class="ghost__drag">
  <svg xmlns="http://www.w3.org/2000/svg" class="ghost" viewBox="0 0 87.69 133.803">
    <defs>
      <clipPath id="bodyClip">
        <path class="ghost__tails" d="M.08 0A.079.079 0 000 .08v122.084l.044-.002c5.322 0 5.622 11.62 10.935 11.64h.03c5.313-.02 5.613-11.64 10.935-11.64 5.323 0 5.623 11.62 10.936 11.64h.03c5.313-.02 5.612-11.64 10.935-11.64s5.622 11.62 10.936 11.64h.029c5.313-.02 5.613-11.64 10.936-11.64 5.323 0 5.622 11.62 10.936 11.64h.029c5.313-.02 5.613-11.64 10.936-11.64.014 0 .028 0 .043.002V.08a.079.079 0 00-.08-.08H43.846z" />
        <path class="ghost__tails--two" d="M.08 0A.079.079 0 000 .08v122.084l.044-.002c5.322 0 5.622 11.62 10.935 11.64h.03c5.313-.02 5.613-11.64 10.935-11.64 5.323 0 5.623 11.62 10.936 11.64h.03c5.313-.02 5.612-11.64 10.935-11.64s5.622 11.62 10.936 11.64h.029c5.313-.02 5.613-11.64 10.936-11.64 5.323 0 5.622 11.62 10.936 11.64h.029c5.313-.02 5.613-11.64 10.936-11.64.014 0 .028 0 .043.002V.08a.079.079 0 00-.08-.08H43.846z" />
      </clipPath>
      <clipPath id="mouthClip">
        <circle class="ghost__mouth-clip" cx="43.845000" cy="50.5" r="10"></circle>
      </clipPath>
      <clipPath id="shookClip">
        <ellipse cx="43.7964" cy="51.6723" rx="4" ry="4"/>
      </clipPath>
    </defs>
    <g class="ghost__ghost">
      <g class="ghost__body-wrapper" clip-path="url(#bodyClip)">
        <path class="ghost__body" d="M43.845 0C19.555 0 0 16.028 0 49.742v81.416c0 .887.017 1.768.043 2.645h87.604c.027-.877.043-1.758.043-2.645V49.742C87.69 16.028 68.135 0 43.845 0z"/>
      </g>
      <g class="ghost__features--shook">
        <ellipse cx="43.7964" cy="51.6723" rx="4" ry="4" fill="black"/>
        <g clip-path="url(#shookClip)">
          <path class="ghost__tongue--shook" fill="red" d="M46.276 50.864a2.91 2.91 0 00-2.91 2.91 2.91 2.91 0 00.151.917 6.147 6.147 0 003.402-.81 6.147 6.147 0 001.833-1.633 2.91 2.91 0 00-2.476-1.384z" />
        </g>
        <path d="M13.0777 42.6763L21.8369 45.7902L13.0777 48.6123" fill="none" stroke="black" stroke-width="2" stroke-linejoin="round"/>
        <path d="M74.8678 48.4368L65.8635 46.1247L74.3328 42.525" fill="none" stroke="black" stroke-width="2" stroke-linejoin="round"/>
      </g>
      <g class="ghost__eyes">
        <g class="ghost__eye" transform="translate(-14.366 -64.075)">
          <circle r="5.292" cy="109.431" cx="31.751"/>
          <circle class="ghost__pupil" cx="29.751" cy="107.431" r="1.323" />
        </g>
        <g class="ghost__eye" transform="translate(38.553 -64.075)">
          <circle cx="31.751" cy="109.431" r="5.292"/>
          <circle class="ghost__pupil" r="1.323" cy="107.431" cx="29.751" />
        </g>
      </g>
      <g class="ghost__cheeks" transform="translate(-14.526 -64.075)">
        <circle cx="23.226" cy="117.689" r="2.646"/>
        <circle r="2.646" cy="117.689" cx="93.517"/>
      </g>
      <g class="ghost__mouth-group" clip-path="url(#mouthClip)">
        <path class="ghost__mouth" d="M49.992 48.558a6.147 6.147 0 01-3.073 5.323 6.147 6.147 0 01-6.147 0 6.147 6.147 0 01-3.074-5.323h6.147z"/>
        <path class="ghost__tongue" d="M46.276 50.864a2.91 2.91 0 00-2.91 2.91 2.91 2.91 0 00.151.917 6.147 6.147 0 003.402-.81 6.147 6.147 0 001.833-1.633 2.91 2.91 0 00-2.476-1.384z" />
      </g>
      <g class="ghost__boo-features">
        <path class="ghost__teeth" d="M39.235 51.373l1.537-2.116 1.536 2.116 1.537-2.116 1.537 2.116 1.537-2.116 1.537 2.116 1.536-2.815H37.698z" />
        <path class="ghost__brow" d="M22.944 39.021c0 1.297-1.06 2.495-2.78 3.144-1.72.648-3.838.648-5.558 0-1.72-.649-2.78-1.847-2.78-3.144" stroke-width=".756" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="ghost__brow" d="M75.863 39.02c0 1.298-1.059 2.497-2.779 3.146-1.72.65-3.839.65-5.559 0-1.72-.649-2.779-1.848-2.779-3.147" stroke-width=".757" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
    </g>
  </svg>
</div>