- const effects = ['North', 'North East', 'East', 'South East', 'South', 'South West', 'West', 'North West']
each val in effects
  .page
    .text(data-word=val, data-scroll='out', data-splitting='', class=`text--${val.toLowerCase().replace(' ', '-')}`)= val