.container
  .loader.loader--in-and-out
    div
    div
    div
    div
    div

.container
  .loader.loader--out-from-behind
    div
    div
    div
    div
    div

.container
  .loader.loader--lines
    div
    div
    div
    div
    div
