for style in ['in-and-out', 'out-from-behind', 'swap', 'dip', 'scale-out', 'fan-out', 'lines-fade', 'lines-fade-2']
  .container
    .loader__wrapper
      .loader(class=`loader--${style}`)
        div
        div
        div
        div
        div
