/**
  * Variables for sizing, colors etc.
*/
$children = 5
$dotSize  = 20px
/**
  * Mixin for element styles
*/
dot()
  div
    background-color white
    border-radius    100%
    height           $dotSize
    left             50%
    position         absolute
    margin-left      -($dotSize / 2)
    margin-top       -($dotSize / 2)
    top              50%
    width            $dotSize
    {block}

@keyframes fadeInAndOut
  0%, 25%, 100%
    opacity 0
  30%, 70%
    opacity 1

@keyframes fadeInAndOut2
  0%, 25%, 75%, 100%
    opacity 0
  30%, 70%
    opacity 1

fadeInAndOut($num, $id, $travel)
  opacity 0
  transform rotate((360 / $children * $num) * 1deg) translateY($travel)
  animation fadeInAndOut 3s ($num * .2s) infinite

fadeInAndOut2($num, $id, $travel)
  opacity 0
  transform rotate((360 / $children * $num) * 1deg) translateY($travel)
  animation fadeInAndOut2 3s ($num * .2s) infinite



/**
  * In and out style loader. Items go in and out from the center.
*/
inAndOut($num, $id)
  @keyframes $id
    0%, 10%, 90%, 100%
      transform rotate((360 / $children * $num) * 1deg)
    14%, 86%
      transform rotate((360 / $children * $num) * 1deg) translateY(150%)

  animation unquote($id) 6s ($num * .2s) infinite

.loader
  &--in-and-out
    animation rotate 4s infinite linear

    +dot()
      for $child in (1..$children)
        &:nth-of-type({$child})
          z-index 5 - $child
          inAndOut($child, 'in-and-out--' + $child)
/**
  * Out from behind is the same as in and out style but we have a shield
*/
@keyframes rotateShield
  0%
    transform rotate(0deg)
  45%
    transform rotate(80deg)
  55%
    transform rotate(640deg)
  100%
    transform rotate(720deg)

outFromBehind($num, $id)
  @keyframes $id
    0%, 15%, 85%, 100%
      transform rotate((360 / $children * $num) * 1deg)
    20%, 80%
      transform rotate((360 / $children * $num) * 1deg) translateY(175%)

  animation unquote($id) 4s ($num * .2s) infinite


genLoad(name, wrapped)
  .loader
    &--{name}
      animation rotate 5s infinite linear
      +dot()
        for $child in (1..$children)
          &:nth-of-type({$child})
            transform rotate((360 / $children * $child) * 1deg)
            outFromBehind($child, 'out-from-behind--' + $child)
      { block }

+genLoad('out-from-behind', true)
  animation rotateShield 4s 1s infinite linear

/**
  * Swap out
*/
swap($num, $id)
  @keyframes $id
    0%, 44%, 58%, 100%
      transform rotate((360 / $children * $num) * 1deg) translateY(150%)
    48%, 54%
      transform rotate((360 / $children * $num) * 1deg)
  transform rotate((360 / $children * $num) * 1deg) translateY(150%)
  animation unquote($id) 4s ($num * .2s) infinite

.loader
  &--swap
    animation rotate 4s infinite linear

    +dot()
      for $child in (1..$children)
        &:nth-of-type({$child})
          swap($child, 'swap--' + $child)

/**
  * Dip
*/
dip($num, $id)
  @keyframes $id
    50%
      transform rotate((360 / $children * $num) * 1deg) scale(0.5)
    0%, 40%, 60%, 100%
      transform rotate((360 / $children * $num) * 1deg) translateY(150%)
  transform rotate((360 / $children * $num) * 1deg) translateY(150%)
  animation unquote($id) 3s ($num * .3s) infinite

.loader
  &--dip
    animation rotate 8s infinite linear

    +dot()
      for $child in (1..$children)
        &:nth-of-type({$child})
          dip($child, 'dip--' + $child)










/**
  * Scale in and out
*/
scaleOut($num, $id)
  @keyframes $id
    35%, 65%
      transform scale(0) rotate((360 / $children * $num) * 1deg) translateY(0%)
    0%, 25%, 75%, 100%
      transform scale(1) rotate((360 / $children * $num) * 1deg) translateY(175%)

  transform rotate((360 / $children * $num) * 1deg) translateY(175%)
  animation unquote($id) 4s ($num * .2s) infinite

.loader
  &--scale-out
    animation rotate 8s infinite linear

    +dot()
      background-color white
      for $x in (1..$children)
        &:nth-of-type({$x})

          z-index 5 - $x
          scaleOut($x, 'scale-out--' + $x)

  &--lines-fade
    animation rotate 4s infinite linear

    +dot()
      background-color white
      for $child in (1..$children)
        &:nth-of-type({$child})
          z-index 5 - $child
          fadeInAndOut($child, 'fade-in-and-out--' + $child, 100%)

  &--lines-fade-2
    animation rotate 4s infinite linear

    +dot()
      background-color white
      for $child in (1..$children)
        &:nth-of-type({$child})
          z-index 5 - $child
          fadeInAndOut2($child, 'fade-in-and-out2--' + $child, 100%)



/**
  * Fanning out effect so dots fan out and then fan back in continuosly
*/
fanOut($num, $id, $travel)
  @keyframes $id
    0%, 10%
      transform rotate(0deg) translateY(0)
    20%, 80%
      transform rotate((360 / $children * $num) * 1deg) translateY($travel)
    90%, 100%
      transform rotate(360deg) translateY(0)

  animation unquote($id) 4s ($num * .1s) infinite

map = {
  'fanOut': fanOut,
}

.loader
  &--fan-out
    animation rotate 8s infinite linear

    +dot()
      for $child in (1..$children)
        &:nth-of-type({$child})
          fanOut($child, 'fan--' + $child, 150%)

/**
  * Theming
*/
*
  box-sizing border-box

body
  background-color #111
  display flex
  flex-wrap wrap
  align-items center
  justify-content center

.container
  border        4px solid silver
  border-radius 6px
  height        200px
  margin        10px
  position      relative
  width         200px

.loader
.loader__wrapper
  height      20px
  left        50%
  margin-left -10px
  margin-top  -10px
  position    absolute
  top         50%
  width       20px

@keyframes rotate
  to
    transform rotate(360deg)
