audio(src='https://freesound.org/data/previews/456/456269_9495232-lq.mp3' autoplay="true" loop="true")
svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 619 1155')
  defs
    filter#a(color-interpolation-filters='sRGB')
      fegaussianblur(stddeviation='2.5 2' result='fbSourceGraphic')
      fecolormatrix(result='fbSourceGraphicAlpha' in='fbSourceGraphic' values='0 0 0 -1 0 0 0 0 -1 0 0 0 0 -1 0 0 0 0 1 0')
      fegaussianblur(stddeviation='10 10' result='fbSourceGraphic' in='fbSourceGraphic')
      fecolormatrix(result='fbSourceGraphicAlpha' in='fbSourceGraphic' values='0 0 0 -1 0 0 0 0 -1 0 0 0 0 -1 0 0 0 0 1 0')
      fegaussianblur(stddeviation='10 10' result='blur' in='fbSourceGraphic')
    filter#b(color-interpolation-filters='sRGB')
      fegaussianblur(stddeviation='2.5 2' result='fbSourceGraphic')
      fecolormatrix(result='fbSourceGraphicAlpha' in='fbSourceGraphic' values='0 0 0 -1 0 0 0 0 -1 0 0 0 0 -1 0 0 0 0 1 0')
      fegaussianblur(stddeviation='1 1' result='fbSourceGraphic' in='fbSourceGraphic')
      fecolormatrix(result='fbSourceGraphicAlpha' in='fbSourceGraphic' values='0 0 0 -1 0 0 0 0 -1 0 0 0 0 -1 0 0 0 0 1 0')
      fegaussianblur(stddeviation='1 1' result='blur' in='fbSourceGraphic')
    g#landscape.landscape
      g.road
        path.road__surface(d='M619 613L0 970v27l619-358v-26' )
        path.road__markings(d='M0 983l619-357' stroke-width='1.3' stroke-dasharray='16 16')
      //- path(d='M23 1010l69 39 69-39-69-40z' ' stroke='#000' stroke-width='.3')
      //- path(d='M172 990l46-27-46-26-46 26z' ' stroke='#000' stroke-width='.3')
      g.trees
        g
          path.tree__stump.tree__stump--one(d='M287 871v26l11-6v-27z' )
          path.tree__stump.tree__stump--two(d='M275 864v27l12 6v-26l-12-7' )
          path.tree__leaves.tree__leaves--one(d='M287 831l-35 20 35 20 34-20z' )
          path.tree__leaves.tree__leaves--two(d='M252 851v13l35 20v-13z' )
          path.tree__leaves.tree__leaves--three(d='M321 851v13l-34 20v-13z' )
        g
          path.tree__stump.tree__stump--one(d='M258 887v14l6-4v-13z' )
          path.tree__stump.tree__stump--two(d='M252 884v13l6 4v-14l-6-3' )
          path.tree__leaves.tree__leaves--one(d='M258 868l-17 9 17 10 17-10z' )
          path.tree__leaves.tree__leaves--two(d='M241 877v7l17 10v-7z' )
          path.tree__leaves.tree__leaves--three(d='M275 877v7l-17 10v-7z' )
        g
          path.tree__stump.tree__stump--one(d='M292 908v14l6-4v-14z' )
          path.tree__stump.tree__stump--two(d='M286 904v14l6 4v-14l-6-4' )
          path.tree__leaves.tree__leaves--one(d='M292 886l-18 11 18 11 19-11z' )
          path.tree__leaves.tree__leaves--two(d='M274 897v7l18 11v-7z' )
          path.tree__leaves.tree__leaves--three(d='M311 897v7l-19 11v-7z' )
        g
          path.tree__stump.tree__stump--one(d='M333 884v18l7-5v-17z' )
          path.tree__stump.tree__stump--two(d='M325 880v17l8 5v-18l-8-4' )
          path.tree__leaves.tree__leaves--one(d='M333 858l-23 13 23 13 22-13z' )
          path.tree__leaves.tree__leaves--two(d='M310 871v9l23 13v-9z' )
          path.tree__leaves.tree__leaves--three(d='M355 871v9l-22 13v-9z' )
      g.building
        path.building__side(d='M413 639V481l69 39v159l-58 33V553l58-33' )
        path.building__top(d='M413 481l-58 33 69 39 58-33-69-39' )
        path.building__face(d='M355 514v158l69 40V553z' )
        path.building__glass(d='M367 534v26l46 26v-26l-46-26M367 613v26l46 27v-27l-46-26M367 573v27l46 26v-26l-46-27M367 653v26l46 27v-27l-46-26' )
        path.building__glass(d='M436 560v13l11-6v-14zM436 679v13l11-6v-14zM459 547v13l11-7v-13zM459 666v13l11-7v-13zM436 639v14l11-7v-13zM459 586v14l11-7v-13z' )
      g.mountain
        path.mountain__face(d='M172 911l-46 52 46 27z' )
        path.mountain__side(d='M172 911l46 52-46 27v-79' )
      g.trees
        g
          path.tree__stump.tree__stump--one(d='M69 851v26l12-6v-27z' )
          path.tree__stump.tree__stump--two(d='M58 844v27l11 6v-26l-11-7' )
          path.tree__leaves.tree__leaves--one(d='M69 811l-34 20 34 20 34-20z' )
          path.tree__leaves.tree__leaves--two(d='M35 831v13l34 20v-13z' )
          path.tree__leaves.tree__leaves--three(d='M103 831v13l-34 20v-13z' )
        g
          path.tree__stump.tree__stump--one(d='M40 868v13l6-4v-13z' )
          path.tree__stump.tree__stump--two(d='M35 864v13l5 4v-13l-5-4' )
          path.tree__leaves.tree__leaves--one(d='M40 848l-17 10 17 10 18-10z' )
          path.tree__leaves.tree__leaves--two(d='M23 858v6l17 10v-6z' )
          path.tree__leaves.tree__leaves--three(d='M58 858v6l-18 10v-6z' )
        g
          path.tree__stump.tree__stump--one(d='M74 888v14l7-4v-14z' )
          path.tree__stump.tree__stump--two(d='M68 884v14l6 4v-14l-6-4' )
          path.tree__leaves.tree__leaves--one(d='M74 866l-18 11 18 11 19-11z' )
          path.tree__leaves.tree__leaves--two(d='M56 877v7l18 11v-7z' )
          path.tree__leaves.tree__leaves--three(d='M93 877v7l-19 11v-7z' )
        g
          path.tree__stump.tree__stump--one(d='M115 864v18l8-5v-17z' )
          path.tree__stump.tree__stump--two(d='M107 860v17l8 5v-18l-8-4' )
          path.tree__leaves.tree__leaves--one(d='M115 838l-23 13 23 13 23-13z' )
          path.tree__leaves.tree__leaves--two(d='M92 851v9l23 13v-9z' )
          path.tree__leaves.tree__leaves--three(d='M138 851v9l-23 13v-9z' )
      g.mountain
        path.mountain__top(d='M92 877l-23 14 23 13 23-13z' )
        path.mountain__face(d='M69 891l-46 119 69 39V904z' )
        path.mountain__side(d='M115 891l46 119-69 39V904l23-13' )
      g.trees
        g
          path.tree__stump.tree__stump--one(d='M310 725v27l11-7v-26z' )
          path.tree__stump.tree__stump--two(d='M298 719v26l12 7v-27l-12-6' )
          path.tree__leaves.tree__leaves--one(d='M310 686l-35 20 35 19 34-19z' )
          path.tree__leaves.tree__leaves--two(d='M275 706v13l35 20v-14z' )
          path.tree__leaves.tree__leaves--three(d='M344 706v13l-34 20v-14z' )
        g
          path.tree__stump.tree__stump--one(d='M281 742v13l6-3v-13z' )
          path.tree__stump.tree__stump--two(d='M275 739v13l6 3v-13l-6-3' )
          path.tree__leaves.tree__leaves--one(d='M281 722l-17 10 17 10 17-10z' )
          path.tree__leaves.tree__leaves--two(d='M264 732v7l17 10v-7z' )
          path.tree__leaves.tree__leaves--three(d='M298 732v7l-17 10v-7z' )
        g
          path.tree__stump.tree__stump--one(d='M315 762v14l6-3v-15z' )
          path.tree__stump.tree__stump--two(d='M309 758v15l6 3v-14l-6-4' )
          path.tree__leaves.tree__leaves--one(d='M315 741l-19 10 19 11 18-11z' )
          path.tree__leaves.tree__leaves--two(d='M296 751v7l19 11v-7z' )
          path.tree__leaves.tree__leaves--three(d='M333 751v7l-18 11v-7z' )
        g
          path.tree__stump.tree__stump--one(d='M355 739v17l8-4v-18z' )
          path.tree__stump.tree__stump--two(d='M348 734v18l7 4v-17l-7-5' )
          path.tree__leaves.tree__leaves--one(d='M355 712l-22 13 22 14 23-14z' )
          path.tree__leaves.tree__leaves--two(d='M333 725v9l22 13v-8z' )
          path.tree__leaves.tree__leaves--three(d='M378 725v9l-23 13v-8z' )
      g.building
        path.building__side(d='M459 838v-80l34-19v79l-34 20')
        path.building__top(d='M459 758l-35-19 35-20 34 20-34 19')
        path.building__face(d='M424 739v79l35 20v-80z')
        path.building__glass(d='M424 752l35 20 34-20v13l-34 20-35-20v-13M436 785v26l-12-6v-27z')
        path.building__antennae(d='M470 739v-27' stroke-linecap='round' stroke-linejoin='round')
        path.building__antennae(d='M459 745v-53' stroke-linecap='round' stroke-linejoin='round')
        circle.antennae__flash.antennae__flash--higher(r='10' filter='url(#b)')
        circle.antennae__flash.antennae__flash--lower(r='10' filter='url(#b)')
  g.ground
    path.ground__side(d='M0 1116l619-358v40L0 1155' )
    path.ground__top(d='M0 877l619-357v238L0 1116z')
  use(xlink:href="#landscape")
  use.dupe(xlink:href="#landscape")
  path.blackbird__shadow(d='M-244 84l23-7 68-39 120-25-97-56-43 70-68 38-12 14 9 5' filter='url(#a)' transform='translate(355 799)')
  g.blackbird
    g.blackbird__body
      path.blackbird__body-component.blackbird__spike(d='M366 77L7 285' stroke-linecap='round' stroke-linejoin='round')
      path.blackbird__body-component.blackbird__tail(d='M376 71l-23-2v22l14 7 9-27M52 249l-11-7 21-12v12z')
      path.blackbird__body-component(d='M59 232l-43 37 18 11 28-46-3-2-18 10-25 27 43-37M364 89l86 50-237 49z' fill='green')
      path.blackbird__body-component.blackbird__top-wing(d='M335 72l-75-43-86 137z')
      //- path.blackbird__back-jet(d='M249 168L80 265l-10-6 150-87z' fill="yellow")
      path.blackbird__body-component.blackbird__main-body(d='M357 64L62 234l-28 46 46-15L374 95z')
      path.blackbird__body-component.blackbird__back-side(d='M59 232l3 2L357 64l-4-2z')
      path.blackbird__body-component.blackbird__off-side(d='M59 232l-43 37 25-27z')
      path.blackbird__glass(d='M49 240l-8 7v4l11 6 18-11-4-6-11 6-7-4z')
      path.blackbird__glare(d='M367 83L38 273l-4 7L367 87l2-1z')
      path.blackbird__body-component.blackbird__back-jet(d='M432 108l-11 2 4 6z')
      path.blackbird__body-component.blackbird__side-jet.blackbird__side-jet--one(d='M421 106l-108 62v12l4 2 108-62s3-2 3-6-3-6-3-6z' )
      path.blackbird__body-component.blackbird__top-jet.blackbird__top-jet--one(d='M313 168l108-62 4 2-108 62z' )
      path.blackbird__body-component.blackbird__jet-wing.blackbird__jet-wing--one(d='M438 69l-11 35-64 37 10-35z' )
      path.blackbird__body-component.blackbird__jet-front.blackbird__jet-front--one(d='M313 168l4 2s4 2 4 6c0 3-3 5-4 6zm4 14s-1 1 0 0zm0 0l-4-14s-3 2-3 4c0 6 3 8 3 8z' )
      path.blackbird__body-component.blackbird__jet-spike.blackbird__jet-spike--one(d='M313 172l-14 12 18-6v-4' )
      g
        path.blackbird__body-component.blackbird__back-jet(d='M311 39l-11 2 4 6z')
        path.blackbird__body-component.blackbird__side-jet.blackbird__side-jet--two(d='M300 37L192 99v12l4 2 108-62s3-2 3-6-3-6-3-6z' )
        path.blackbird__body-component.blackbird__top-jet.blackbird__top-jet--two(d='M192 99l108-62 4 2-108 62z' )
        path.blackbird__body-component.blackbird__jet-wing.blackbird__jet-wing--two(d='M317 0l-11 35-64 37 11-35z' )
        path.blackbird__body-component.blackbird__jet-front.blackbird__jet-front--two(d='M192 99l4 2s4 2 4 6c0 3-3 6-4 6zm4 14s-1 1 0 0zm0 0l-4-14s-3 2-3 4c0 6 3 8 3 8z' )
        path.blackbird__body-component.blackbird__jet-spike.blackbird__jet-spike--two(d='M192 103l-14 13 18-7v-4' )
