*
  box-sizing border-box
  animation  fadeIn .5s

body
  background-color #e74c3c
  color            #fafafa
  text-align       center
  display flex
  align-items center
  justify-content center


svg
  width 50vmin

@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1
