extends ../../boilerplate/layout.boilerplate.pug
block content
  include dev.pug
  script(src='./gsap.min.js')
  script(src='./MorphSVGPlugin.min.js')
  script(src='./GSDevtools.min.js')
  script(src='https://unpkg.com/splitting/dist/splitting.min.js')
