svg.control-tower(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 63.5 65.593')
  defs
    clipPath#body
      rect#rocket-clip-rect(width='63.5' height='58.593' x='16.7083' fill='red' y='109.291')
  g(transform='translate(-16.7083 -109.291)' clip-path="url(#body)")
    g.control-tower__body
      //- path.launch-control__jet(fill='#0ff' d='M34.2098 158.9397h4.3467v8.6935h-4.3467z')
      path.launch-control__frame(d='M27.2143 169.244V138.25h7.7485v30.994z' fill='none' stroke='#f0f' stroke-width='1.0583')
      //- path.launch-control__jet(fill='#0ff' d='M58.36 158.9397h4.3467v8.6935H58.36z')
      path.launch-control__frame(d='M27.2143 169.244l7.7485-7.7485-7.7485-7.7485 7.7485-7.7485-7.7485-7.7485' fill='none' stroke='#f0f' stroke-width='.7937')
      path.launch-control__frame(d='M34.9628 169.244l-7.7485-7.7485 7.7485-7.7485-7.7485-7.7485 7.7485-7.7485' fill='none' stroke='#f0f' stroke-width='.7937')
      //- path.launch-control__jet(fill='#0ff' d='M42.5052 160.5486h11.9063v7.1815H42.5052z')
      path.launch-control__frame(d='M53.1057 169.2452h9.2604v-18.5209h-9.2604z' fill='none' stroke='#f0f' stroke-width='1.0583')
      path.launch-control__frame(d='M53.1057 169.2452l9.2604-9.2605-9.2604-9.2604' fill='none' stroke='#f0f' stroke-width='.7937')
      path.launch-control__frame(d='M62.366 169.2452l-9.2603-9.2605 9.2604-9.2604' fill='none' stroke='#f0f' stroke-width='.7937')
      path.launch-control__frame(d='M68.9555 169.2452v-51.8503h4.8109v51.8503z' fill='none' stroke='#f0f' stroke-width='1.0583')
      path.launch-control__frame(d='M68.9555 169.2452l4.8109-4.8109-4.8109-4.8108 4.8109-4.8109-4.8109-4.8108 4.8109-4.8109-4.8109-4.8108 4.8109-4.8109-4.8109-4.8108 4.8109-4.8109' fill='none' stroke='#f0f' stroke-width='.7937')
      path.launch-control__cable(d='M71.695 169.2452v-39.9698' fill='none' stroke='gray' stroke-width='.2646')
      path.launch-control__tower(fill='#666' stroke='#f0f' stroke-width='.7937' stroke-linecap='round' stroke-linejoin='round' d='M68.8305 117.2626h5.061v12.0128h-5.061z')
      path.launch-control__walkway(d='M72.1636 125.413h-16.122' fill='none' stroke='#000' stroke-width='.8869')
      path.launch-control__door(fill='#0f0' d='M70.0469 124.9695h.9909v-1.7915h-.9909z')
      path.launch-control__window(fill='#0ff' d='M68.4265 117.9294h5.869v2.6727h-5.869z')
  g(transform='translate(-16.7083 -109.291)')
    path.launch-control__hatch(d='M21.5217 169.2452h53.8731' stroke='#000' stroke-width='3.1195')
