svg.cross(viewbox='0 0 162.80969 60.440757')
  g(transform='translate(-5.2030773,-108.61135)' style='display:inline')
    g
      g.t
        g.t__cross
          rect#rect944(ry='0' y='125.58167' x='146.58987' height='2.348175' width='6.1350183')