include dismantle.pug
include dot-one.pug
include dot-two.pug
include cross-two.pug
include cross-one.pug
include cross-three.pug
include dot-three.pug
include dot-four.pug
.crane.crane--vertical
.crane.crane--vertical
.crane.crane--horizontal.crane--horizontal-right
.crane.crane--horizontal.crane--horizontal-left
.crane.crane--horizontal.crane--horizontal-right
.crane.crane--vertical
.logo-container
  .crane.crane--horizontal.crane--horizontal-left
  img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/logo-man.svg')