svg.dot(viewbox='0 0 162.80969 60.440757')
  g(transform='translate(-5.2030773,-108.61135)' style='display:inline')
    path.i__dot(d='m 34.919085,121.84052 c -0.909501,0 -1.645371,0.55397 -1.645371,1.44694 0,0.9095 0.73587,1.46348 1.645371,1.46348 0.90125,0 1.63711,-0.55398 1.63711,-1.46348 0,-0.89297 -0.73586,-1.44694 -1.63711,-1.44694 z')