svg.dot(viewbox='0 0 162.80969 60.440757')
  g(transform='translate(-5.2030773,-108.61135)' style='display:inline')
    path.i__dot(d='m 106.40619,154.11969 c 0,0.93431 0.76895,1.70325 1.71153,1.70325 0.93431,0 1.70325,-0.76894 1.70325,-1.70325 0,-0.94258 -0.76894,-1.71153 -1.70325,-1.71153 -0.94258,0 -1.71153,0.76895 -1.71153,1.71153 z')