*
  box-sizing border-box

:root
  --lightness 0

body
  text-align       center
  display flex
  align-items center
  justify-content center
  background 'hsl(0, 0%, %s)' % (calc((100 - var(--lightness)) * 1%))

  @media(prefers-color-scheme dark)
    --lightness 100

.dismantle
.dot
.cross
  height 30vmin
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

img
  position absolute
  height 30vmin
  top 50%
  left 50%
  transform translate(-50%, -50%)

.logo-container
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

  .crane
    right 50%
    top 50%
    transform translate(0, -50%)

svg
  path
  rect
    fill 'hsl(0, 0%, %s)' % (calc(var(--lightness) * 1%))

.crane
  position absolute
  z-index -1
  background repeating-linear-gradient(60deg, black 2px, white 4px)

  &--vertical
    height 100vh
    width 0.5vmin

  &--horizontal
    width 100vw
    height 0.5vmin
