.title-container
  h1 five dots
for style in ['in-and-out', 'out-from-behind', 'swap', 'dip', 'scale-out', 'fan-out', 'fade-in-and-out', 'fade-in-and-out-2', 'mexican-wave', 'dive']
  .container
    .loader(class=`loader--${style}`)
      div
      div
      div
      div
      div
