.gun__wrapper
  svg.gun(xmlns:vectornator='http://vectornator.io' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 463 157' clip-rule='evenodd' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round')
    defs
      filter#scribbleA
        feTurbulence(basefrequency='0.02', numoctaves='3', result='noise', seed='0')
        feDisplacementMap#displacement(in='SourceGraphic', in2='noise', scale='1')
      filter#scribbleB
        feTurbulence(basefrequency='0.02', numoctaves='3', result='noise', seed='1')
        feDisplacementMap(in='SourceGraphic', in2='noise', scale='1')
      filter#scribbleC
        feTurbulence(basefrequency='0.02', numoctaves='3', result='noise', seed='2')
        feDisplacementMap(in='SourceGraphic', in2='noise', scale='1')
      filter#scribbleD
        feTurbulence(basefrequency='0.02', numoctaves='3', result='noise', seed='3')
        feDisplacementMap(in='SourceGraphic', in2='noise', scale='1')
      filter#scribbleE
        feTurbulence(basefrequency='0.02', numoctaves='3', result='noise', seed='4')
        feDisplacementMap(in='SourceGraphic', in2='noise', scale='1')
      clipPath#barrelClip.barrel-clip
        path(d='M102 22l46-1 2 2v28l-2 2h-46l-2-2V23l2-1z' fill='#848484')
      g#barrel(fill='#bbb')
        path(d='M148 33l1 9-2 1h-35c-4 0-12 0-11-8 1-2 3-2 4-2l11-1h33v10' stroke='#252525')
        path(d='M127 35h8-4l-10-1h-2-1 18l-12-1h-3-1 16s1 0 0 0h-12 16-8-1 10-5s0 0 0 0h-1l7 1 1-1s1 0 0 0h-6l-3 1s0-1 0 0a29 29 0 009 0l1-1-8 1h-2s0 0 0 0h11v-1h-9v1l5-1h4-8-1 10s0 0 0 0l-4-1h-3c-2 1 5 1 6 1h-1-1-4s0 0 0 0h-1 8c1 0 0 0 0 0h-5l-10 1h-2-1 13-19 3-12-1 10-14 14-14s-1 0 0 0h12-11-1 5-8-1l5 1c1 0 0 0 0 0h-2-4 4-4 3s0 0 0 0h-2 0l-1 1h-1 2s0 0 0 0h-2 1l-1 2-1-1 4-1v-1h-2 1l14-2h5s0 0 0 0h-13l-3 1h-1 18l5-1h3-8-2 16-12-1 20c1 0 0 0 0 0h-8l-19 1h-13c-1 0-3 0-4 2' stroke='#252525')
        path(d='M112 35h12s0 0 0 0l-8-1h-2s-1 0 0 0h25c1 0 7 1 8-1M146 34h0z' stroke='#252525')
        g(stroke='#252525')
          path(d='M148 14l1 9-2 1h-35c-4 0-12 1-11-8l4-2 11-1h33v10')
          path(d='M127 16h8-4l-10-1h-2-1 18-15-1l11-1h5s1 0 0 0h-12 16-8-1 10-5v1h-1 8s1 0 0 0h-6-3s0 0 0 0a29 29 0 009 0h1-8-2s0 0 0 0h11s0 0 0 0h-9s-1 0 0 0h5l3-1h1-8-1l1 1h2l4-1h3s0 0 0 0h-4 0-3s0 0 0 0h-1 8c1 0 0 0 0 0h-5l-10 1h-2-1 13-19 3-12-1 10-5l-9 1h14l-3-1h-11s-1 0 0 0h12-11-1 5-6l-2 1h-1 5c1 0 0 0 0 0h-2-4 4-4l3 1s0 0 0 0h-2-1-1 2s0 0 0 0h-2l1 1-1 1-1-1 4-1s1 0 0 0h-2l2-1h-1l14-1 5-1s0 0 0 0h-4l-9 1h-3-1 23l2-1h1-8-2c3 2 8 1 12 1h4-12-1 7l8-1h5c1 0 0 0 0 0l1 1h-41c-1 1-3 0-4 2')
          path(d='M112 16h12s0 0 0 0l-8-1h-2s-1 0 0 0h33M146 15h0z')
        g(stroke='#000')
          path(d='M148 52l1 9h-9l-28 1c-4-1-12 0-11-8 1-2 3-2 4-2l11-1 25-1h8v10')
          path(d='M127 53h8-16-1 12l5-1h1-15-1 16s1 0 0 0h-12 16-8-1 10-5s0 0 0 0h-1 8s1 0 0 0h-6-3s0 0 0 0a29 29 0 009 0h1-8l-2 1s0 0 0 0h8l3-1s0 0 0 0h-9s-1 0 0 0h9-8-1 10v-1h-4 0-3s0 0 0 0l-1 1h5l3-1v1h-15l-2 1h-1 13-19 3-12-1 10-14 14-14s-1 0 0 0l8-1h4-8l-3 1h-1 5-8-1 5c1 0 0 0 0 0h-2-4l3 1h1-4 3s0 0 0 0h-2-1s-2 0-1 1h2s0 0 0 0h-2 1l-1 1h-1l4-1v-1h-2 1l14-2 5-1s0 0 0 0h-4l-9 1h-3-1 26-8-2 16-12-1 20c1 0 0 0 0 0h-27l-13 1c-1 0-3 0-4 2')
          path(d='M112 54l9-1h3s0 0 0 0h-8-2s-1 0 0 0h25l8-1M146 53h0z')
    g(vectornator:layername='Layer 1')
      g.gun__flag
        g.gun__flag-post
          path(d='M160 27c-2 0-2-3-1-4l6-1h9a848 848 0 0083 0h81l30 1h83l1 2v1l-21 1-53-1h-51l-36-1h-76l-22 1-33 1z' stroke='#282828' stroke-width='2')
          path.gun__flag-post-end(d='M452 20h-4c-1 1 1 8 4 7l2-3c2-4-5-5-5-4-3 3-3 11 2 10 3 0 5-8 0-7l-2 1c-5 6 4 9 8 6v-3c0-1 1-6-1-7l-4-1-3 1c-5 5 5 11 8 7v-4-3c-4-3-12 0-11 6 0 3 6 5 7 3 2-1 1-10-1-11-4-3-7 7-5 8l5 2h2c5-3-1-10-4-7-2 0-3 4-4 5v3l3 1c7 2 7 0 7-5l1-4c-1-2-7-4-9-3l-2 4v3c1 3 8 5 10 3v-5-3l-3-2c-4-1-6 4-6 8 1 2 7 5 7 0l-2-6z' stroke='#282828' stroke-width='2')
        g.gun__flag-flag
          path(d='M290 25l2 119c3 4 64-25 69-26 2-1 79 29 80 29l-1-122c-2-2-13 0-16 0H290z' fill='#c51d1d')
          path(d='M397 97l-9-2 2 8-9-4v8l-7-6-2 8-6-7-3 8-4-9-6 7-2-10-7 6 1-10-8 4 3-9-9 2 5-8-9-1 7-6-9-3 8-5-7-4 9-3-7-5 10-2-5-6 10 1-4-8 9 3-1-8 8 5 1-9 7 7 3-8 5 8 4-7 3 9 6-6 1 9 7-4-1 9 8-3-4 9 9-1-6 8 9 1-7 6 8 3-9 4 7 5-9 2 6 6h-10z' fill='#fff' fill-rule='nonzero')
          image(href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/logo-man.svg" height="50" width="100" x="310" y="44")
      g.gun__gun
        g.gun__trigger
          path(d='M116 71c-1 2-3 4-3 11 0 4 3 7 6 8a13574 13574 0 002 3h-2c-4-1-14-6-13-11 2-13-10-7-10-11 0-7-4-4 2-11l8-3c7 0 4 0 9 3' fill='#434141')
        g.gun__hammer(fill='#434141' stroke='#434141')
          path(d='M59 12l-2 31M60 11l9 1-1 8-1 23M58 43l8 1M65 22c6 1 13 1 17 7M64 29l18 1')
          path(d='M68 37c-6-1-13-3-18 1-3 2-3 6-4 9-2 10 5 17 14 18 5 1 10 0 14-5 4-6 2-17-4-21-1-2-4-2-6-2')
          path(d='M62 11h-2v6l-2 15v6c2 2 6 2 9 3')
          path(d='M67 29l12 1s3 1 3-1c-1-2-4-4-6-4l-7-2h-6M58 30c-5-6-14-8-21-9M36 21v4l4 1c4 0 8 0 11 2 4 2 6 6 8 10')
          path(d='M45 23h-8l2 1h5-6 7l-8-1c-1 0 0 0 0 0h3s1 1 0 0h-2c-1 1 2 2 2 1 0 0 0 0 0 0h-2c-1 1 2 1 3 1 0-1-5-2-5 0h4c1-1-2-1-1-1l9 1h-2l-2-1h-1c1-1 6 1 7 1l1 1-3-1-2-1 5 2 1 1-4-2 2 1 4 2 1 1 1 1-2-2-1-1 1 1a36 36 0 012 3v-1l2 3v1c1-1-1-3-1-3l-1-1 3 3v1c1-1-2-4-2-4l-1-1 5 10M54 25l6 1h-1l-1-1h-3-1 5l2 1-9-1c-1 0 0 0 0 0h6l1 1-5-1h-2a8610 8610 0 007 0h-9 9s1 0 0 0h-6l-1-1h-1l5 1h3-6-1l5 1h2-4-2 6l1 1-3-1h-1l2 1h-3 5-3v1h2')
        path(d='M269 18l1 18M248 40l-54-1h-65-2 113l20-1h9l1 1' fill='none' stroke='#000' stroke-width='2')
        path(d='M270 38h-1l-7-1h-49l-42 1h-33l-22 1' fill='none' stroke='#000' stroke-width='2')
        path(d='M232 40l29-1h5l-2-1h-63c-16 0-31 3-47 4M266 40h4M270 39h-3 3' fill='none' stroke='#000' stroke-width='2')
        path(d='M270 39h-49 16l19 1M265 40s0 0 0 0h0' fill='none' stroke='#000' stroke-width='2')
        path(d='M257 40l-1-1h-48l-6 1M201 39l-18-1a67 67 0 00-6 0l1 1 6 1M155 40h-2M169 41l-11-1-22-1h-11l6 1h27l-10-1-23 1h-7-1l3 1 6-1h10s0 0 0 0l-3-1h-12-3l2 1' fill='none' stroke='#000' stroke-width='2')
        path(d='M108 40l12 1h7l-3-1h-4c-6-1-12-2-18-1l-6 1h-1l5 1 13-1h8c-7-2-15 0-22 0l-8 1h-1 6l20-1h8l3 1h2l-2-1h-24l-8 1h-3l4 1M270 37v1M270 26v12M130 18c5 2 13 1 18 1M144 20v38M144 60V33v-9-3 32' fill='none' stroke='#000' stroke-width='2')
        path(d='M144 57l1-33v-5 43M143 20l2 36M90 19v34M143 50V19' fill='none' stroke='#000' stroke-width='2')
        path(d='M164 42l-2 1a17 17 0 012 0s0 0 0 0v-1zm-2 1l-2 2-1 1-1 1s0 0 0 0l-1 2-2 1h2s0 0 0 0l3-3s0 0 0 0v-1h1l2-2h-1s0 0 0 0v-1zm-2 5l-1 1-1 2 1-2h1l1-1h-1zm-2-1c-5 0-8 7-12 11l3-2 2-1 5-6 2-2zm-3 4l-4 4-1 1-1 1-2 3 2-1 4-4 1-2s0 0 0 0 0 0 0 0l1-2-5 5 5-5s0 0 0 0zm-5 5h-1l-1 2 2-2zm-2 2l-4 3 3-3h1zm-2 0v1l-3 2 3-3zm13-7h-1 1s0 0 0 0zm-3 1s0 0 0 0v2s0 0 0 0 0 0 0 0v-1s0 0 0 0 0 0 0 0v-1zm-2 3l-2 3-2 1 3-2s0 0 0 0l1-1v-1zM145 15c2-1-2-3-2-2l4 3-1-1-1-1-2-1 2 2zM143 14c-7-2-13-2-20-2h-10 27-37 39l-2 1h-11l-24-1H92h13l28 1H91l5 1h43-6l-10-1H92M91 13c-1-2 0-2-2-2h-1 1l-5-1h-5' fill='none' stroke='#000' stroke-width='2')
        path(d='M78 11h11c-3 0-9-1-11 1M12 121l-1 17c0 2-2 5 1 6l6 1 16 1 27-1h6c2-2-1-12-1-14v-26' fill='none' stroke='#000' stroke-width='2')
        path(d='M65 116c-1 7-2 13 1 19l3 7 2 2 1 2-6-10c-3-11-3-25 3-34' fill='none' stroke='#000' stroke-width='2')
        path(d='M66 119v10c1 4 8 15 5 18-3 2-9 2-12 2l-6 1' fill='#954830' stroke='#000' stroke-width='2')
        path(d='M36 150h1l17-1c3-1 13 0 14-3 2-4 0-10-1-14l-2-17M74 95l5-3h2v-2l-1 2-5 3' fill='#954830' stroke='#000' stroke-width='2')
        path(d='M66 114c-1 6-2 12 0 17 1 3 6 14 4 18l-8 2M8 148l-1-5-1-1M6 140l2 3 4 3-2-1-1-3v-10l1-11' fill='none' stroke='#000' stroke-width='2')
        path(d='M10 121l-1 12-1 8-1 3 2-5 1-14 2-9' fill='none' stroke='#000' stroke-width='2')
        path(d='M12 121v3c-1 6-6 20 2 24l1 1M66 151c3-2 3-7 3-10l-1-3M55 46c8-3 15-7 19-12s5-9 7-15l1-4 1-3c0 6-5 11-10 16M71 30h0' fill='none' stroke='#000' stroke-width='2')
        path(d='M79 11l-1 3v4c-1 6-4 14-7 19l-8 9-8 3-8 3M52 52a44 44 0 0020-21M76 17v5' fill='none' stroke='#000' stroke-width='2')
        path(d='M76 24l-2 5-4 6c-2 4-4 11-8 14l-7 4' fill='none' stroke='#000' stroke-width='2')
        path(d='M56 53l7-8 7-7 3-2 6-17 1-5 1 4-2 5-8 10a97 97 0 01-23 19' fill='none' stroke='#000' stroke-width='2')
        path(d='M53 52l2-1c7-5 12-12 16-20M74 27l1-3M76 23l3-5M70 93h0v2M80 87l1 6M80 93l-3-4M77 89l2 4M79 94h0M79 93l-3-4M77 89h1l2 4M77 95l-1-2-1-3M75 90l2 5' fill='none' stroke='#000' stroke-width='2')
        path(d='M91 10c-2-4-8-3-12-2h-2M75 24v0M73 30l-5 7-3 3c-4 4-8 8-14 11l-2 1M50 52l5-3-1 1-1 1-2 1M73 28h0' fill='none' stroke='#000')
        path(d='M78 7h5l2 1-2-1h-6' fill='none' stroke='#000')
        path(d='M78 7l6 1a1070 1070 0 013 0L77 7' fill='none' stroke='#000')
        path(d='M77 8h9l-7-1h-2' fill='none' stroke='#000')
        path(d='M77 8h7l-5-1h-1M77 7h0' fill='none' stroke='#000')
        path(d='M78 6s0 0 0 0l10 1 2 4 1 1-3-4 1 1 1 2 1 1-2-2 1 1h1l-1-1V9c-1 3 4 6 5 7' fill='none' stroke='#000')
        path(d='M96 14l11 1h2l-11-1h-5l9 1h2l1-1H92l8 1h6c-4-2-9 0-13 0h-3-1c4 2 8 1 12 0h4c-4-2-9-1-13-1h-5c-1 1-3 0-2 1h18-24l1 1h21l1-1c-5-2-12-1-16 0h-3l2 1h12l4-1-1-1h-4l-11 1h-2l-1 1 3 1h12l3-1h1-17l5 2 6-1h3c-1-2-3-1-5-1H83l-3 1h4l7 1 5-1h1a35 35 0 00-17-1h-2c4 2 9 1 13 1l5-1h1l-5-1H80l1 1h4a66 66 0 009-1s1 0 0 0c-1-2-7-2-9-2l-4 1h-1l10 1 2-1-4-1h-6-2c-1 1 6 2 7 1l1-1-3-1h-5-2c2 2 5 2 7 1h1v-1c-1-2-9-3-9 1 0 2 8 1 5-3l-3 1-1 3v2l1-6-1 5v2l-1-6v-1 1M77 14s0 0 0 0v-1M76 16l1-1M77 12v-1' fill='none' stroke='#000')
        path(d='M76 16l1 1v-6M77 9l1 1 5 1c2-1 1-1 0-2l-4-1h2l4 1a305 305 0 01-7-1h1l4 1h1l-6-1-1 1' fill='none' stroke='#000')
        path(d='M77 9h1l6 1h-6l3 1 4-1 1-1-5 1c-1 1 2 1 3 1h1l-6 2v1l1-2c4-4-5 1 1 2 1 0 5-3 3-4h-2l-1 1c-1 2 6 3 7 3 2-1 0-3 0-4l-1-1h-1l6 6-1-1-2-1-2-3c-1-1 0 0 0 0l1 2 2 2s1 1 0 0l-3-4c2 0 4 4 5 4v-1l-1-1-3-3h-1l3 4 1 1-3-5c1 0 4 4 2 4l-5-3c-2 1 2 3 3 4h1l-4-5 3 4 1 1h1l-3-3s0 0 0 0l-1-1 4 5c1-1-2-4-2-5l-1-1-1-1 2 4 1 1c0-1-3-6-4-5l3 3v1l-2-3-1-1h-1l3 3c0-1-2-4-3-3l1 1c1 0 2 0 1 1l-1-1M105 14l16 1h21l-6-1h3M49 52l-6-1M51 52l-5-1h-4' fill='none' stroke='#000')
        path(d='M53 52h4l-4-1H41' fill='none' stroke='#000')
        path(d='M48 52l-3-1H35' fill='none' stroke='#000')
        path(d='M51 52h-3c-3-1-11-2-14-1' fill='none' stroke='#000')
        path(d='M44 52h1l4-1-3-1h-2-2c6 1 10 0 16-2 1-1 5-1 6-3l1-1c-3-1-11 3-14 4h-3c-1 1 1 1 1 1l3-1 4-1h1c-1-2-4 0-5 0l-5 1h-2c-1 1-3 0-2 1 1 2 10-1 12-2l1-1-6 2-3 1-2 1c5 1 10-2 13-5l2-1 3-1h-3l-8 4-10 2H31h16l4-1h2c-3-2-11 1-14 1h-7l8 1 4 1 2-1h-5l-9-1h-1' fill='none' stroke='#000')
        path(d='M30 50h2l5 1h3l-10-1M30 51l3 1' fill='none' stroke='#000')
        path(d='M30 51h4l-1-1h-3M31 50h4-5M30 50h2l-1-1s0 0 0 0M31 49h2l5 1 2-1h-6 19l2-1 2 1c-6-2-11-1-16 0h-3l3 1h6l-4-1-5 2h-2M44 52l-3-1s0 0 0 0M31 49s0 0 0 0' fill='none' stroke='#000')
        path(d='M8 129c1-5 0-12 3-17 4-12 12-23 18-34 3-6 3-13 3-19v-7l-1-1v-2c-2 2 1 7 1 8 1 5 1 12-1 17-1 7-8 12-11 19l-9 24-3 13v-1l1-5 1-12 7-14c3-5 3-8 7-12 3-5 8-9 9-14 1-6 2-11 1-16l-1-6v-1c-1 1 0 7 1 8 0 5 0 11-2 15-5 12-16 19-20 33l-3 21-1 6v1c1-10 0-22 3-31l5-8 12-16c5-5 6-12 6-19v-6-1-2c-1 1 1 6 1 8 0 5-1 10-3 14L14 99c-7 12-8 28-7 42' fill='none' stroke='#000')
        path(d='M36 51c14 4 28 12 38 22M74 73l-11-8-11-4-8-4-11-3-1-1-2-1h3c4 0 7 0 9 2 8 4 15 7 22 12l13 11' fill='#954830' stroke='#000')
        path(d='M79 77c-10-9-24-18-37-23l-10-3h-4l3-1h3c6 0 12 4 18 6 9 4 19 13 25 20' fill='#954830' stroke='#000')
        path(d='M83 82L73 68c-9-12-26-16-40-17h4l4 1 10 5 6 3c8 4 16 10 22 17' fill='#954830' stroke='#000')
        path(d='M80 80c-3-5-8-9-12-13a66 66 0 00-35-17h-4 3l5 1c5 0 8 3 12 6 9 5 18 11 26 19' fill='#954830' stroke='#000')
        path(d='M79 78l-6-7c-6-7-12-13-22-16l-14-4h-6l-2-1 5 1c6 0 9 2 13 5 4 2 9 3 13 6 6 3 10 9 15 13' fill='#954830' stroke='#000')
        path(d='M77 74c-4-7-8-9-14-12l-15-6-10-3-4-1-1-1c9 0 15 4 22 9l8 4 11 9' fill='#954830' stroke='#000')
        path(d='M79 79L67 69c-8-7-18-12-28-15l-10-2h3l8 1 13 8 15 9' fill='#954830' stroke='#000')
        path(d='M34 119l7-23 1-3 1-3c-1-1-2 1-2 2l-3 3c-4 6-6 12-8 19l-1 3c1 2 5 2 6 2l2-2c3-4 4-8 5-13l2-5v-2l-3 7v3l-1 2 8-14 3-6-1 2-3 4-3 6-1 2v2c2-1 2-4 4-6l1-1c0 2-5 11 2 9l1-1' fill='#91442d' stroke='#91422d')
        path(d='M27 110l6-4c2-4 5-8 5-12 0-2-4-2-5-1-3 2-4 6-6 10l-2 3v3l4-4 5-14c0-2 3-6 1-6-2-1-2 4-3 6l-5 11-1 3 2-1 4-7 3-9v-4h-2l-4 6c-4 5-7 13-8 19l1 2 9-19 3-7 1-3-3 3-4 8c-3 4-4 9-6 14l-2 4-1 2 8-21 1-3v-2l-8 17-1 4v1c3-1 6-10 7-14l2-3 1-2c-5 2-7 10-9 14l-1 4-1 1 4-9 2-4-5 11' fill='#91442d' stroke='#91422d')
        path(d='M18 113l-1 7-2 8 3-14 1-4v-3l-1 4-2 11-1 2v-2l4-13v-3-2l-2 14-1 4-1 2 3-12 1-4v-1c-3 4-3 10-4 14l-1 3 1-3v-5l2-8v-3-2l-3 13-1 4c0 1 0 5-1 4l1-5 4-15 2-5v-2c1 5-2 10-4 14l-1 6-1 2c0-7 2-13 5-18l4-7v-1c-2 1-2 4-3 6l-4 8-1 3-1 1c1-7 6-13 10-19l4-4 1-2c-3 1-5 6-5 7l-5 11-2 3-1 2c2-8 8-16 12-22l4-6 1-1c-3 1-4 4-6 6l-6 11-2 4-1 2 7-12 6-8 2-5v1l-3 5-9 14-2 2 11-14 3-5 1-2-3 4a196 196 0 00-8 11l-2 2c5-4 8-9 12-14l2-3 1-2-4 6-11 15-2 3 1-4 11-15 2-3 2-2-2 3-3 5-7 10-2 3-1 2 12-19 3-4 1-2-1 2-3 5-7 9-1 2-1 1c1-3 5-7 8-10l2-4 1-2-7 9-2 2-1 1 7-6c4-4 5-7 8-13l1-7v-2-2l-4 12-1 3v1c-2-3 1-9 2-12a48 48 0 001-6l-1 10v-1a34662 34662 0 011-7l-1 8v2l1-11v2l2 4c2-1-2-6-2-7l1 1 2 2v-1l-2-2-1-3' fill='none' stroke='#91422d')
        path(d='M16 124v5l-1 4 1-10v-9h-2l-2 13v5l1-3 1-6v-4 5l-1 7v2l1-10v-4c-2 1-2 4-2 6l-1 10v3c2-5 2-10 2-15v-2l1-2-2 16v2c3-4 2-9 3-13l-1 3v5l-1 9v-1l1-5v-3l-1 2v7l1-10v3l-1 8v-2l1-4v-4 3l-1 5v2l-1 2h3l3 1h2l-9-2h2l4 1 14 2h-4l-5-1c0-1-3 0-2-1h3a369662 369662 0 0016 2h-3l-9-2h-2l2 1a123 123 0 0016 1c2 1 5 2 7 1v-2l6-3 8-1c3-2 1-6 1-9l-6-14-1-4c-1-1-1 1-1 1v3l1 3 1 3 1 3 2 8 1 2 1-1v-5l-1-5-2-12-1-4v8l3 13 1 7s0 2 1 1c1-2-1-5-1-7l-3-17-3-7v-2l4 22v3l1 3v-3l-1-5-1-14v-11' fill='none' stroke='#91422d')
        path(d='M61 100l-2 17v5l4-23' fill='none' stroke='#91422d')
        path(d='M63 105l-3 10-1 2v2c0-8 3-15 7-22M68 94v2M64 108l-1 4-1 5c-1 1-1-2-1-3l2-6M69 94l1-3' fill='none' stroke='#91422d')
        path(d='M64 108l-3 7-1 2v1c-1-3 0-6 1-8M70 92l-1 2' fill='none' stroke='#91422d')
        path(d='M65 105l-2 6-3 8v-3l1-5 5-10M70 92v2' fill='none' stroke='#91422d')
        path(d='M62 111l-2 5-1 2 1-3 1-5M67 94l2-2 1-2' fill='none' stroke='#91422d')
        path(d='M63 113l-1 2-1 3v-5l4-10M67 96c1-1 1-4 2-3' fill='none' stroke='#91422d')
        path(d='M67 103l-5 16-2 5v-1l1-7' fill='none' stroke='#91422d')
        path(d='M65 104l-3 10v4l-2 3v-3l1-4 6-13M69 95v-1' fill='none' stroke='#91422d')
        path(d='M64 109l-4 8-1 2v-2-5M69 92l1-2c1 1-2 5-3 7M58 114l-1 2v-3l2-7M62 100l7-12-2 2-2 5' fill='none' stroke='#91422d')
        path(d='M61 102l-5 11-1 3v-3l2-5M65 93l2-4 2-3-2 3-3 7M56 110l-2 5c-1 1-2 5-3 4s0-4 1-6 1-5 3-7M61 92l2-3 1-2v2l-4 6M53 109l-2 5-2 3 5-17' fill='none' stroke='#91422d')
        path(d='M58 93l4-8c2-2-1 4-2 5l-4 8-8 15-2 4-1 2 1-6c1-6 4-12 6-17 2-4 3-9 6-12v2l-3 7' fill='none' stroke='#91422d')
        path(d='M47 109c-2 3-3 7-6 10l1-1 4-19 7-14-2 3-3 7-7 15-3 4-1 2 1-4 7-19 7-14-1 2-3 6M40 104l-3 7-2 3v-2l6-18 4-7c1-3 0-7 3-8 2-1-1 4-1 6l-4 9' fill='none' stroke='#91422d')
        path(d='M37 108l-2 4c-1-2 0-4 1-6M43 88a139 139 0 015-9c0 4-2 9-4 13M38 106l-2 3' fill='none' stroke='#91422d')
        path(d='M41 92a255 255 0 018-15c-2 9-8 18-12 26v2-2M39 95l5-13 4-8-1 2-3 6-8 15' fill='none' stroke='#91422d')
        path(d='M34 102l-1 2c2-8 5-15 9-23 1-2 2-8 3-6 2 2-2 5-3 7l-11 19v3' fill='none' stroke='#91422d')
        path(d='M35 95a1012 1012 0 0112-26l2-3-11 22-7 13-1 2M30 98l3-8 8-15 4-8-1 2-3 6-10 18M28 99c-1 2-1 5-3 6l1-5' fill='none' stroke='#91422d')
        path(d='M30 93l7-13 2-4c1-1 4-4 2-4l-3 5-5 6-9 16M22 105l-2 3' fill='none' stroke='#91422d')
        path(d='M33 84a551 551 0 0112-16l-23 33a79 79 0 00-3 5c5-10 12-18 18-27a87 87 0 017-8c-9 11-18 21-25 33-1 2-4 4-4 7 1 2 3-5 4-7' fill='none' stroke='#91422d')
        path(d='M24 97l10-16 2-5c1-1 3-2 2-3l-2 3-4 6-16 25 1-3' fill='none' stroke='#91422d')
        path(d='M22 97l9-15 7-9v2l-4 6-9 13M19 105l2-3' fill='none' stroke='#91422d')
        path(d='M25 95l10-15 4-6c0 3-3 5-5 8l-5 6M20 103l-4 8 1-2' fill='none' stroke='#91422d')
        path(d='M28 90l12-17v2l-5 6-14 22-4 8c0-3 2-6 4-8 3-7 8-13 12-20l2-3 2-2-13 18' fill='none' stroke='#91422d')
        path(d='M18 106v1c-1-3 2-6 3-8l7-13 2-3 1-1-1 2-9 13c-2 5-4 10-8 14l2-4M24 91l2-1' fill='none' stroke='#91422d')
        path(d='M17 109c-1 2-1 5-3 6l1-5 3-7' fill='none' stroke='#91422d')
        path(d='M19 102l-3 10-2 3v2l4-12 1-4M20 102l-1 6-3 11-1 3v-3l1-6 4-12' fill='none' stroke='#91422d')
        path(d='M20 99c0 8-3 14-5 21l-1 5v-4a128 128 0 017-21M22 103l-4 13-2 6c0 2-2 4-1 6l1-6 8-21' fill='none' stroke='#91422d')
        path(d='M25 98c0 4-2 8-3 11l-5 14-2 6c-1-3 1-5 2-8l2-7 7-13' fill='none' stroke='#91422d')
        path(d='M28 100l-3 7-7 16-3 9v2c1-10 6-19 10-28l2-4' fill='none' stroke='#91422d')
        path(d='M27 100l-8 20-4 11-1 2a395 395 0 0113-29' fill='none' stroke='#91422d')
        path(d='M30 100l-4 7-11 23c-1 2 0 5-2 5l1-4 4-8 7-15 5-9' fill='none' stroke='#91422d')
        path(d='M29 102l-3 7-9 21-2 5 5-15 8-17' fill='none' stroke='#91422d')
        path(d='M30 100l-7 15-4 9-5 10v2c1-9 6-18 11-26l2-4 1-1-13 30v2c2-9 6-17 10-26l2-4v2l-3 5a680 680 0 00-10 24l1-2 4-8 6-14 2-4 1-2-10 22-2 5v2c1-6 4-12 7-18l3-7 5-9v-1l-11 27a35 35 0 00-2 7l10-28c2-4 3-8 6-10' fill='none' stroke='#91422d')
        path(d='M32 104l-3 8-8 16-2 5-1 2 1-4 9-18 4-8M33 106l-8 15-3 9-1 2 9-22c2-3 3-8 6-11' fill='none' stroke='#91422d')
        path(d='M35 102l-3 6-10 21-2 4 7-17 4-8c1-2 2-6 4-7 2 0 0 4-1 6l-4 7-8 17-2 5-1 3 1-3 11-24 5-9M37 101c-4 11-10 22-13 33v-2l4-7 8-17M39 105l-9 18-2 5 4-10 13-23 1-3c-3 10-10 19-15 29l-3 7c3-11 11-22 16-31' fill='none' stroke='#91422d')
        path(d='M40 103l-9 17c-1 3-3 6-3 10l3-8 5-10 9-17c0-1 0-4 2-4v4M44 102l-10 22c-1 1-4 4-2 5s2-3 3-5l5-10 10-20 4-7v-1l-19 36-3 6-1 2 1-4 11-23' fill='none' stroke='#91422d')
        path(d='M49 93c1-2 2-5 4-6v4l-4 7-12 24-3 7 13-25' fill='none' stroke='#91422d')
        path(d='M56 88l2-3-9 16-10 20-3 6-1 2v-2l10-20 5-8 7-10-1 4' fill='none' stroke='#91422d')
        path(d='M51 100l-11 20-5 12 1-3a686 686 0 0113-27' fill='none' stroke='#91422d')
        path(d='M50 104l-12 24-2 4 1-2 10-22 6-9c2-3 3-8 6-9 2-1-1 5-2 7M52 105l-8 16-2 4 10-20' fill='none' stroke='#91422d')
        path(d='M58 95l4-6c1-1 1-3 2-2v2M54 106l-5 8c-2 4-2 9-6 10-3 2 2-6 3-9l6-10' fill='none' stroke='#91422d')
        path(d='M60 91l2-3-9 13-10 18-5 11 1-2 11-20M61 90l-2 4' fill='none' stroke='#91422d')
        path(d='M49 110l-7 13-3 5v2l2-5 12-21M59 95c1-2 1-6 4-6 2 0-2 4-3 6' fill='none' stroke='#91422d')
        path(d='M56 103l-12 20c-2 3-3 7-6 10v-1l10-19 11-19 1-1v2' fill='none' stroke='#91422d')
        path(d='M56 101a653 653 0 00-12 23c-1 2-1 5-3 6l3-6a268 268 0 0117-32l1-1v4l-8 16-4 9c-2 3-3 13-6 10s3-8 5-12l5-10M64 93c0-1 2-4 2-2' fill='none' stroke='#91422d')
        path(d='M57 109l-9 16c-1 2-1 6-3 6s2-4 2-6l5-8 8-15' fill='none' stroke='#91422d')
        path(d='M58 105a411 411 0 00-9 21l-1 5 8-20M64 95l1-3v4' fill='none' stroke='#91422d')
        path(d='M62 103l-8 17c-2 4-3 16-6 12-2-4 3-8 5-13l5-10M65 96l1-2' fill='none' stroke='#91422d')
        path(d='M62 103l-8 17-3 5-2 4c4-12 10-24 16-35l3-5 1-1' fill='none' stroke='#91422d')
        path(d='M54 117l-6 15c-2 3 2-7 3-10l11-23' fill='none' stroke='#91422d')
        path(d='M63 97c0 5-3 9-5 13l-10 21 1-2 3-8 7-17' fill='none' stroke='#91422d')
        path(d='M62 97l-8 23-5 12c0 1 0 4-1 3v-4l4-9 9-18M60 112l-4 9-4 11-1 2v-2l3-8 8-19' fill='none' stroke='#91422d')
        path(d='M58 114l-10 21-1 2v-2l3-8 7-14 2-5' fill='none' stroke='#91422d')
        path(d='M61 106l-9 21-4 9v2l11-29' fill='none' stroke='#91422d')
        path(d='M61 106c1 1 0 3-1 5l-1 5-4 13-2 7v-4l2-10c1-6 4-11 6-17' fill='none' stroke='#91422d')
        path(d='M62 103c1 9-4 18-7 26a506 506 0 01-4 10l10-29 2-4' fill='none' stroke='#91422d')
        path(d='M64 103l-5 22-3 10-1 3v1c0-9 4-19 7-28l2-4' fill='none' stroke='#91422d')
        path(d='M65 105l-8 29-1 3v2l7-31' fill='none' stroke='#91422d')
        path(d='M64 104c-1 11-4 21-6 32l-1 3v1c1-9 3-19 6-28v2l-1 5-2 17-1 2v2-7l1-12v-5-3c-3 8-1 16 1 23 0 2-1 4 1 5l1-4 1-7-1-10v-2l-1-1c-1 7 1 13 2 20v-10l-1-1c-2 3 1 10 2 14l1 5v1c0-5-1-9-3-13l-2-2c-3 0 0 7 1 8l1 3 1-4v-7l-1-3v3l3 7 1 2v-1l-2-4-1-4-3-5-2 2 2 4 2 6 1 4 1-1-1-6-2-9-1-1c-2 4 1 9 3 13v1l1 2-3-7c-1-2-1-5-3-6v4l4 8 1 1 1-8-1-2 4 10v2l1-6-1-2-1 6v3l-1-2-1-4-1 1 1 2 1 3v-1-3l-1-3c-1-1-1 2-1 2v5l1-2-2-5-2-8-3-3v9l1 3 1 2v-13-15l-1-6M57 106c-3 4-4 9-6 14l-2 5-2 7c1-9 5-22 9-30' fill='none' stroke='#91422d')
        path(d='M56 104l-2 8-5 15-2 4v1c2-8 6-15 9-23' fill='none' stroke='#91422d')
        path(d='M60 100c-5 7-8 13-11 21l-4 13-1 1 17-39 1-3v1' fill='none' stroke='#91422d')
        path(d='M58 101l-10 20-7 13 1-3 9-23 4-8' fill='none' stroke='#91422d')
        path(d='M57 99l-5 9-8 17-2 6-1 2 14-30M60 93c1-2 3-7 3-5M54 107l-4 10-6 12v2l5-12 7-16' fill='none' stroke='#91422d')
        path(d='M56 99l-8 16-6 17 1-3a200 200 0 0113-32' fill='none' stroke='#91422d')
        path(d='M59 92l1-1c-3 10-8 18-12 27l-4 7c-1 3-2 9-3 7-2-2 0-6 1-8l6-12 9-17 2-2' fill='none' stroke='#91422d')
        path(d='M55 103l-9 17-4 7-2 3c3-12 8-24 13-35 1-2 4-6 2-5l-4 7c-6 8-10 17-15 26M66 79c-4-3-8-7-13-8-4-2-9-7-12-4-3 2 4 5 7 7 3 3 8 4 12 6l4 1c-1-4-4-6-6-8l-5-5-13-11-4-2 17 19 5 5 6 3c2-1 0-4 0-5l-5-6a145 145 0 00-19-12h-2l2 4 11 7 5 3 4 1c1-1 0-2-1-2l-6-5-13-9-3-2c-1 1 1 2 2 3l7 5 12 8 2 1 1-1-4-4c-4-4-9-8-15-10l-4-1 11 9 5 3c2 1 3 2 5 1v-2l-6-5a251 251 0 00-16-10h-2c4 7 12 11 19 16l3 1v-1l-4-4-10-6-3-2-2-1 2 2 12 8 3 2 3 1-3-2-5-4-10-5-3-1c5 4 13 9 19 11 2 0-3-2-4-3a129 129 0 00-17-8c5 1 9 4 13 6 2 1 5 4 5 2 1-1-3-2-4-3l-13-8-2-1 9 7 3 2 4 3c0-2-2-3-4-4l-4-3-4-3c0 2 3 3 4 5' fill='none' stroke='#91422d')
        path(d='M33 57l3 19-1-5V60l-1-4v19c2-5 2-11 2-16l1-4-1 4 1 4v12c2-8 1-16 0-24v-2c-3 5-1 8-1 13l1 13v5l2-11c0-4 1-7-1-11v3l-1 6 1 17v3c1 1 1-2 1-3 1-7 2-14 1-20 0-2 0-5-2-5v5 23l1-7 1-6v-7' fill='none' stroke='#91422d')
        path(d='M60 80l-8-5-4-2c-1 0-3 2-2 3 3 3 7 4 10 6l5 2c-1-4-5-7-7-10l-5-4c-1-1-4-3-4-1 1 3 4 5 7 8l6 5c2 1 5 4 6 2s-1-5-2-7l-6-4-7-4-3-1 5 9 6 5c2 1 7 4 6 2 0-4-4-7-7-10-1-2-3-2-5-3l-5-2c0 3 4 5 6 7l4 3 2 1c1-1 0-3-1-5l-9-9c-1-1-2-3-3-2-1 0-3 1-3 3s3 3 5 5l5 5 3 2c1-1 2-2 1-3 0-3-2-4-3-6l-7-3h-2l-1 5' fill='none' stroke='#91422d' stroke-width='5.9')
        path(d='M51 87c1 1 1 2 2 1l1-3c-2 0-4 2-5 3l-3 5-1 2' fill='#91442d' stroke='#91422d' stroke-width='5.9')
        path(d='M48 94l5-8c1-1 2-3 1-4s-3 0-4 1l-4 7-2 2-1 2c1-5 5-8 7-12v-2l-4 2-5 9-2 3c0-5 3-9 5-14l1-4 1-1c-4 3-7 8-9 12 0 2-1 6-2 5-1-2 1-4 2-6l3-7a61 61 0 003-7c-3 4-4 8-6 13l-2 5c-2 0-1-4 0-5l2-7 3-5-2 5-2 5-2 6c-1-3 1-5 1-8l3-6 1-5v2l-2 8v1-2-7l1-5-1 1v7l-1 3 1-6v-5l1-1v-2c1 0 3 5 5 5l-1-3-2-7v-2l4 5 2 2-2-1-1-2-4-3h-2 6l3 1c6 1 11 6 16 9l6 5 6 5c1 1 7 8 4 10l-3 1-3 1' fill='#91442d' stroke='#91422d' stroke-width='5.9')
        path(d='M61 106l-2 10c0 6-1 12 3 18 2 4 4 6 4 10v2c-2 2-11 0-13 0l-20-2c-7 0-15 1-22-1-2 0-2-3-2-5 0-6 1-13 3-18 2-8 4-16 8-24l10-14 5-7c2-5 3-12 2-18' fill='#91442d' stroke='#91422d' stroke-width='5.9')
        path(d='M34 54l1 1 1 1-2-2zm2 2l2 1h1l1 1 1 1-2-1 3 2-4-3-1-1-2 7c0 5-2 9-3 13l-1 5-9 13-4 3c-6 9-7 20-8 30 0 2-2 14-1 15l2 1c5-1 9 0 15 1l3 1H19l9 1 3 1h2-11 5s0 0 0 0h6l22 2s0 0 0 0h3s0 0 0 0h6l-3-1h-1l5-2 1 1-1-2c2-5-2-10-4-15v-21l4-12 4-6c2-2 8-4 8-7s-3-6-5-8c-6-6-16-13-23-16l-11-4h-2zm-9 91l3 1h0l-3-1zm36-47l-1 1-1 10-2 17a57 57 0 012-25l2-3z' fill='#91442d' stroke='#000' stroke-width='5.9')
        path(d='M35 51l-2 1v11c-1 8-2 15-7 22-3 3-8 6-10 11l-3 6-2 7c-2 7-2 14-2 21-1 4-2 9-1 14 1 3 11 3 14 3 11 2 22 2 33 2h14c2-2 0-8 0-11-3-8-6-18-5-27 0-7 4-14 11-18 2-1 11-3 11-6s-5-9-7-11l-7-10c-2-3-5-4-8-5-5-4-11-6-17-8l-12-2z' fill='#91442d' stroke='#91442d' stroke-width='5.9')
        path(d='M31 49l22 2 8 1c8 4 15 13 21 20l3 4' fill='none' stroke='#686767' stroke-width='2')
        path(d='M85 77c-5-9-10-14-19-19-6-4-17-6-25-7l-8-1h-2-1l18 2c4 0 9 0 12 2l8 5 4 4 5 8 5 5' fill='none' stroke='#686767' stroke-width='2')
        path(d='M87 82c-3-7-9-14-15-18l-7-5-7-5c-5-2-11-2-17-3h-5l-3-1 6-1h4c7-2 13-2 19-5l7-5 7-6 1-2-2 1-3 2-3 2-16 7-16 4h-5l9 1c9-1 17-4 26-9l7-3 2-1h-2l-6 2-16 6-8 2h-2l4 1h4l6-3 12-6c3-1 5-1 8-4l1-1 1-1-10 6-10 3-12 4-3 1 4 1c3 0 5-2 8-3 7-3 14-6 19-12 3-3 4-7 5-11v-2-2c-1 5-4 10-6 14l-3 5-1 1 2-3 1-2M73 28l2-4' fill='none' stroke='#686767' stroke-width='2')
        path(d='M76 22l1-7v-1c0 6-2 12-4 19l-3 4c-1-1 1-3 2-4l1-4 2-5' fill='none' stroke='#686767' stroke-width='2')
        path(d='M76 22a87 87 0 001-5l-1 5-5 12-3 3-1 1 2-4M70 33l1-1M75 24l-1 2' fill='none' stroke='#686767' stroke-width='2')
        path(d='M74 26h0v1l-2 5c0 1 0 3-1 2l1-3' fill='none' stroke='#686767' stroke-width='2')
        path(d='M77 11s0 0 0 0v9c-1 9-3 14-10 21l-5 6-2 1 4-5c3-3 5-7 6-11M77 11c2-2 4 5 4 6 2 8 3 16 2 24 0 6-1 11 1 17 3 5 7 8 8 15' fill='none' stroke='#686767' stroke-width='2')
        path(d='M71 40l-1 5v4l1-2c2-3 3-5 3-8l-1 2-1 6v2l2-7 1-3-2 8v2c2-2 2-5 3-8l1-4c0-2 2-5 0-5l-2 5v10c0 1 0 3 1 2 2-4 3-11 3-15v-2c-2 7-2 12-1 19v1c2-1 2-5 2-8l1-10v-5c-2 0-1 4-1 5v16c0 2-1 5 1 5l1-6 1-14v-4 23l1 2c2-6 2-13 2-20v-5-6c-1-1-1 3-1 4v28c1 1 1-1 1-2l1-12 1-11v-2c-1-1 0-4-1-3l-1 4v22l1 6v-2l1-25v-8-2c-2 4-1 9-1 13v15l1 13v2c-2-1-1-4-1-6v-6-13-3l-1-2c-1 9 2 20 3 29l1 7v3l-4-18-1-3c0-2 0-5-1-4v4l1 5 2 8 1 3v3l-1-3-2-4-2-12-1-2v2l3 11 2 5 2 6' fill='none' stroke='#686767' stroke-width='2')
        path(d='M89 77l-4-14-2-4-1-4 5 13 1 3 2 4c-2 0-2-3-3-4l-3-9-1-3-1-2 7 16 1 2' fill='none' stroke='#686767' stroke-width='2')
        path(d='M91 77c-2-1-4-5-4-6l-2-8-2-2-1-2 7 15' fill='none' stroke='#686767' stroke-width='2')
        path(d='M91 78c-3-3-5-7-6-11l-3-6v-1l4 12 2 4' fill='none' stroke='#686767' stroke-width='2')
        path(d='M86 73l-5-12-1-2-1-2 8 16 2 2' fill='none' stroke='#686767' stroke-width='2')
        path(d='M89 75l-5-11-3-5-1-2 9 19M89 76l-5-10-1-2 5 11' fill='none' stroke='#686767' stroke-width='2')
        path(d='M91 80l-4-11-2-3 1 3 5 11' fill='none' stroke='#686767' stroke-width='2')
        path(d='M90 78l-2-7v3M87 75l-1-3c-1 1 1 2 1 3M85 74l-1-2s-1-2-2-1l4 6' fill='none' stroke='#686767' stroke-width='2')
        path(d='M85 74l-4-5 1 1 4 6' fill='none' stroke='#686767' stroke-width='2')
        path(d='M85 74l-2-4-6-11-2-4-1-2 8 11 4 5 1 2-12-16-3-2-2-2 2 2 3 4 7 9 3 3-3-2-3-4-7-8-2-2c-1 1 0 2 1 3l2 3a99 99 0 008 9l-3-3-7-9-2-3c0 2 2 3 3 4l7 8 3 2-14-13-4-2 13 10 2 2-7-4-10-8 3 2 5 4 3 2c1 0 3 0 3 2-1 1-3-1-4-2l-3-2-2-2-4-3-2-1 4 2 8 4 1 1-13-6-2-1h2l5 3 6 2-3-1-2-1-6-5c-1 0-3 0-2-1l3 1 12 4-1-1-3-1-10-3-2-1-2-1 9 3h6c1-1-1-1-2-2l-3-1a212 212 0 00-9-2h-3c1 2 2 2 4 2l8 1h2c0-1-2-2-5-2-3-1-5-2-8-1h-3c-1 1 1 2 2 2l7 1h3l3-1s-1-2-4-2H53l-2 1c-1 1 2 2 5 3l6 1h5c-2-2-5-2-8-3l-5-1h-2c1 2 3 2 5 3l5 1c1 1 2 2 3 1s-1-1-2-2h-3l-9-3h-4c-1 1 1 1 2 2l3 1 5 1h3l-8-3h-2s-2 0-1 1l4 1 7 3 2-1-14-4h-1c-2 2 3 2 5 3l6 2-1-2h-3l-7-2h-2l8 3 4 1-2-2 5-1 7-2c3-1 6-2 9-5l1-1c-2-2-5 1-6 2l-1 1 6-5 3-2c-1-2-3 0-4 0l-8 7-2 2 3-2c2 0 3-1 4-3l6-6 1-1 1-1-7 4-4 4c-1 1-3 2-3 4l2-1 4-3 5-5 1-1-4 6-2 3c3-2 4-5 6-8l2-2 1-2-8 15c-1 1-2 2-1 4l2-2 3-5 5-9v-2l-6 15-1 4-1 3a1478 1478 0 007-16l-1 4-3 9v1l4-14 1-3 1-3c-4 6-5 15-7 23v2l1 2c4-7 6-17 8-25v-2l-1-2a67 67 0 00-5 26v2l1-3 4-12 1-4c0-2 0-5-1-4-2 1-2 4-2 7v13l1 2c3-1 3-6 4-9l2-8 1-9v-2c-4 5-3 13-3 18v6l1 3v3c3-7 2-14 3-21l-1-3-1-3-1 7 1 6 1 9v3l-1-4-3-17-2-3c-2 0-2 3-2 5-2 4 0 9 0 14v5l-1-3-2-5-3-6-2 1v5l2 7 2 2 1 2-5-7-4-5-1-1c1-1 2 0 2 1l7 5c1 1 3 1 2 2l-2-1-4-3-3-2c0 2 2 2 4 3l5 4h-2l-3-2-4-3h-2l8 6c1 1 4 1 3 2h-3l-3-1c-4-2-9-6-13-7l3 2 3 2 4 2 4 3h-2l-3-1-7-5s-2 0-1-1l5 2 12 4h-1l-2-1-4-3-6-4-3-1h5c4 1 7 1 10-1 2-2 2-4 2-6s-3-3-5-3h-3l1-2 3-3 5-6 2-3c-1-1-2 1-2 2l-2 4-1 2 3-7 1-4 1-3c-1-1-2 1-2 2l-2 7-1 2 2-5 2-3 1-3-2 2v3l-3 7 1-2 1-4 3-7v-3l-1 2a9320 9320 0 00-4 12l3-12v-2-2c-3 4-3 10-4 14v3c2-2 2-5 3-7l1-6v-2l-1-2-3 8-1 6v4c3-3 4-11 6-16l-1 2-1 3 1 11 1 3 1-3 2-4 2-8-1-2 1-2c-2 1-2 4-2 6v9c1 0 3-11 2-13l-1-2v2a110 110 0 00-2 8v4c1 1 1-1 2-2 0-1-1-12-3-11v5l1 6v1l1 2c1-5-1-12-2-17l-1-2v5l2 7 1 4s0 2 1 1-1-4-1-6l-1-7-1-2-1 2 2 9c0 1 0 4 1 3l-1-4v-5l-2-6-1-1-1-2c-2 4 1 8 2 11l1 3 1 3c1-1 0-2-1-4v-3l-2-7-1-1 2 5 1 4 1 2c0-4-2-8-3-11l-1-2c-1 1 2 10 4 11v-4l-1-2-1-3 2 1c3 0 4 4 6 4l-1-1-2-2-1-1-3-2 3 1 3 3-4-1-2-2 1 2 2 2 1 2s0 2 1 1l-2-4-3-3-1-1 2 2 2 1 2 2-1-1-2-2-2-3-2-1 3 4 2 3 1 1-2-4-4-2-2-1c-1 1 0 7 2 6 3 0-1-9-3-8-1 2-1 7 1 8 1 1 1-1 1-1v-5c-2-1-2 3 0 5l1-2v-2l4 1h2a21 21 0 00-6-3c5 2 3 2 0 0l1 1 2-1-2-1h-2 2l4 1 3 7-1-2-1-2-2-2 5 6 1 1v2l-3-5-1-2 4 7' fill='none' stroke='#686767' stroke-width='2')
        path(d='M89 18l16 1 16 1-6-2H93c7 2 15 0 22 1l7 1h2l-9-3H91c9 2 19 2 28 2h9c1-1-1-1-2-2l-7-1-25 1h-3c0 2 2 1 4 1h30c0-2-3-2-5-2-7-1-14 0-20 1h-6c3 2 6 1 9 1h22c1-1-2-1-3-2H85l12 2h14l15 1h2l-3-1-6-2-26-1-5 1 3 1 6 1h14l16 1h2l-2-1-6-1H89c5 2 10 1 16 1h19c2 0 5 2 5 0s-3-2-5-2h-15l-11 1 2 1h20c4 0 8 2 12 1l-2-1-5-1a150 150 0 00-30 0l28 2 6-1 2 1c-2-2-5-3-8-3l-20 1h-9c6 3 13 0 19 0l16 1h5c1-1-1-1-2-1l-5-1h-6l-21 1c-1 0-5-2-5 0-1 2 3 1 5 1h6l19-1h6c1-1-2-1-4-2h-16l-15 1c-1 0-3 0-2 1 5 3 12 1 19 0h7l10 1 3-1h3l-10-1H97l-3 1h-3l4 1h42c-1-2-4-1-6-2h-11a341 341 0 00-21 0h-2l2 1 5 1h30c-7-2-14-1-21-1h-5c6 2 15 1 22 1h3l3-1h-19s-3 0-2 1c5 2 12 0 17 0h5-18 18v3l-2 8v5l2-10 1-4 2 4-1 10v2l1-13v-2-3l-2 17-1 4v1l2-17 1-2v-2 15l-1 5v1l1-5V24v-4 7l-1 10-1 4 1-2v-6l3-14-1 2v15l-1 2v3l1-4V26l1-3v-3l-2 19v5l-1 1c3-5 2-13 2-19l1-5v-2l-2 11v5l-1 1 1-1v-5-9-2c-1-2-6-2-8-2h-2l4 2h2l-2-1c2-1 4 2 5 1l-3-1-4-1c-1 1 1 1 1 2l2-1h3-3l-6-1h-2-1c2 2 5 2 8 1h2c-1-2-4 0-6 0l-3-1c-1 1 1 1 2 1h11l-8-1-3-1c-1 1 1 1 2 2h8l-6-1h-2c3 2 6-1 8 1v7l-1 6 1 4 1-4V20v-2-2l-1 12v6l1-7v-4-5l-10-2h-4l-7 1h-2l5 1h13l5 1h2l-2-1-3-1-10-1h-4l1 1h9l-3-1h-2c2 2 6 1 8 1h2l-4-1h-6l8 1h2l-4-1c-1 1 5 1 5 1 3 3 1 7 0 10v2c2-1 1-10 1-12l1-1h-11l-3-1h-2l3 2h13-8l-9-2H85l-2 1 4 1 15 1 36 3h-2l-5-2H92l-7 1h-2c6 3 13 2 20 2l8 1h18c-9-3-20-2-29-2h-8l-13 1-1 1 40 1h8l-5-1H95l-7 1h-5c13 2 27 1 40 1l5 1h3c-9-1-18-2-27-1l-20 2c-2 0-4-2-5 0-1 1 3 1 4 1l21-1h14l11 1h1l-11-2a489 489 0 00-28 1c-2 1-8 0-6 1 2 2 5 1 8 1l9-1a398 398 0 0122 0l2 1-2-1h-17l-24 1c-1 0-3 0-2 1 11 1 24-1 35-2l9 1-2-1h-8l-23 3h-6l11 1 24-1h4c-10-1-19 1-29 2h-8c-3 0-11 0-8 1h14l13-1 17-1h3-3l-9 1-22 2-8 1h-2l3 1h20l10-1h10c2-1-3-1-5-1l-9 1-23 2-8 1c-1 0-5 0-4 1l6 1 12-1 23-1a206 206 0 019 1c-12-1-25 0-37 1l-12 1h-4c-1 1 2 1 3 1l26-1h23c-6-2-14-2-19-1l-21 2h-6l2 1 10 1 23-1h6-21l-9 1-14 1' fill='none' stroke='#686767' stroke-width='2')
        path(d='M106 46h17l-2-1-22 2M122 47c-6-2-13 0-19 0' fill='none' stroke='#686767' stroke-width='2')
        path(d='M125 46c-2-2-4-1-6-1h-12' fill='none' stroke='#686767' stroke-width='2')
        path(d='M102 47l23-4c2 0 5 0 4-1-7-2-15-1-22 0l-22 4h-2l31-4 8-1h2c-10-3-21 0-32 1a87 87 0 00-7 1l34-3c2 0 8 0 6-1-3-2-7-1-10-1l-25 3-5 1 13-2 21-2c2 0 4 1 5-1l-4-1-12 1-24 4-5 1h4l12-2 23-3h6-10a344 344 0 00-28 3l11-1 24-3 8-1 2-1c-11-3-23 1-34 3l-8 1-2 1c11 0 22-3 33-4l8-1h4c-1-2-3-2-5-1l-25 2-11 2c-1 0-5 0-3 1h6l25-3 9-1h5c1-1-2-1-3-1l-24 2h-8l-5 1h3c8 0 15-2 22-3l9-1c2-1 9 1 7-1-2-3-6-2-9-1l-14 1-20 3-2 1 23-2 20-3h3l-3-1-10-1-21 4h-6 10c8 0 15-1 22-3h5c1 0 3 0 2-1l-6-1-20 2-7 1-3 1 23-2 9-2h4c-1-2-4-2-6-2l-12 1-17 2h-3c5 2 9 0 14-1l18-2h4c-2-2-4-2-7-3l-24 2-7 1-6 1h3l9-1 20-1 9-1c1 0 3 1 3-1l-3-1-22 2h-8c-2 0-6-1-6 1 1 2 5 0 7 0h8l18-2c1-1 5 0 4-1l-10-2-25 2-7 1h-6c-1 1 2 1 3 1l8-1 20-2 6-1 3-1h-2l-17 2h-6l-6 1c-1 1 3 1 4 1h8l13-1h4c1 0 3 0 2 1l-19 2-4 1c7 1 14 0 21-1l9-2 1 1c2 2 0 12 0 15v1l2-5a113 113 0 001-9c-2 6-1 8 1 14l1 3 1-7v-4-6-1c-3 4-4 10-4 16v6c1 1 1-1 1-2l1-5 1-12v-3l-1-2-5 16v5c1 1 1-3 2-4l1-5 2-8-1 1c-2 2-2 5-3 7l-6 14' fill='none' stroke='#686767' stroke-width='2')
        path(d='M125 45l4-11 1-2-1 1-4 12M124 45l2-6 2-7-1 1-2 7-3 12' fill='none' stroke='#686767' stroke-width='2')
        path(d='M125 46c0-3 2-6 1-9-1-2-2 4-3 6M127 43l1-4-1-2c-1 6-2 12-1 18M129 51l1-10 1-2M131 42l1-2M134 41v6M137 49c0-2 0-6 1-5M167 41l1-1M167 40l1-1M162 40l3-2 2-2' fill='none' stroke='#686767' stroke-width='2')
        path(d='M166 37l1-1-10 8' fill='none' stroke='#686767' stroke-width='2')
        path(d='M164 38l4-2 1-1M167 35l-3 1-6 5M133 61l-4 4' fill='none' stroke='#686767' stroke-width='2')
        path(d='M156 43l14-8 2-2-2 1-15 8M148 46l16-11 3-2-3 1-17 10' fill='none' stroke='#686767' stroke-width='2')
        path(d='M148 45l15-10 4-1-3 1-8 3M162 35l5-2 1-1M152 39l21-11-4 2-10 5' fill='none' stroke='#686767' stroke-width='2')
        path(d='M153 38l11-5c3-1 10-4 7-4-10 3-22 8-31 13' fill='none' stroke='#686767' stroke-width='2')
        path(d='M138 43l23-9 5-2h2c-11 2-22 7-32 11M125 48c-3 1-10 0-9 4 0 3 6-1 9-3' fill='none' stroke='#686767' stroke-width='2')
        path(d='M137 44l24-10c2 0 7-1 5-2l-8 1-25 9M122 45l-7 4 2 1' fill='none' stroke='#686767' stroke-width='2')
        path(d='M142 40l14-6c5-2 11-2 15-6 4-3-8 2-12 4l-14 4-23 8' fill='none' stroke='#686767' stroke-width='2')
        path(d='M134 41l27-8 11-4 4-1c1-1-2-1-3-1l-11 2a1175 1175 0 00-37 10l-4 1' fill='none' stroke='#686767' stroke-width='2')
        path(d='M125 41l25-6 13-4c5-1 15 1 14-5 0-4-10 1-15 1l-14 4-25 6-5 1c-1 1 2 1 3 1l25-4 29-8c2-1 7-2 5-3l-13 1-28 7c-6 1-12 2-17 6l2 1 24-5 32-8 1-1c-13 1-25 5-38 8l-8 3c-2 0-4 0-5 2h2a313 313 0 0036-8l14-4c1-1-1-2-2-2l-24 4-12 3c-3 1-13 1-10 3 5 2 11 0 16-1 11-1 21-4 32-6l4-1-3-2a176 176 0 00-51 8l-1 1c3 1 6 2 8 1l26-4 12-3c3-1 12-1 10-2-5-3-11-2-16-1l-23 3a93 93 0 00-13 3l24-2 13-2c4-1 10 0 13-3 1-3-6-3-9-3l-22 2-8 1c-3 1-10 1-7 2l14 1 13-1 15-2h3l-2-1-8-1h-23l-8 2c-4 0-8-1-11 1-1 2 4 3 6 3l10 1 20-2 6-1 4-1-13-4-9 1h-10l-3 1v1c2 2 4 2 7 2a146 146 0 0020 1c2 0 6 0 5-1l-11-4c-7-1-14 1-21 2l-9 1 3 2 16 1 8-1h10l-1-3-6-1c-6-1-13-2-19-1-2 0-6-2-6 0s3 3 5 3l8 2h14l6 1c1 0 5 0 4-1-12-6-25-3-38-2h-4l-3 1 17 3 9-1h13c-1-2-3-2-5-3-7-1-13-2-20-1-2 0-5-2-5 0-1 2 3 2 5 3l8 1h13l3-1 2-1-13-3-6-1-7 1c-1 1 1 2 2 3l6 2 13 1 5-1c1 0 3 0 2-1l-12-3c-6-1-12 0-17 1h-3v2l4 1 12 2 4-1 3-2-9-3h-4c-2 0-5-1-6 1-1 1 2 2 3 3 6 3 10 2 17 1 1 0 4-1 3-3h-2c-4-2-7-3-11-3l-3 1c2 2 4 3 7 3h10l-2-1-4-1-9-1-2 1-1 1c3 2 7 3 11 3h3c1 0 4 0 3-1-1-2-4-2-6-2-4-2-8-1-13 0h-1c1 1 2 3 4 3l10-2h3l1-1-2-1a158 158 0 00-19-1l-6 1 1 2c4 2 8 2 12 2l2-1-2-2-11-3h-4c-2 0-4-2-5 0-1 1 2 1 4 2l8 2-3-3-5-1c-1 0-2-2-3-1l3 2 3 1 5 2h1c-1 0-3-2-5-1l-3 2-4 10-2 3M152 40l-2 1M121 63l4-1M126 63l-5 2 12-4' fill='none' stroke='#686767' stroke-width='2')
        path(d='M126 63l-5 1h4l4-2M169 35l7-5 2-2s1-2 2-1l-6 6-6 5' fill='none' stroke='#686767' stroke-width='2')
        path(d='M170 35l4-3 3-2M164 38l9-6 7-6h-2l-5 2-19 13' fill='none' stroke='#686767' stroke-width='2')
        path(d='M157 42l7-4 17-9 4-3 2-1-5 1-7 2-13 6c-1 0-3 0-4 2l3 1 14-4 6-2c2-1 4-1 5-3h-1l-7 1-12 3c-2 1-5 1-6 3h2l14-3 5-2 5-1-3-1-6 1-10 2-2 1c7 3 12 1 19 1l3-1c1 0 3 0 2-1-6-3-15-2-21-2l-4 1-3 1 13 2 8-1c2 0 6 1 7-2 1-1-3-1-5-1-4-1-8 0-12 1M72 61c7 4 12 12 17 19M87 80c-4-6-9-12-15-16M71 65l5 7 6 4M50 41l-11 4h0a33 33 0 008-1h-4l-11 4 2-1h2l5-1 10-2-2-1-2 1-8 2h-2l-2 1 10-3h4c1-1-1-1-2-1l-3 1a96 96 0 01-8 3l21-6 9-3c1-1 6-1 7-3h-2l-3 1-4 1' fill='none' stroke='#686767' stroke-width='2')
        path(d='M55 40l-8 3-5 1 2 1 9-3 8-3 7-2-2 1h-3' fill='none' stroke='#686767' stroke-width='2')
        path(d='M61 39l-4 1-11 3-3 1c0 2 2 1 4 0 4 0 9-3 14-4l6-2 1-1-2 1-3 1 6-3 7-7 2-2 1-1-5 5-5 6-2 2-1 1 2-5M72 30l2-2M174 35h45c-12-2-25 0-37 0a139 139 0 00-16 1l16-1h42c1 0 3 0 2-1l-12-1-14 1h-21l-11 1h-3l3 1h12l39-1h10l-5-1h-8l-16 1h-23l-14 1h-2c8 2 15 1 23 0h51c1 0 3 2 5 1 1-1-2-2-3-2l-14-1-38 2h-13-1c2 2 6 2 9 2l14-1a669 669 0 0045-2h4l2 1-9-1h-16l-33 1-16 1h-4l3 1h23l35-2 19 1h3l-4-2h-23l-41 1-26 1h-9-2l11 1 16-2 38-1 25-1h10l-2-1h-70l-3 1 2 1h8l20-1h30l7-1h5c-7-2-14-2-21-2h-52l2 1h9l22-1h30c-4-2-12-2-17-2h-22l-16 1h-8l2 1h16l45-1h5c1 0 3 0 2-1h-2l-18-1-33 1h-11c-1 1 1 1 2 1l9-1a297 297 0 0140-1l8 1c1-1-1-1-2-2h-31l-23 1h-12l-2-1c-1 1 1 1 1 1l8 1 23-1 40-1c2-1 6 1 8-1 1-2-4-2-6-2h-20l-35 1-15 1h-3c1 2 4 2 5 2l20-2h48l-4-1-10-1h-23l-26 1c-3 0-7-2-8 1-1 2 5 0 7 0h10l30-1h23l-5-2-19-1-31 1h-15l-4 1h-2c5 2 9 1 15 1l23-1 27-1h9l-2-1-12-1-26 1h-15l-8 1h-7c-1 1 3 1 5 1a1018 1018 0 0130-2l27-1 10 1h1c-11-3-22-1-34-1h-19l-15 1h-6c15 1 28-1 43-1h27l-6-2-17 1-21 1h-11c15 3 30 1 44 0l6 1h5l-4-2h-7l-35 1h-5c-2 0-6 0-5 1l7 1h9l24-1h26c-2-2-5-1-7-1l-6-1h-50' fill='none' stroke='#686767' stroke-width='2')
        path(d='M175 20c-1 2 4 1 6 1h25l24-1h8l-7-1' fill='none' stroke='#686767' stroke-width='2')
        path(d='M195 19h-11l2 1 13 1 23-1 15 1h2l-4-1-11-1' fill='none' stroke='#686767' stroke-width='2')
        path(d='M205 20h-14-1l3 1h15l23-2 16 1h1l-13-1h-20' fill='none' stroke='#686767' stroke-width='2')
        path(d='M212 19c1 2 3 2 5 2h36c-4-2-9-1-14 0l-4-1h-9c6 2 13 1 19 1l7-1h2' fill='none' stroke='#686767' stroke-width='2')
        path(d='M248 19l-17 1h9l10-1 3 1h4l-3-1-5 1h-21c-1 1 2 1 3 1l9-1h17-21a141 141 0 01-9 0h27l2-1M230 19c5 2 14 0 19 0M232 19c2 2 14 0 17 0M258 19h2' fill='none' stroke='#686767' stroke-width='2')
        path(d='M231 19c4 2 5 1 10 1h15-21l-9 1h-2l2 1h18l9 1h2c-7-2-19-1-27-1h-4c-1 0-4 0-3 1l3 1 6-1 21 2h5l2 1c-12-3-24-3-36-2l-10 1h-2l4 1 17-1h9l12 2a33 33 0 015 1l-13-2-28 2h-7l-6 1 3 1 8-1h43l-10-1-19 2-10-1-18 1h-10c6 3 12 2 19 2l28-1 11-1 2 1c-18-2-37 0-55 1h-5c-2 1-5 0-4 1l5 1 8-1h49l-4-1h-26l-18 1h-3l3 2 17-2 24-1 10 1s2 0 1-1h-36c-1 0-3 0-2 1l3 1 6-1h31c-5-1-11 0-16 1h-8c-1 1 1 1 2 1l17-1h8c2 1 4 2 6 1l-2-1h-3l-11 1h-12-2c1 2 5 1 6 1l16-1a144 144 0 018 0l-15 1h-8l3 1h21c-2-2-7 0-9 0h-8-4 16l7-1-2-1h-3l-4 1h-8l-5-1 1 1h4l12-1c1-1 5 0 4-1-5-2-14 0-19 1h-18l5 1 5-1 20-2 8 1h2c-8-3-17-2-25-1h-7l-6-1 4 1 5-1h19l-3-2h-5l-13 1h-4c3-2 7-1 11-1h14l-3-1-5-2h-18l2 1h21c1 1 3 2 4 1s-1-1-3-2h-15c-2 0-4-2-6-1-1 1 2 1 3 1h17l3-1-3-1a90 90 0 00-9 0h13c-1-2-6-1-6-1a76 76 0 01-7 0l12-1h2l-2-1h-4l-6 1h-2l16-1-1-1-4 1h-7 13l-9-1h-2l1 1h4' fill='none' stroke='#686767' stroke-width='2')
        path(d='M264 20l-1 11 1-1 1-6M265 24c0 3-2 14 1 5l1-4' fill='none' stroke='#686767' stroke-width='2')
        path(d='M267 23l-1 3v6c1 1 1-2 1-3l1-4' fill='none' stroke='#686767' stroke-width='2')
        path(d='M267 25l-1 5v3c1 1 1-1 1-2l1-10' fill='none' stroke='#686767' stroke-width='2')
        path(d='M268 20l-1 9v4l1-9M268 24l-1 10 1 2v-2l2-5' fill='none' stroke='#686767' stroke-width='2')
        path(d='M269 28v6l1-2v-1M270 29v1M263 26v1l-1 2M260 31v-2-1l1-6M260 24l-2 6 1-1 1-5M261 26v4l1-2 1-5' fill='none' stroke='#686767' stroke-width='2')
        path(d='M263 21c-1 2-3 7-2 9l1-1v-3' fill='none' stroke='#686767' stroke-width='2')
        path(d='M259 28l1 1c2-1 2-3 2-5M264 26c1 1 2 0 2-1' fill='none' stroke='#686767' stroke-width='2')
        path(d='M264 24l-1 4c2 0 5-8 2-4l-2 3-1 3c-1 1 0 1 1 1 1 1 1 0 2-1l3-6-1 2v2l-2 4 1-2v-2l2-4' fill='none' stroke='#686767' stroke-width='2')
        path(d='M268 21c-1 2-2 7-1 9v-2l2-4M269 22v9l1-2M270 30v2s0 0 0 0M270 32v2s0 0 0 0M270 33v1M156 39h45l12-1h14l-3-1h-10l-43 2h-16l-3 1' fill='none' stroke='#686767' stroke-width='2')
        path(d='M182 40l38-1h22c-11-4-25-1-36-1h-42l-4 1' fill='none' stroke='#686767' stroke-width='2')
        path(d='M196 39h54l-4-2-4-1-12 1h-45l-25 1h-9-1c2 2 6 2 9 2' fill='none' stroke='#686767' stroke-width='2')
        path(d='M178 39h53l13-1h24c1-1-1-1-2-1h-19c-8 1-16 0-24-1a390 390 0 00-63 1h-2l4 2 9-1 27-2h16c13-1 25 1 38 1l13 1h5v-1M145 17l-1 1 3 2s0 0 0 0h-4-1-2l-4-1 2 1 2 1s0 0 0 0h-5s0 0 0 0h9l2 1h16-17l-4 1h16l27-1h30l-12-1s0 0 0 0h-3l-1-1v1h-2-1a412 412 0 01-2-2h9-15l-31-1h-8l-3-1zm57 2h5s0 0 0 0h-5zm5 0l2 1 3-1h-5zm15 0h-10l12 1h33c-2-2-7-1-10-1h-25zm-13 1h-10 3l9 2h2l-4-2zm-74 1c-2 1-7 1-5 2h11l-6-2zM77 9h5l-5-2' fill='none' stroke='#686767' stroke-width='2')
        path(d='M77 7l2 1 4 1-2-1h-2c1-1 4 2 4 0 1-1-1-1-1-1l-4-1' fill='none' stroke='#686767' stroke-width='2')
        path(d='M77 8h7l-6-1h2l2 1c4 0 5-1 7 2l2 3v-2l-2-2v2l2 4 1 2-2-5v2l2 3-2-3-2-4v2l2 4v-2l-1-2c0-1 0-3-1-2l1 4 1 1-4-7v3l-1-1h-1c-2 1-1 4 0 5' fill='none' stroke='#686767' stroke-width='2')
        path(d='M102 15l7 1c3 0 7 3 7 1 1-2-4-2-6-2l-6-2H85c-1 1 2 2 3 2l11-1 14 1h5c1-1-2-1-3-1l-4-1H90l-1 1c7 2 15 0 22 0l11 1h1c-8-3-15-2-24-2H87c1 2 2 2 4 2h30l8 1-2-1-10-2c-10-2-20 0-29 0h-2c6 3 14 2 20 2h21l5 1h5c1-1-2-1-2-2l-12-1-22-1-9 1h-2c5 3 12 2 18 2h7l15 1h4c0-2-3-1-4-2l-4-1H91c-1 0-4 0-3 1 3 2 9 1 13 1l20 1h14c-2-2-5-2-8-2l-19-1H95l-2 1c6 2 12 1 18 1h21l5-1c1-1-2-1-4-1h-5l-12-1H99l1 1 12 1c7 1 15-1 23-1l4 1c1-1 0-1-1-1h-5a517 517 0 00-26 3h31c-2-2-8-3-10-3H94l-4 1h-4c9 3 19 1 29 1h22l-2-1h-15-1c3 2 9 2 13 2l9-1h2l1 2 1 3 1-3-2-2v5l-1-2-3-4 1 4c0 1 1 3 2 2v-3l-1-2v3l3 3 1-3s-1-4-3-3c-2 0-2 4-1 4l2-2c0-2-5-5-6-2v3l3 1c2-1 2-2 2-3 0-3-4-3-6-2l-1 3c1 2 4 3 5 3l1-5-3-2-4 3c1 2 5 5 7 4l2-3v-2c-2-3-9-4-11 0l-1 3 3 2c2 0 3-1 3-3l1-3-4-2c-2-1-7 3-5 6 1 2 4 2 6 2 3 1 5-1 5-4v-2c-2-3-8 0-6 3l2 2' fill='none' stroke='#686767' stroke-width='2')
        path(d='M138 20h7l22-1 8 1h4' fill='none' stroke='#686767' stroke-width='2')
        path(d='M144 18c0 2 2 2 3 2h14l20-1M191 19h-2' fill='none' stroke='#686767' stroke-width='2')
        path(d='M139 19c7 2 12 1 18 1h47M152 19c4 2 10 0 13 0M216 19h2' fill='none' stroke='#686767' stroke-width='2')
        path(d='M152 18c1 2 4 1 6 2h10M229 19h17l4 1' fill='none' stroke='#686767' stroke-width='2')
        path(d='M226 19l-4 1 4 1h26c-1-2-3-1-5-2h-15l2 1 3 1h3l-5-2M118 19l2 1 10 1 6 1 18 1a348 348 0 0186 7h4c-2 2-5 3-7 3l-18 1-48 3-25 3' fill='none' stroke='#686767' stroke-width='2')
        path(d='M177 41l5-2 3-3-2 2-6 4M171 41l2-1-1 2M173 40v1' fill='none' stroke='#686767' stroke-width='2')
        path(d='M170 42l3-3v2M221 40l15-1h2c0-2-2-2-3-2h-17l-38 2h-6' fill='none' stroke='#686767' stroke-width='2')
        path(d='M186 39h56l2-1 2 1c1-1-1-1-2-1l-5-1-18 1h-12c4 2 7 2 12 2M270 40h-10 1M270 40c-3-2-6-1-11-1l-4-1 6 2h9' fill='none' stroke='#686767' stroke-width='2')
        path(d='M270 40c-3-3-9-1-13-1h-5l1 1M270 40h-4M249 40h-3M270 40v-1M236 19c2 0 5 2 5 0M141 18c-1 1 4 1 6 2h87' fill='none' stroke='#686767' stroke-width='2')
        path(d='M140 18c3 3 7 4 11 4h26l27-1h19c3 0 9 2 8 0M135 19h12M200 19h29' fill='none' stroke='#686767' stroke-width='2')
        path(d='M143 18c-1 2 5 2 7 2h37l43-1' fill='none' stroke='#686767' stroke-width='2')
        path(d='M142 20h9l12-1M159 44c-3 5-7 8-11 12l-2 2 2-2 2-2 6-6 8-7 4-3 2-2c-1 3-3 4-5 6l-13 12-5 4-2 2h-1l17-14 5-5 1-1 1-1-16 16-5 4a17 17 0 01-2 2l20-17 4-4 2-1 1-1c-5 7-13 13-19 19l-4 3-3 2 2-2 6-6 14-12 1-2 3-2-18 17-6 6-2 1-1 1a377 377 0 0125-22l2-2-21 19a601 601 0 01-6 6l-2 1 6-5 11-10 6-5 2-2h1l-19 15-5 4-2 1-1 1 20-17 8-7 1-1 2-1-10 8-11 9-9 8-1 1-1 1c10-12 24-19 36-28l-1 1-4 2-7 6-16 13-3 2v-2l3-2c4-6 9-10 15-14l4-4 1-1-4 4-14 11-8 5-1 2c-1-1 1-2 1-2l5-5 10-9 7-5 1-1c-9 5-17 12-25 19l1-1 5-4 14-12 2-1-2 2-5 4-14 9h-1a81 81 0 0120-16l4-2c0 2-3 2-4 3l-8 6-8 5-7 5 4-4 8-6c5-4 9-8 14-10l-3 3-7 5-19 12-2 1 19-16 5-3 3-1c-9 4-17 10-25 16l-2 1c7-3 14-9 21-14l5-3 2-2-31 16-5 3-2 1 13-6 9-6 9-5 4-2-10 2c-7 2-13 6-18 9l-6 4-3 2 5-1 9-4 19-11c1 0 3 0 4-2h-3l-10 4a327 327 0 00-24 13l-1 1c11 0 20-6 28-10l11-5-6 2-11 6-20 11-3 2 21-9 9-5 6-3 2-1c-5 0-9 3-14 5l-7 4-5 3-2 1c0 1 2 2 3 1l8-4 16-10 3-1-3 1-10 4-20 12c-2 2-8 3-6 4 3 1 6-2 8-3l18-10 6-4 3-2c1-1-1-1-1-1l-9 4-16 9c-1 1-5 3-3 3 9-3 17-10 25-15l4-2c1-1-1-1-1-1l-11 5-30 17 1-1 7-4 20-11 8-5 4-2c-10 2-21 9-30 13-3 2-15 5-11 6 5 1 9-4 13-5l20-11c2-1 8-3 6-4-4-1-7 2-11 3l-21 11-6 3-2 1 15-5 11-5a961 961 0 0018-8l-15 4c-10 3-17 7-26 11-4 2-12 1-13 6-1 4 8-2 12-4l12-5 12-5c4-2 14-2 11-5-3-4-9 1-13 2-9 3-17 8-26 12l-11 3c-1 1-7 3-5 3l12-2c9-3 17-9 26-13 5-2 11-3 14-7 2-2-7 1-10 2-9 3-17 8-26 12l-11 4c-2 1-7 2-5 3s5-1 8-2l23-10 8-4 3-1h-9l-12 5-12 4-9 4-3 1h9l12-3 11-5 7-4 2-1c-13-1-24 5-35 10l-9 4c-1 1-5 3-3 3 13-1 25-8 37-14l5-3 2-1h-2l-10 2-24 9c-3 2-11 3-8 4 5 2 11 0 17-1l12-5 11-5 5-3 1-1h-2l-10 2-21 10c-3 1-7 2-9 5l2 1c3 0 6-2 8-3l10-5 10-4 5-3-2-1-12 5-28 12c-2 1-7 4-5 4l18-6 12-5 15-8 1-1c-10 0-18 5-28 9l-5 3-2 1 3 1 8-1 19-9 5-3c1 0 3-1 2-2h-9l-11 5-20 9-3 2h10c5-1 14-5 19-8 3-2 7-3 8-6 1-2-2-2-3-2l-9 1a66 66 0 00-20 8v2c8 2 17-3 24-7l4-3c1-1 3-1 2-2l-6-1-8 3-8 4-8 4 3 1 18-6 7-3 3-2-1-1-8 1-10 3c-3 2-7 3-9 6-2 2 4 1 6 1l15-8 4-2 1-1c-9 0-17 6-24 10-1 1-5 1-4 2h7c4-1 8-5 13-7l4-1c-1-2-3-2-4-2l-7 2c-3 1-7 1-9 4-1 1 3 1 4 1l7-2 6-3c1-1 4-1 3-2l-5 1-7 3c-3 2-7 3-9 6l6-1 12-6 3-1h-7l-7 2-6 3-3 2c5 0 8-3 12-5l4-3 2-1c-5 0-10 2-14 5l-3 2-1 1c3 1 6-1 9-3l5-4-1-1h-4l-4 1-4 3c0 3 5 2 7 3h8l12-4h3l-3-1c-5 0-11 1-16 3l-7 2-4 3-2 1 5 1 18-5 7-3 3-1-2-1-8 1c-7 2-13 5-20 9l-1 1c3 2 8 0 11-2l8-4c3-2 9-1 7-4-1-2-5 1-8 2l-15 6c-1 0-5 0-4 1l6 1 17-7 3-2h-1l-15 4-6 4' fill='none' stroke='#686767' stroke-width='2')
        path(d='M165 42c13 1 26-1 40-1l26-1' fill='none' stroke='#686767' stroke-width='2')
        path(d='M177 41l17-1 23 1h13l6-1' fill='none' stroke='#686767' stroke-width='2')
        path(d='M171 41h71l10-1' fill='none' stroke='#686767' stroke-width='2')
        path(d='M161 40c17 2 34 1 51 1h50l4-1M260 18l1 1M258 19h3M269 18l-1 13v1l1-1 1-3 1-10' fill='none' stroke='#686767' stroke-width='2')
        path(d='M269 18v5c-1 5-2 9-1 14M269 18v20M269 25l-1 13M258 19v1M260 18l-1 2v1M261 18v4l1-4M264 18v3s0 1 0 0M265 18v0M267 18l-1 4v1M268 21v2s0 1 0 0v-5M268 19v2M266 19l-1 2v1M264 20v1M263 20s0 0 0 0M263 20v2' fill='none' stroke='#686767' stroke-width='2')
        path(d='M269 25v10l1 3v-3-4-2 11h-6c-6-1-11 0-17-2M248 14l-4 5M267 14l2 4v1c0-2-2-4-1-5v2l2 2-1-1-1-2-1-1c1 3 3 4 3 7M251 13c3 1 11 2 14 1M248 13l17 1' fill='none' stroke='#686767' stroke-width='2')
        path(d='M266 14l1 4-1-1v-2l1 1v1l-1-3 1 2c0-1-2-1-1-2l1 2-1-2 1 1c0 1 0 2 1 1l-1-1v1l-1-2c-1-1 0 2 1 1l-1-1c-1 1 1 2 1 3l-4-1h-1a2648 2648 0 004 0h-6l4 1h-6l-1 1 3 1s4 0 3-2h-6c1 2 8 1 8 0 0-2-8-3-9-1l2 1 6 1 1-1-10-2-2 2 4 1h1c1-1-2-1-2-1l-5-1-1 2h3l5 1v-2l-7-1s-2 0-1 1c0 1 4 2 5 1v-2h-6v2l2 1h3l1-3-3-1c-3-1-5 3-4 5 1 1 4-2 3-4-2-2-4 4-4 4l1-1 1-3c-1-1-3 2-3 2l-1 2-1 1 3-4 1-2c0 2-3 5-4 5l-1 1c0-2 2-5 4-6l1-1-3 5-1 1 3-6-1 1v1l-2 3 1-1 1-2 1-2-1 1-3 4 2-1 1-1 3-3h-1l-1 2-4 4 3-5v2l-2 2 1-2 1-2 1-1-3 5c-1-1 0-2 1-2l2-3-1 2c-1 1-1 3-3 3l1-1 1-1 3-4M267 15l2 5M156 50l-2 6c0 7 4-4 2-5v2l-2 11' fill='none' stroke='#686767' stroke-width='2')
        path(d='M159 57v2l1-4 2-7v-2-1c-2 3-1 10-1 13l1 2v-1-7l-1-7v-2l-1 4a193 193 0 01-1 13v2a79 79 0 001-18v11l-1 4v2c2-4 2-12 2-16l1-7c1-4 2-9 1-14 0-2 1-8-1-10l-4-1c-6-1-12 0-19 1' fill='none' stroke='#686767' stroke-width='2')
        path(d='M162 19v12l-2 28M163 34c-2 8-3 17-3 25M163 39l-1 11-1 10M164 41l-3 20M165 41l-4 23' fill='none' stroke='#686767' stroke-width='2')
        path(d='M145 16h-4 10l-4-1h-2l1 1 7 1 1-1-5-1-4-1-2 1h3l3 1h4l-2-1h-7-1l7 1h3c-1-2-3-1-5-1-2-1-6-2-9-1l2 1h10c-2-2-12-2-15-2h-5c-1 1 1 1 3 1 4 1 8 2 12 1h6c-7-2-14-2-21-2h-8l1 1h3l2 1h10l4 1h1l-4-1-7-1-5-1h-1a59 59 0 0027 2l-2-1h-2l-4-1-5 1h-4c2 2 13 1 16 1h3l-3-1-10-1h-5l12 2 1-1h-3a37 37 0 00-11-1c3 2 9 1 12 1h3l-4-1-10-1h-7l3 1 5 1h10c-4-2-9-2-14-1h-4c3 2 13 2 17 2h5l1-1c0 1-6 2-4 4 0 1 6 2 6 0 1-3-6-2-4 0h3l2 1c1-1 2-3 0-3-2-1-5 3-2 4h3l1-1c1-4-2-5-5-3-2 2 4 5 6 3 1-3-2-6-4-5l-1 2-1 3 5 1 1-3c-1-2-7-3-8 0s6 4 7 3v-2-1l-1-2c-3-1-4 5 0 6h2c3-1 2-5 0-6h-2c-1 0-3 4-2 5s2 2 3 1c2 0 2-6-1-6-2 0-6 4-6 6l2 1c1 0 2-2 1-3l-4-1c-4 1-8 4-11 7M163 24l-1 13v20l-1 3v1c2-2 1-11 2-14l1-6v-1-2l-1 5-1 12-1 6v1c2-2 2-8 2-10l-1-4v14l1-12v-5l-2 11-1 4v1c2-3 1-10 2-14v-3l1-2-2 15-1 5v-1-6-2l-1 3-1 4v2l-1 1 1-4 1-2M154 63c0-2-16-3-8-1l4 1h4z' fill='none' stroke='#686767' stroke-width='2')
        path(d='M155 61l-2 1-2 1h4v-7l1-2-1 7-1 2 2-9 1-2c-2 1-2 5-2 6l-1 2 1 2 1-9c-2-1-3 6-4 7v1h2c2-2 2-6 2-7l1-3-3 1-2 7 1 2 2-6v-2l-1 1-1 5v3l1-1 1-2 1-6v-1 4l-1 5v2l2-11v2l-1 2v9l1-4v-4-1l-2 2v3z' fill='none' stroke='#686767' stroke-width='2')
        path(d='M155 52v6c1 1 0-1 1-2l1-5v-3 10l-1 3 1-3 1-11-1 2-1 3-1 6v2l1-6v-2l-1 8v2l-1-8v-2l-1 3v6l1-3 1-5 1-3c0-1 0-3-1-2l-1 10v1l2-7v7l1-4 1-3v-2l-1 4v2l1-5-1 2v4' fill='none' stroke='#686767' stroke-width='2')
        path(d='M156 52l-1 8 1 3v-2l1-5 1-6v-3c-1-1-1 1-1 2v3l-1 4v2l2-14' fill='none' stroke='#686767' stroke-width='2')
        path(d='M157 51v9l1-3v-3l1-8v-2l-2 11v1l2-10M124 56c1 2 6 2 10 2h7c-3-3-7-2-10-3-2 0-8-1-7 1z' fill='none' stroke='#686767' stroke-width='2')
        path(d='M127 50l13 2 7 1-4-1h-4l-10 1h-16c-1 1 2 1 2 1l10 2h9l7 1h-1l-4-1h-14l2 1h4l7 2a130 130 0 007 1c-6-2-13-2-19-2l-4-1h-2l3 2a91 91 0 0021 3s2 0 1-1h-1l-5-1-14-2h-3-1c1 2 4 1 6 2l13 2h5l-13-3h-4l-3-1c5 3 12 2 17 2M89 79c-1 2-2 5-1 8 5 10 11 12 22 14 4 0 9 1 13-1 5-2 8-6 10-11 2-3 3-5 3-8 0-8-16-11-22-12-3-1-8-2-11-1-4 0-5 1-8 3-8 4-9 10-10 19' fill='none' stroke='#686767' stroke-width='2')
        path(d='M93 72l-4 11v2c-1-4 1-8 4-11l6-5 4-2s-1-1-4 2c-3 2-5 6-7 9l-1 4-1 2v-2l1-6c2-4 5-5 9-7l3-1-2-1-6 5c-5 5-8 14-4 20' fill='none' stroke='#686767' stroke-width='2')
        path(d='M93 72l10-4 8-1 3-1h3c-1-2-10-2-13-1-4 0-7 2-10 3l-4 2h3l5-2 14-4 9-2 5-1c1-2-3-1-4-1l-5 1c-10 2-18 5-27 10l-3 1c3 1 9-2 12-3l10-3 12-4h2l-6-1-5 2-18 7-6 4 3-1 4-2 11-5 16-5 5-1h0l-3-1h-12l-6 2-11 4c-1 1-2 3-4 3-1 1-5 1-4 2 2 2 4 0 6-1l7-1 14-4 6-2c2-1 5 0 6-2 1-1-2-1-3-2l-6 1c-10 1-14 3-23 6l-3 1-2 1c4 1 9-1 13-2l12-4 4-1c1 0 4 0 3-1h-4l-6-1-23 8-3 2 4 1 16-5 6-2c2 0 6 1 7-2 0-2-4-1-6-2-8 0-16 3-23 5l-3 2c7 0 13-1 20-3l10-3 2-1c-2-2-9-1-11 0l-19 5-3 1c6 1 12-1 17-3l12-3 3-2 2-1c-5-2-14 1-20 2l-6 1-6 2-2 1c6 3 14-1 19-2l9-2 2-2h-7l-15 1-4 2c-1 0-5 1-3 2l8 1c6 0 12-3 17-4l4-1-4-1-13 2c-3 1-8 1-9 4-1 2 4 1 6 2l7-1 11-2 4-1 3-1c-3-2-7-2-10-2-5 0-13 3-17 5l-2 1 6 1c6 0 14-1 19-3 2-1 5-1 6-3l-4-3h-8l-12 2c-2 1-5 0-6 2-1 1 1 2 2 2l7 1 16-2 4-1h-3l-6-1c-5 0-11 1-15 3l-3 2c3 2 7 2 11 2 5 1 10-1 15-3l3-1-3-1c-7 0-13 0-19 3-1 0-5 0-4 1 2 2 5 2 7 2 5 0 10-2 14-3 0 0 4 0 4-2h-2l-11-1-6 3' fill='none' stroke='#686767' stroke-width='2')
        path(d='M137 79c3-3 10-7 15-7l5-1c4-1 3-7 3-10l1-2c1 1-2 16 0 8v-4l1-3v3l-1 1v5c-2 2-12-3-15-1l3 1h9l-3-1-4-1h-9l-4 1c0 2 3 1 4 1 4 1 6 0 11-1h4c-2-2-5-2-8-3l-9-1h-4l-3 1c5 2 10 2 15 2h3c2 0 5 1 5-1l-5-2-5-1-11-1h-3c-2 0-6 0-5 1 0 2 4 2 5 2h11l6-1c1-1 3-2 2-3l-2-2c-7-3-9-4-16-4h-5c-1 0-2 1-1 2l8 1 6 1c3 0 8-1 8-3l-2-1-8-1-8-1c-1 0-3 0-4 2l1 2 4 1 8 2h5a173 173 0 00-25-1c-1 1-4 1-4 3-1 1 2 1 3 2h4l7 1h2l2 1-16-2h-7l-1 1c4 3 9 2 14 3a2824 2824 0 007 1l-15-3h-3-2c1 2 5 1 7 2 4 0 9 0 13 2l-4-1-11-2-2-1 5 2 10 3h2l2 1c-2 1-8-3-9-3l-6-2h-3a48 48 0 0119 5l-6-3h-2l2 1 5 3 2 1 3 2-4-4-2-2 7 7-1-2-2-4-1 3 2 4v1c2-5 6-8 11-9h7l2-1-6-1c-4 0-8 3-11 6l-1 1 3-1 8-3h5l-3-1-8 1-3 2c-1 0-3 0-3 2l2 1 7-3 5-2c2 0 5 0 6-2l1-4a8162 8162 0 000-3v2l1-6v9l-1 3v-8l-1 3-1 1v-1l1-2-1 2-1 2' fill='none' stroke='#686767' stroke-width='2')
        path(d='M130 65l9 2h-6l-16-2h-3l19 2h3l2 1a90 90 0 00-21-4l22 2h-6l5 1c1 0 3 2 3 0 1-1-2-1-3-1l-4 1-1 1 3 1h3l1-2h-10c-1 0-3 0-2 1l6 1 4 1 2-1-2-1 1 2 2-1h-2l-4-1-1 2 4 1c1 1-1 2-1 3l2 1 2-3-2-2h-2c5 0 10 1 11-6M137 68c-3 1-2 0-3 3M144 68c-4 0-6 1-9 3M126 61l-5-1M139 62l-7-1-6-1 6 1h3-5l-4-1c5 1 9 0 13 2zM126 62l18 2M128 61l17 2M130 69l5 2M133 71l2 1' fill='none' stroke='#686767' stroke-width='2')
        path(d='M135 70v-2l-2 1 2 1zM138 69l-3 2M127 71l7 2M139 70h2l-3 2 4-2 2-1-5 1zM135 74l-3-2 1 1 2 1h-1l-1-1 2 2c1 1 0 0 0 0l-2-1h2zM158 66h0v1h1M32 50h12c5 0 12 1 16 4 4 2 8 6 10 9 4 6 10 10 13 16l1 7 1 2v-4l-2-7-1-3-1-1 1 2 3 9v3s0 0 0 0v-3l-3-7-1-2v-1c2 3 3 8 3 11v4c1 1 2-2 2-2l-1 2 1-1-1 1h1l2 1-2-1 1 1s0 0 0 0h-2l3 1-3-1h-1l2 1h1-2s-1-1 0 0l4 1-1-1s0 0 0 0h-2a369 369 0 002 0l1 1-3-1h-1 0v-1l2 1h1l-3-1-1-1c1 0 3 2 4 1l-2-6v-1h-1l1 3v1c1-3-1-6-2-9v-1-1c-1 2 0 6 1 8l1 2v-1l-1-3-2-8-1-2v-1l2 6 1 7 1 1c0 1 0 0 0 0v-2l-1-5-3-8v1c2 3 2 6 3 10l1 3v1l-2-8v-2l-1-1c2 6 3 13 6 17' fill='none' stroke='#686767' stroke-width='2')
        path(d='M91 93c-3-1-4-3-6-6l-1-1v-1l2 2 3 5 4 3v1l-4-3-3-4-2-4-4-5' fill='none' stroke='#686767' stroke-width='2')
        path(d='M95 96c-4-1-10-4-12-8l-2-3' fill='none' stroke='#686767' stroke-width='2')
        path(d='M84 89c-3-2-5-8-6-11-1-5-5-10-8-13-2-4-5-7-8-9l-3-2v-1c2 0 5 4 7 5l6 6 4 9 3 8 1 2v1c1-3-3-11-4-13l-2-4v-1h-1c1 4 4 8 6 11l1 4v-2l-4-8-1-4-1-1 2 3 4 8 1 3v2l-2-7-3-5-2-3v-1-1l5 11 2 4s0 1 0 0c0-3-3-6-4-9l-3-6' fill='none' stroke='#686767' stroke-width='2')
        path(d='M81 81l-8-13-6-9c-5-4-11-6-18-8-4-1-9-3-13-2h-7c-1-1 2-2 2-2l7-3c7-2 14-1 21-1l8 1h-1l-2-1-4-1-14 1h-4-1-1l9-1 13-1h2l4-1h-5l-10 2h-4l6-2M63 38h2-2s0 0 0 0M48 42l2-1M64 38h2l-9 2h-1' fill='none' stroke='#686767' stroke-width='2')
        path(d='M43 42l-2 1-7 2-4 1M83 81l-1-2 2 5v1l-2-5-1-1 3 5v2a54 54 0 01-3-5l1 3 1 2a27 27 0 00-1-4l1 2v1l-1-2-1-3' fill='none' stroke='#686767' stroke-width='2')
        path(d='M31 44c-2 0-2 2-1 3l2 1 1 1-2-1c-2 0-2-1-2-3l1-1v2l1 1s3 2 4 1h-3c-1-1-3-3-2-4l5-1c5 1 10 0 15-1l5-2M66 36l5-3 1-2M72 31l1-2 2-5M75 23c2-3 3-6 3-10V7' fill='none' stroke='#686767' stroke-width='2')
        path(d='M31 43c4 2 9 0 13 1h5l-2-1H33l1 1 7-1c10-1 22-2 29-11l4-6c4-6 4-10 3-16V6v4l-2 8c-2 8-5 14-11 19-4 4-9 4-14 4l-8 1-7 1h-4zM174 38l22-1h23l16 1 15-1h17M176 24h22l27 1h17l7 1h17M177 22h4l23 1 62 1' fill='none' stroke='#bbb' stroke-width='2')
        path(d='M176 22c8 3 17 1 25 1l16 1h7l17 1c8 0 15 2 23 1' fill='none' stroke='#bbb' stroke-width='2')
        path(d='M180 22c8 3 16 0 24 1l22 1h7l15 1 16 1M172 23c-1-2-4-2-5-1h3l3 1h6l-2-1h-1l-7-1-2 1h12l-7-1h-3-1l7 1h3l1 1-12-1-3 1 2 1a73 73 0 008 0h4l-1-1h-10l2 1 3-1z' fill='none' stroke='#bbb' stroke-width='2')
        path(d='M166 22h46l11 1h5l16 1h17c1 0 5-1 5 2' fill='none' stroke='#bbb' stroke-width='2')
        path(d='M172 22h15l39 2 21 1h16M173 35h15l35 1 43 1' fill='none' stroke='#bbb' stroke-width='2')
        path(d='M173 35h9l12-1 44 1h18l10 1' fill='none' stroke='#bbb' stroke-width='2')
        path(d='M175 35h-2v1h9l11 1h3l-2-2-7 1h-19M173 34h-5' fill='none' stroke='#bbb' stroke-width='2')
        path(d='M168 34s-3 1-2 2l5 1 16-1' fill='none' stroke='#bbb' stroke-width='2')
        path(d='M168 36c4 2 8 1 11 1l11-1h74M249 14l6 2M248 15l5 1 2-1h-6l1 1h5l-3-1h-2s0 0 0 0 0 0 0 0l2 1h5l-3-1h-5 8l-7-1c-1 1 3 1 3 1h3-4-1 9-8-1l2 1c3 0 8-1 2-1h-1' fill='none' stroke='#bbb' stroke-width='2')
        path(d='M99 17h51c2 0 3 1 3 2v35l-2 2H99l-2-2-1-35c0-1 1-2 3-2z' fill='#272727')
        path(d='M101 21h47l2 1v28l-2 2h-46l-2-1-1-28 2-2z' fill='#434141')
        g.barrel-clip
          path(d='M102 22l46-1 2 2v28l-2 2h-46l-2-2V23l2-1z' fill='#848484')
        g.gun__barrel(clip-path="url(#barrelClip)")
          g.gun__barrel-chamber
            g.gun__barrel-set--one
              use(xlink:href="#barrel")
            g.gun__barrel-set--two
              use(xlink:href="#barrel")
        path(d='M167 25h34l7 1h7l8 1 8-1 15 1h20M167 32h18l16 1 53 1 9-1' fill='none' stroke='#000')
        path(d='M264 15c-1 0 0 0 0 0h-1 0l1 1h1-1 1v-1l-1 1v-1s0 0 0 0 0 0 0 0 0 0 0 0z' fill='none' stroke='#ef1212')
        path(d='M164 19l81-3h-8l-12 1-5 1h20l3-1h2-18l4 1h10l-3-1h-12 18-20c-1 1 1 1 2 1h5l10-1 3-1h-12l-16 1h-6l1 1h19-27c5 2 12 1 17 1h6c1 0 2 0 1-1h-10l-13-1h-7c-1 0-4 0-3 1h28l-1-1h-11l-18 1h-3l-1 1h28l-2-1h-61 14l27-1h17l-3-1h-46-1 35l6 1h4-37l-14 1h49l11-1h5l-3-1h-9l-17 2h-28 42c-11-2-24-1-35-1h-12-2l2 1 23-1h-1-24 29l9-1h48M165 43h72l23-1h10l1-1h-1M227 42h21' fill='none' stroke='#686767')
        path(d='M164 15h13l11 1 16-1c13 1 25 2 38 1M161 49l1 7-1 10' fill='none' stroke='#000' stroke-width='2')
        path(d='M162 52l-1 11v4l1 2v-5-9-4 10 7M169 42h7l33 1h22M270 16c-2 3-1 7-1 11v4l2-9v-2-2 2l-1 4v5' fill='none' stroke='#000' stroke-width='2')
        path(d='M133 66c-3 0-1 3 1 3 2-1-1-4-2-3s-1 4 1 3 1-4-1-3c-1 0-1 3 1 2 1 0 0-3-1-2-2 1 0 4 1 2 0-1 0-2-1-1l1 1c1-1-1-2-1-1-1 1 1 1 2 1 1-1-1-2-2-2l-1 2h3c1-1-1-2-2-2-1 1 1 4 2 2 2-2-2-3-2-2-1 2 1 4 2 3 2-2-3-4-3-2v1c1 2 4 0 3-2l-2-1c-2 2 1 5 2 3 2-2-2-2-2-2v3h1l1-1' fill='none' stroke='#282828' stroke-width='2')
        path(d='M83 77v-1l1 1v2l1-2-2 1 1 1 1-2-1 1c0 1 1 2 2 1l-1-3v3l1-2c-1-1-1 2-1 2l1 1 1-3c-1-1-3 0-3 1l1 1 1-3h-3v1z' fill='none' stroke='#434141')
        path(d='M74 33l13 1h3l-5-1c-3 0-8-2-11-1l-5 5-13 9H44' fill='none' stroke='#7c7c7c')
        path(d='M44 46v4l5 1 15 2c5 2 8 6 11 11l1 3c2 1 12 2 15 1 5-1 2-14 2-18 1-4 0-9-1-13v-4l-6-1-12-1' fill='none' stroke='#7c7c7c')
        path(d='M75 32l13 2c1-1-2-1-2-1l-5-1h-2l11 1h-3-1l-8-2h-1l9 2h2a10113 10113 0 00-7 0h7' fill='none' stroke='#7c7c7c')
        path(d='M77 31c-1 1 1 2 2 2 2 2 10 0 10 3l1 9v16l1 6 1-3-1-8V39v-5-2l-1 3 1 6v12l-1-11v-4 16l-1-14v-3-2l1 16v8l1-6-1-13v-5-2 4l1 12v4c1-3-1-10-1-14v-2-1l1 15v-2-12-3 23c1 1 0-1 1-2v-2l-1-3v-9-4-2 5l1 16V41l-1-3v-2l1 15V41v-5-3 8l1-2-1 14v-1-4l-1 2v2l1 2v8 3l-1-8v-1-2l-1 10v2c1 1 1-1 1-2v-4l-1-2v2l-1 4 1 2v-2-5-1c-1 1-2 8-1 9l2-7-1 4-1 3c1 1 1-2 1-2l1-4v-1s-2 8 0 8l1-8v2l-1 3 1 2-1-10v2l1 5v2l1-5-1-4v8l1-4v-4-1l-1-2v0l-1 2v8l1-2a10343 10343 0 010-13l-1-14-1-3-8-1h-5z' fill='none' stroke='#7c7c7c')
        path(d='M44 47l4-1h5l6-2 7-4a32 32 0 008-7l1-1c1 1-1 2-2 2-2 3-3 4-6 5l-15 5-5 1-2 1 4 1 9-3c4-2 9-4 12-7l4-4 1-1v1l-1 1-1 1-8 5-13 5h-6-1l6 1c7 0 14-5 19-8l5-4 1-2 1-1c1 1-1 2-1 3l-8 5c-5 3-11 4-17 5l-5 1-2 1h8c6-1 11-4 17-8l4-3 1-2h2l-5 3c-5 3-11 6-18 7l-9 3v2l-1-2 1 1zM42 49c7 1 15 0 22 4 1 0 3 0 3 2l-1-1h-1l-6-2-16-3h8l15 3 2 1s2 0 1 1l-5-1-20-4h-3l2-1 9 1 10 2 4 3 4 2 4 6 2 3v1l-3-3-8-8-4-3h-3 5c2 1 6 3 7 6l2 5v1l1 2-2-5c-1-3-4-5-7-7l-3-2 3 1 5 3c2 2 3 4 3 7v4c2 2 10 0 12 0a30 30 0 014 1l-9-1-2-1h-1l12 1-2-1h-4l-7-1h-2l4 1h11c-1-1-10 1-11 1h-5l12 1h3l-2-1H74h14' fill='none' stroke='#7c7c7c')
        path(d='M72 65c0-3-2-4-4-6l-5-6c-6-3-14-3-20-4M44 46c-1 0 0 2-1 1l1-1-1 2v-1 2l1-1v-2zM43 45l-1 1-1 2v-2l-1 3v-2 2-2l-1 3' fill='none' stroke='#7c7c7c')
        path(d='M40 47l-1 1c3 1 11-3 13-4l2-1h-1l-2 1-4 1-3 1c3 1 6-1 8-2' fill='none' stroke='#7c7c7c')
        path(d='M89 33v30M89 34v25M52 44c10 0 21-4 26-14' fill='none' stroke='#282828')
        path(d='M82 9h0z' fill='none' stroke='#bbb' stroke-width='2')
        path(d='M38 61c12 0 24 5 29 16l1 4' fill='none' stroke='#91442d' stroke-width='2')
        path(d='M38 59h9c3 0 6 2 8 4l6 2 7 8' fill='none' stroke='#91442d' stroke-width='2')
        path(d='M38 60h10c5 1 9 6 13 10l5 8v2l-1-2-2-3c-2-3-6-8-10-9-3-2-7-4-11-4l-5-1 1-1z' fill='none' stroke='#efddd7' stroke-width='2')
        path(d='M40 60l9 2 3 1h-1l2 2h1l-2-1 2 1v-1M50 63c7 3 13 9 15 17M20 94l-4 6-2 9' fill='none' stroke='#efddd7' stroke-width='2')
        path(d='M65 96c-2 1-3 4-4 6-2 2-1 5-2 7-1 7-2 13 0 20l5 9M13 142l28 2c4 1 7 2 11 1h10l1-5M63 138c-1 7 1 9-8 8M34 68c-1 7-4 14-9 18' fill='none' stroke='#452319' stroke-width='2')
        path(d='M38 76c-1 6-5 14-9 19l-6 8c-4 5-4 13-5 20l-2 12 5 1 15 2 17 1h4c1-1-1-4-2-5l-3-16c0-6 1-15 3-20 0-3 3-7 6-8v-3c-1-2-5-3-7-4l-10-7c-1-1-4-4-5-3l-1 4-3 10' fill='none' stroke='#282828' stroke-width='2')
        path(d='M44 90h-1 2l-1-1v1h1l-1-2v2c2 1 2-1 2-2-1-2-2 2-2 2 2 3 3-2 2-3-2-2-3 3-2 4 2 2 4-3 2-4-2-2-3 3-2 4 2 1 5-2 3-3h-2c-1 0-3 3-1 2z' fill='none' stroke='#282828' stroke-width='2')
        path(d='M24 119l18-13 11-5M44 108l-3 2-14 12-4 2M45 111l-23 19M45 116c-2 5-7 8-12 11l-6 5M44 124l-9 7M45 130l-4 3M44 99l-4 3-15 9-3 4M46 95l-13 7M38 95l-4 1M23 125l5 8M25 114c0 6 5 12 9 16' fill='none' stroke='#efddd7' stroke-width='.3')
        path(d='M27 110l3 5c3 6 7 10 11 15M31 107c4 7 10 14 16 21M31 99l15 18M34 98c4 2 8 6 11 10M39 95l7 8' fill='none' stroke='#efddd7' stroke-width='.3')
input#volume(type='checkbox')
label(for='volume', title='Toggle sound')
  //- On
  svg(viewBox="0 0 24 24")
    path(d="M14,3.23V5.29C16.89,6.15 19,8.83 19,12C19,15.17 16.89,17.84 14,18.7V20.77C18,19.86 21,16.28 21,12C21,7.72 18,4.14 14,3.23M16.5,12C16.5,10.23 15.5,8.71 14,7.97V16C15.5,15.29 16.5,13.76 16.5,12M3,9V15H7L12,20V4L7,9H3Z")
  //- Off
  svg(viewBox="0 0 24 24")
    path(d="M12,4L9.91,6.09L12,8.18M4.27,3L3,4.27L7.73,9H3V15H7L12,20V13.27L16.25,17.53C15.58,18.04 14.83,18.46 14,18.7V20.77C15.38,20.45 16.63,19.82 17.68,18.96L19.73,21L21,19.73L12,10.73M19,12C19,12.94 18.8,13.82 18.46,14.64L19.97,16.15C20.62,14.91 21,13.5 21,12C21,7.72 18,4.14 14,3.23V5.29C16.89,6.15 19,8.83 19,12M16.5,12C16.5,10.23 15.5,8.71 14,7.97V10.18L16.45,12.63C16.5,12.43 16.5,12.21 16.5,12Z")