svg.mando(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 122.555 186.8641')
  g(transform='rotate(13.204 423.465 260.7559)')
    g(transform='matrix(1.00005 .009 .00435 1.23105 3.6251 -10.1682)')
      rect(width='3.2128' height='36.6637' x='23.0565' y='173.9687' ry='0' fill='#f60')
      rect(ry='0' y='173.9687' x='24.8047' height='36.6637' width='3.2128' fill='#fc0')
      rect(ry='0' y='173.9687' x='26.5528' height='36.6637' width='3.2128' fill='#f95')
      rect(width='3.2128' height='36.6637' x='28.301' y='173.9687' ry='0' fill='#fc0')
      rect(ry='0' y='173.9687' x='30.0491' height='36.6637' width='1.9844' fill='#f60')
    g(transform='translate(5.2555 37.5295)')
      ellipse(cy='207.3251' cx='26.2693' rx='4.7247' ry='4.6302' fill='#fc0')
      circle(cx='23.529' cy='210.16' r='3.5908' fill='#ffb380')
      circle(r='3.8743' cy='209.1205' cx='29.8601' fill='#ff7f2a')
      circle(cx='25.5134' cy='212.7113' r='3.5908' fill='#fc0')
      circle(r='3.5908' cy='211.5774' cx='31.372' fill='#fd5')
      circle(cx='22.3951' cy='212.4278' r='3.5908' fill='#f60')
      circle(r='22.0324' cy='212.4278' cx='22.3951' fill='#f60')
    path(d='M31.1335 191.3533h2.6458l3.175 12.8512H26.9001l4.2334-12.8512z' fill='#999' stroke='#000' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round')
    g
      g(transform='matrix(1.00005 .009 .00435 1.23105 -10.2727 -10.0875)')
        rect(ry='0' y='173.9687' x='23.0565' height='36.6637' width='3.2128' fill='#f60')
        rect(width='3.2128' height='36.6637' x='24.8047' y='173.9687' ry='0' fill='#fc0')
        rect(width='3.2128' height='36.6637' x='26.5528' y='173.9687' ry='0' fill='#f95')
        rect(ry='0' y='173.9687' x='28.301' height='36.6637' width='3.2128' fill='#fc0')
        rect(width='1.9844' height='36.6637' x='30.0491' y='173.9687' ry='0' fill='#f60')
      g(transform='translate(-8.6423 37.6101)')
        ellipse(ry='4.6302' rx='4.7247' cx='26.2693' cy='207.3251' fill='#fc0')
        circle(r='3.5908' cy='210.16' cx='23.529' fill='#ffb380')
        circle(cx='29.8601' cy='209.1205' r='3.8743' fill='#ff7f2a')
        circle(r='3.5908' cy='212.7113' cx='25.5134' fill='#fc0')
        circle(cx='31.372' cy='211.5774' r='3.5908' fill='#fd5')
        circle(r='3.5908' cy='212.4278' cx='22.3951' fill='#f60')
        circle(cx='22.3951' cy='212.4278' r='22.0324' fill='#f60')
      path(d='M17.2357 191.434h2.6458l3.175 12.8511H13.0024l4.2333-12.8512z' fill='#999' stroke='#000' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round')
    rect(width='28.0134' height='34.439' x='15.0975' y='162.0409' ry='2.7551' fill='#999' stroke='#000' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round')
  g(transform='translate(36.5023 -57.141)' stroke='#000' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round')
    ellipse(cx='-28.2014' cy='190.8808' rx='5.7463' ry='8.1517' transform='rotate(-19.788)' fill='#502d16')
    path(fill='#803300' d='M38.0896 166.7268l9.8566 2.7127-5.0532 18.3603-9.8566-2.7127z')
    path(fill='#e6e6e6' d='M35.7652 171.2427l11.8673 3.266-2.415 8.775-11.8673-3.266z')
  g(transform='translate(19.397 -57.141)' stroke='#000' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round')
    ellipse(transform='rotate(-19.788)' ry='8.1517' rx='5.7463' cy='190.8808' cx='-28.2014' fill='#502d16')
    path(fill='#803300' d='M38.0896 166.7268l9.8566 2.7127-5.0532 18.3603-9.8566-2.7127z')
    path(fill='#e6e6e6' d='M35.7652 171.2427l11.8673 3.266-2.415 8.775-11.8673-3.266z')
  g(stroke='#000')
    path(fill='#4d4d4d' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round' d='M90.1588 77.1815l-10.1405 8.0201 12.4752 15.7732 10.1404-8.0202z')
    path(d='M84.0091 73.0244a10.2054 13.6071-44.6725 0111.386 4.8441 10.2054 13.6071-44.6725 013.0286 4.1072l-16.294 11.3808a10.2054 13.6071-44.6725 01-1.2496-1.138 10.2054 13.6071-44.6725 01-2.309-16.8516 10.2054 13.6071-44.6725 015.438-2.3425z' fill='#520' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round')
    g(transform='rotate(-36.8656 -29.5312 38.8556)')
      path(fill='#502d16' stroke-width='2.4088' stroke-linecap='round' stroke-linejoin='round' d='M29.3636 156.4633h16.112v7.9855h-16.112z')
      path(d='M34.2446 156.3929v7.7485M40.5946 156.5818v7.9375' fill='none' stroke-width='1.3229')
      ellipse(ry='3.3073' rx='3.4018' cy='167.2597' cx='47.058' fill='#502d16' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round')
      rect(ry='4.138' y='163.9819' x='27.9998' height='12.4141' width='18.8397' fill='#502d16' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round')
  path(fill='#502d16' stroke='#000' stroke-width='2.497' stroke-linecap='round' stroke-linejoin='round' d='M53.176 72.7626h31.521v38.3245H53.176z')
  g(stroke='#000' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round')
    path(d='M60.5074 108.9805a15.1517 22.3144 40.8711 0017.5537-9.6409 15.1517 22.3144 40.8711 003.1442-26.7886 15.1517 22.3144 40.8711 00-3.3702-1.9427 15.1517 22.3144 40.8711 01-6.6609 20.7424 15.1517 22.3144 40.8711 01-22.6892 8.9015 15.1517 22.3144 40.8711 003.517 6.0466 15.1517 22.3144 40.8711 008.5054 2.6817z' fill='#520')
    path(fill='#ccc' d='M54.1434 100.197l5.1345-2.4044 6.0912 13.0075-5.1345 2.4044zM68.741 90.7677l4.5887-3.3298 8.4358 11.6248-4.5888 3.3299zM61.6126 97.1111l4.6306-3.2714 8.2876 11.7309-4.6305 3.2714z')
  g(stroke='#000' stroke-linecap='round' stroke-linejoin='round')
    path(fill='#28170b' stroke-width='2.5399' d='M50.9296 107.1465h36.0136v6.9095H50.9296z')
    path(fill='#ccc' stroke-width='2.6458' d='M62.4164 103.892h13.0402v13.4183H62.4164z')
  g(transform='translate(-12.2482 -57.6979)')
    path(d='M79.375 64.0545c-14.0848.0018-25.6487 11.9149-28.7104 28.0975-2.1536 11.3833-2.2035 28.0294-2.2035 40.6507l30.9139 5.2917h15.457l15.4569-5.2917c-.3393-4.4894-1.7997-39.095-2.1973-40.6507-4.0792-15.9594-14.6295-28.0993-28.7166-28.0975z' fill='#ccc' fill-opacity='.9041' stroke='#000' stroke-width='2.4217801139999997' stroke-linecap='round' stroke-linejoin='round')
    path(d='M81.7512 66.5973c-14.0848.0019-25.6487 11.9149-28.7104 28.0975-2.1537 11.3833-2.2035 28.0294-2.2035 40.6508l.275.047c.045-12.6648.365-27.701 2.5961-38.4018 3.4765-16.6744 16.2314-29.1188 31.9909-30.066a23.7818 23.7818 0 00-3.9481-.3275z' fill='#fff' fill-opacity='.9041')
    path(d='M80.9816 64.1098v35.2655H92.982V68.321c-3.5657-2.4257-7.5978-3.9183-12.0003-4.2111z' fill='#ccc' stroke='#999' stroke-width='2.823782966' stroke-linecap='round' stroke-linejoin='round')
    path(d='M51.3524 89.113a43.7964 43.7964 0 00-.6878 3.039c-2.1536 11.3833-2.2035 28.0294-2.2035 40.6507l30.9139 5.2917h15.457l15.4569-5.2917c-.3393-4.4894-1.7997-39.095-2.1973-40.6507a55.1325 55.1325 0 00-.8708-3.039z' fill='gray' fill-opacity='.9041' stroke='#000' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round')
    path(d='M50.6863 92.0424c-.007.0367-.0148.073-.0217.1096-.3294 1.7409-.6092 1.4893-.8475 3.4432L80.75 97.7119h12.2913l15.4664-2.1167c-.1763-3.0642-.325-3.087-.416-3.4432-.0094-.0368-.02-.0728-.0295-.1096z')
    path(d='M80.9814 92.0424h12.0007v46.4911H80.9814z')
    path(d='M49.8455 97.486c-1.3473 10.8586-1.3844 24.5507-1.3844 35.3167l30.4783 5.2173v-14.3443c0-14.3995-14.5832-26.083-29.0939-26.1897z' fill='#1a1a1a')
    path(d='M49.0378 103.791c-.5558 8.8361-.5767 21.0472-.5767 29.0117l30.5124 5.223c-.1956-13.0146-14.4179-28.3314-22.9805-31.5888z' fill='#ccc')
    path(d='M108.5494 98.4322c-8.0714 2.9974-14.0554 13.9327-14.0554 26.9663v12.696h.338l15.4569-5.2918c-.2553-3.3782-1.145-23.8006-1.7395-34.3705z' fill='#1a1a1a')
    path(d='M108.903 105.1435c-6.9508 5.263-14.2199 21.8393-14.2199 32.8233 0 .0432.0013.0847.0016.1276h.1473l15.457-5.2917c-.2083-2.7544-.8382-16.82-1.386-27.6592z' fill='#ccc')
    path(d='M79.375 64.0545c-14.0848.0018-25.6487 11.9149-28.7104 28.0975-2.1536 11.3833-2.2035 28.0294-2.2035 40.6507l30.9139 5.2917h15.457l15.4569-5.2917c-.3393-4.4894-1.7997-39.095-2.1973-40.6507-4.0792-15.9594-14.6295-28.0993-28.7166-28.0975z' fill='none' stroke='#000' stroke-width='2.4217801139999997' stroke-linecap='round' stroke-linejoin='round')
    path(d='M79.375 64.0545c-14.0848.0018-25.6487 11.9149-28.7104 28.0975-2.1536 11.3833-2.2035 28.0294-2.2035 40.6507l30.9139 5.2917h15.457l15.4569-5.2917c-.3393-4.4894-1.7997-39.095-2.1973-40.6507-4.0792-15.9594-14.6295-28.0993-28.7166-28.0975z' fill='none' stroke='#000' stroke-width='2.4217801139999997' stroke-linecap='round' stroke-linejoin='round')
    path(fill='gray' stroke='#000' stroke-width='2.4194' stroke-linecap='round' stroke-linejoin='round' d='M44.2007 94.4351h11.6262v39.2213H44.2007z')
    ellipse(cx='50.0138' cy='94.2582' rx='5.7463' ry='7.2831' fill='#ccc' stroke='#000' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round')
    path(d='M44.2232 116.1384h7.1816M44.2232 124.6051h7.1816M44.2232 120.3718h7.1816' fill='none' stroke='#000' stroke-width='2.6458')
    rect(ry='1.5119' y='91.0926' x='47.5382' height='6.3311' width='4.9512' fill='#4d4d4d')
  g(stroke='#000')
    path(fill='#4d4d4d' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round' d='M45.5144 87.4716l4.8422-11.9877 18.6465 7.532-4.8422 11.9876z')
    path(d='M39.7947 82.7403a13.6071 10.2054 28.327 007.8526 9.5626 13.6071 10.2054 28.327 004.7936 1.7502l6.3352-18.8383a13.6071 10.2054 28.327 00-1.4437-.8788 13.6071 10.2054 28.327 00-16.8203 2.5268 13.6071 10.2054 28.327 00-.7174 5.8775z' fill='#520' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round')
    g(transform='rotate(-68.005 -1.5586 103.193)')
      path(fill='#502d16' stroke-width='2.4088' stroke-linecap='round' stroke-linejoin='round' d='M29.3636 156.4633h16.112v7.9855h-16.112z')
      path(d='M34.2446 156.3929v7.7485M40.5946 156.5818v7.9375' fill='none' stroke-width='1.3229')
      ellipse(ry='3.3073' rx='3.4018' cy='167.2597' cx='47.058' fill='#502d16' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round')
      rect(ry='4.138' y='163.9819' x='27.9998' height='12.4141' width='18.8397' fill='#502d16' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round')
  g.right__arm
    g(transform='rotate(21.445 190.0263 474.5626)')
      circle(r='4.2763' cy='150.8036' cx='-51.8503' fill='none' stroke='#000' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round')
      path(stroke='#000' stroke-width='.5397' stroke-linecap='round' stroke-linejoin='round' d='M-43.1796 133.4148h3.4425v6.1152h-3.4425z')
      path(d='M-65.1721 140.5231h12.6442l-5.1795 38.1363-12.6442-6.3917z' fill='#666' stroke='#000' stroke-width='2.3974' stroke-linecap='round' stroke-linejoin='round')
      path(fill='#333' stroke='#000' stroke-width='2.5456' stroke-linecap='round' stroke-linejoin='round' d='M-70.8765 138.1918h49.5451v9.4546h-49.5451z')
      path(stroke='#000' stroke-width='.5397' stroke-linecap='round' stroke-linejoin='round' d='M-59.7503 133.1475h3.4425v6.1152h-3.4425z')
      path(fill='#666' d='M-47.8547 142.5048h27.796v6.4145h-27.796z')
      path(fill='none' stroke='#000' stroke-width='2.5456' stroke-linecap='round' stroke-linejoin='round' d='M-70.8765 138.1918h49.5451v9.4546h-49.5451z')
      path(stroke='#000' stroke-width='1.1089' stroke-linecap='round' stroke-linejoin='round' d='M-35.5668 134.4668h-30.9366v-2.8733h30.9366z')
      rect(transform='scale(-1)' ry='1.9503' y='-136.6383' x='62.2604' height='7.2163' width='5.3454')
      rect.blaster__beam(ry='1.9503' y='140.6473' x='-64.412' height='4.2763' width='40.0904' fill='red')
    g(stroke='#000')
      path(fill='#4d4d4d' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round' d='M45.77 87.5212l4.7828-12.0115 18.6835 7.4394-4.7828 12.0115z')
      path(d='M40.0269 82.8183a13.6071 10.2054 28.0433 007.9 9.5235 13.6071 10.2054 28.0433 004.802 1.7265l6.2419-18.8695a13.6071 10.2054 28.0433 00-1.448-.8716 13.6071 10.2054 28.0433 00-16.8076 2.6101 13.6071 10.2054 28.0433 00-.6883 5.881z' fill='#520' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round')
      g(transform='rotate(-68.288 -1.1834 103.088)')
        path(fill='#502d16' stroke-width='2.4088' stroke-linecap='round' stroke-linejoin='round' d='M29.3636 156.4633h16.112v7.9855h-16.112z')
        path(d='M34.2446 156.3929v7.7485M40.5946 156.5818v7.9375' fill='none' stroke-width='1.3229')
        ellipse(ry='3.3073' rx='3.4018' cy='167.2597' cx='47.058' fill='#502d16' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round')
        rect(ry='4.138' y='163.9819' x='27.9998' height='12.4141' width='18.8397' fill='#502d16' stroke-width='2.6458' stroke-linecap='round' stroke-linejoin='round')
