*
  box-sizing border-box

body
  align-items center
  display flex
  min-height 100vh
  justify-content center
  overflow hidden

.mando
  width 15vmin

  &__container
    position relative

.shot
  background green
  position absolute
  top 0
  left 0

.mandalorian
  height 100px
  width 40px
  background hsl(40, 50%, 50%)
  position absolute
  left 0
  top 100%
  transform translate(-50%, -100%)

button
  position fixed
  display none
  top 0
  left 0
  right 0
  bottom 0
  width 100vw
  height 100vh
  opacity 0
  -webkit-appearance none
  appearance none