- for(let s = 0; s < 3; s++)
  .snow
.rings
  .ring.ring--blue
  .ring.ring--yellow
  .ring.ring--blue.ring-segment
  .ring.ring--black.ring-segment
  .ring.ring--black
  .ring.ring--green
  .ring.ring--green.ring-segment
  .ring.ring--red
  .ring.ring--red.ring-segment