svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 117.9 124.8')
  path(d='M59 0A59 59 0 000 59a59 59 0 0050 58 6 6 0 005 8h7a6 6 0 006-8 59 59 0 0050-58A59 59 0 0059 0z' fill='#0ff')
  path(d='M54 0A59 59 0 000 59a59 59 0 0050 58v1a59 59 0 003 0 59 59 0 0058-59A59 59 0 0054 0z' fill='#f0f')
  path(d='M14 42a45 45 0 0127-26' fill='#f0f' stroke='red' stroke-width='7.9' stroke-linecap='round' stroke-linejoin='round')
  path(d='M59 121v170' fill='#fd5' stroke='#fd5' stroke-width='2.4')
