svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 105.8 45.4')
  path(fill='#e6e6e6' d='M0 0h106v45H0z')
  path(d='M1-8h104c4 0 8 4 8 9s-4 8-8 9c-5 0-8-8-13-8s-8 8-13 8-8-8-13-8-8 8-13 8-8-8-13-8-8 8-13 8-8-8-13-8-8 8-13 8c-4-1-8-4-8-9s3-9 8-9z' fill='#fc0')
  g(transform='translate(-8 -237)')
    circle(cx='38.6' cy='259.2' r='4.5')
    circle(cx='36.3' cy='257.1' r='.8' fill='#fff')
  g(transform='translate(37 -237)')
    circle(r='4.5' cy='259.2' cx='38.6')
    circle(r='.8' cy='257.1' cx='36.3' fill='#fff')
  path(d='M57 25a4 4 0 11-8 0')
  path(d='M55 26a3 3 0 00-3 2 4 4 0 004-1 3 3 0 00-1-1z' fill='red')
  g(transform='translate(-13 -237)' fill='#ffd5d5')
    circle(r='3.7' cy='265.5' cx='28.6')
    circle(cx='102.9' cy='265.5' r='3.7')
  g(transform='translate(-13 -238)')
    rect(ry='0' y='212.2' x='34.2' height='21.8' width='6.8' fill='red')
    path(d='M34 224v3l7 7v-3zM34 218v4l7 6v-3zM34 212v4l7 7v-4z' fill='#00f')
  path(d='M29-30a4 4 0 01-8 0c0-2 4-2 4-7s4 5 4 7z' fill='#f60')
  path(d='M27-29a2 2 0 01-4-1c0-1 2-1 2-3 1-2 2 3 2 4z' fill='#ff0')
  g
    g(transform='translate(43 -238)')
      rect(width='6.8' height='21.8' x='34.2' y='212.2' ry='0' fill='red')
      path(d='M34 224v3l7 7v-3zM34 218v4l7 6v-3zM34 212v4l7 7v-4z' fill='#00f')
    path(d='M85-29a4 4 0 01-8 0c0-3 4-3 4-7 0-6 4 4 4 7z' fill='#f60')
    path(d='M83-29a2 2 0 01-4-1c0-1 2 0 2-3 1-2 2 3 2 4z' fill='#ff0')
  g
    g(transform='translate(15 -232)')
      rect(width='6.8' height='21.8' x='34.2' y='212.2' ry='0' fill='red')
      path(d='M34 224v3l7 7v-3zM34 218v4l7 6v-3zM34 212v4l7 7v-4z' fill='#00f')
    path(d='M57-24a4 4 0 01-8 0c0-2 4-2 4-7s4 5 4 7z' fill='#f60')
    path(d='M55-24a2 2 0 01-4 0c0-1 2-1 2-3 1-2 2 2 2 3z' fill='#ff0')
  g(transform='translate(-10 -237)' fill='#ff0')
    rect(transform='rotate(39)' ry='1.2' y='199.6' x='185.8' height='6.3' width='2.4')
    rect(width='2.4' height='6.3' x='-141.5' y='236.8' ry='1.2' transform='rotate(-36)')
    rect(transform='rotate(-72)' ry='1.2' y='185.1' x='-231.3' height='6.3' width='2.4')
    rect(width='2.4' height='6.3' x='220' y='190.4' ry='1.2' transform='rotate(30)')
    rect(transform='rotate(46)' ry='1.2' y='128.8' x='257.6' height='6.3' width='2.4')
    rect(width='2.4' height='6.3' x='-186.3' y='216.6' ry='1.2' transform='rotate(-56)')
    rect(transform='rotate(30)' ry='1.2' y='212.4' x='178.7' height='6.3' width='2.4')
    rect(width='2.4' height='6.3' x='-191.8' y='199.2' ry='1.2' transform='rotate(-51)')
    rect(transform='rotate(77)' ry='1.2' y='-7.4' x='284.7' height='6.3' width='2.4')
    rect(width='2.4' height='6.3' x='-218.9' y='174.7' ry='1.2' transform='rotate(-63)')
