input#read(type="checkbox")
label(for="read") Read Card
.scene
  .card
    .card__sleeve.sleeve
      .sleeve__section.sleeve__section--front.card__sleeve-front 1f
      .sleeve__section.sleeve__section--back.card__sleeve-back 1r
    .card__content
      .card__content-front 2f
      .card__content-back 2r