*
  box-sizing border-box

body
  display flex
  align-items center
  justify-content center
  min-height 100vh

.wrapper
  background dodgerblue

h1
  contain layout inline-size
  white-space nowrap
  display inline-block

@container(min-width: 100px)
  span
    background blue