@import url('https://fonts.googleapis.com/css?family=Sigmar+One')

*
*:after
*:before
  box-sizing border-box

body
  align-items center
  cursor pointer
  display flex
  font-family 'Sigmar One', cursive
  justify-content center
  min-height 100vh

.toggle
  animation scribble .2s infinite
  height 260px
  position relative
  width 320px
  z-index 2
  opacity .65

  &__head
    height 200px
    border 12px solid black
    background white
    border-radius 207px 170px 221px 179px/117px 115px 110px 160px
    position absolute
    bottom 3px
    left 1px
    width 312px
    z-index 2

  &__ear
    &--left
      border 12px solid black
      position absolute
      top 15px
      left 2px
      height 129px
      width 110px
      border-radius 66px 54px 23px 82px/54px 59px 21px 76px

    &--right
      border 12px solid black
      position absolute
      top 5px
      right 25px
      height 129px
      width 103px
      border-radius 40px 65px 50px 50px/42px 59px 50px 50px

    &--clone
      border 12px solid transparent
      z-index 3
      background white
      transform scale(.79)

  &__face
    position absolute
    height 100%
    width 100%
    z-index 4
    transform translate(10px, 60px)
    transition transform .25s ease

  &__mouth
    height 12px
    width 12px
    background black
    border-radius 100%
    position absolute
    top 114px
    left 189px


    &:before
      content ''
      position absolute
      left -57px
      top -55px
      height 86px
      width 69px
      border 12px solid black
      border-radius 0 0 31px 36px / 0 0 18px 25px
      $clip = polygon(0 100%, 100% 100%, 100% 61px, 17px 57px, 0 63px)
      clip-path $clip
      -webkit-clip-path $clip

    &:after
      content ''
      height 12px
      width 12px
      border-radius 100%
      position absolute
      top 1px
      background black
      left -56px

  &__eye
    border-radius 10px 15px 10px 20px/16px 28px 14px 27px
    height 45px
    width 30px
    background black
    position absolute

    &--left
      left 47px
      top 60px

    &--right
      left 228px
      top 44px

  &__label
    font-size 4rem
    line-height 4.25rem
    left 105%
    position absolute
    top 40%

    &:after
      content ''
      width 100%
      height 4.25rem
      background #ffffff
      position absolute
      bottom 0
      left 0
      transition transform .25s ease

  &__scribble
    height 40px
    width 181px
    background transparent
    position absolute
    top 85px
    left 72px
    z-index 3
    transform rotate(3deg)
    transition background .25s ease
    opacity .5

    &:after
      content ''
      height 40px
      background transparent
      position absolute
      width 160px
      top 0px
      right -4px
      transform-origin right
      transform skew(-10deg, 0) rotate(-18deg)
      transition background .25s ease

    &:before
      content ''
      height 40px
      width 120px
      top 50px
      left 24px
      background transparent
      transform-origin left
      position absolute
      transform skew(23deg, 0) rotate(13deg)
      transition background .25s ease

input
  cursor pointer
  position fixed
  top 0
  left 0
  height 100vh
  width 100vw
  opacity 0
  z-index 3

  &:checked ~ .toggle .toggle__face
    transform translate(0, 0)

  &:checked ~ .toggle .toggle__label:after
    transform translate(0, -100%)

  &:checked ~ .toggle .toggle__scribble
  &:checked ~ .toggle .toggle__scribble:after
  &:checked ~ .toggle .toggle__scribble:before
    background #2ecc71

img
  position fixed
  top 50%
  left 50%
  width 320px
  transform translate(-50%, -50%)

svg
  display none

@keyframes scribble
  0%
    filter url('#scribble--0')
    -webkit-filter url('#scribble--0')
  25%
    filter url('#scribble--1')
    -webkit-filter url('#scribble--1')
  50%
    filter url('#scribble--2')
    -webkit-filter url('#scribble--2')
  75%
    filter url('#scribble--3')
    -webkit-filter url('#scribble--3')
  100%
    filter url('#scribble--4')
    -webkit-filter url('#scribble--4')

