*
  box-sizing border-box

:root
  --green-one hsl(130, 64%, 76%)
  --green-two hsl(136, 53%, 51%)
  --green-three hsl(136, 54%, 41%)
  --green-four hsl(139, 54%, 28%)
  --grey hsl(216, 14%, 93%)
  --shirt var(--green-one)
  --shirt-shade var(--green-two)
  --skin hsl(0, 20%, 90%)
  --skin-shade hsl(0, 20%, 70%)
  --stroke hsl(0, 0%, 20%)
  --laptop hsl(0, 0%, 78%)
  --laptop-main hsl(60, 1%, 30%)
  --laptop-shade hsla(240, 1%, 23%, 0.5)
  --laptop-badge hsl(0, 0%, 100%)
  --beard hsl(30, 50%, 50%)
  --beard hsl(30, 80%, 38%)
  --beard-light hsl(30, 50%, 70%)
  --beard-light hsl(30, 80%, 58%)
  --eyes var(--stroke)
  --strap hsl(0, 50%, 50%)
  --strap var(--green-four)
  --cheeks hsl(0, 50%, 75%)
  --cap hsl(0, 0%, 25%)
  --sparks hsla(60, 100%, 80%, 0.85)
  --bulb hsla(60, 100%, 80%, 0.85)
  --filament hsl(0, 0%, 0%)
  --screw hsl(0, 0%, 80%)
  --bg hsl(216, 14%, 50%)
  // Night Owl Colors
  --owl-1 hsl(50, 98%, 78%)
  --owl-2 hsl(76, 68%, 67%)
  --owl-3 hsl(14, 91%, 69%)
  --owl-4 hsl(175, 42%, 65%)
  --owl-5 hsl(275, 70%, 75%)


body
  display flex
  align-items center
  justify-content center
  min-height 100vh
  background var(--bg)

.vvg
  height 50vmin
  overflow visible !important

  &__code-block
    fill var(--block-color, var(--owl-1))

  &__bulb
    &-bulb
      fill var(--bulb)
    &-dashes
      stroke var(--sparks)
      stroke-width 4px
    &-filament
      stroke var(--filament)
    &-screw
      fill var(--screw)

  &__cheeks
    fill var(--cheeks)

  &__cap
    &-body
      fill var(--cap)
    &-strap
      fill var(--strap)
    &-notch
      fill var(--stroke)

  &-stroke
    stroke var(--stroke)
    stroke-width 2px

  &__eyes
    fill var(--eyes)
    stroke var(--eyes)

  &-hair
    fill var(--beard)

    &--light
      fill var(--beard-light)


  &__shirt
    fill var(--shirt)

    &--shade
      fill var(--shirt-shade)

  &-skin
    fill var(--skin)
    &--shade
      fill var(--skin-shade)

  &__laptop
    &-badge
      fill var(--laptop-badge)
    &-shell
      fill var(--laptop)

      &--main
        fill var(--laptop-main)

      &--shade
        fill var(--laptop-shade)


label
  height 44px
  width 44px
  position fixed
  bottom 1rem
  right 1rem
  cursor pointer

  & > svg
    position absolute
    height 100%
    width 100%
    top 0
    left 0

  path
    fill hsl(216, 14%, 30%)

  svg:nth-of-type(1)
    display none

[type='checkbox']
  // opacity 0
  height 0
  width 0

:checked ~ label
  svg:nth-of-type(1)
    display block
  svg:nth-of-type(2)
    display none