*
  box-sizing border-box

body
  min-height 100vh
  display flex
  align-items center
  justify-content center

svg
  height 50vmin


#rainbowBlock
  animation scale 0.75s infinite linear

@keyframes scale
  to
    transform translate(0, -480px)