- const glitches = ['This is cool', 'Got 3 minutes?', 'Glitchy Text Reveal!']

.container
  - const glitchCount = glitches.length
  - let g = 0
  while g < glitchCount
    .page
      p= glitches[g]
      p(aria-hidden='true' data-scroll='out', data-splitting='', class=`reveal--${g}`)= glitches[g]
      - g++