extends ../../boilerplate/layout.boilerplate.pug
block content
  include dev.pug
  script(src='https://unpkg.com/splitting/dist/splitting.js')
  script(src='https://unpkg.com/scroll-out/dist/scroll-out.min.js')