.container
  .t-shirt__container
    svg.t-shirt(viewBox="0 0 440 360" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M5.6545 116.193L111.549 4H162.242C163.583 13.6241 170.379 21.7997 179.708 27.5871C190.208 34.1014 204.464 38 220 38C235.536 38 249.792 34.1014 260.292 27.5871C269.621 21.7997 276.417 13.6241 277.758 4H327.998L433.892 116.193L366.987 179.341L332.909 143.236C331.784 142.044 330.046 141.659 328.523 142.265C327 142.87 326 144.343 326 145.982V356H114V145.501C114 143.862 113 142.389 111.477 141.784C109.954 141.179 108.216 141.564 107.091 142.756L72.5592 179.341L5.6545 116.193Z" fill="#C4C4C4" stroke="black" stroke-width="8" stroke-linejoin="round")
    .t-shirt__badge
  .arrow