

*
  box-sizing border-box
  animation  fadeIn .5s

body
  background-color #e74c3c
  color            #fafafa
  text-align       center
  perspective      500px

::-webkit-scrollbar
  display none

@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1

.scrolled
  text-align justify

  &__content
    margin 400px 0 400px

  &__container
    transform translateZ(50px) rotateX(-50deg)
    overflow-y auto
    max-width 50vw
    margin 0 auto
    height 400px
    transform-style preserve-3d
