*
  box-sizing border-box

body
  min-height 100vh
  display flex
  align-items center
  justify-content center
  background hsl(195, 50%, 50%)

.eggo
  height 50vmin


#shimmer
  animation shimmer 2s infinite

@keyframes shimmer
  from
    transform translate(175px, 0)
  to
    transform translate(-75px, 0)