.frame
  //- img(src="https://assets.codepen.io/605876/ToyFace--Artist.png?width=1920&format=auto")
  img(src="https://assets.codepen.io/605876/ToyFace--ArtistHeadshot_1.png?width=1920&format=auto")
  h1 Artist