extends ../../boilerplate/layout.boilerplate.pug
block content
  include dev.pug
  script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js")
  script(src="https://unpkg.com/legra?browser")
