.cube__wrapper
  .cube
    .cube__panel-wrap.cube__panel-wrap--top
      .cube__panel.cube__panel--top
    .cube__panel-wrap.cube__panel-wrap--right
      .cube__panel.cube__panel--right
    .cube__panel-wrap.cube__panel-wrap--left
      .cube__panel.cube__panel--left
    .cube__panel-wrap.cube__panel-wrap--top
      .cube__panel.cube__panel--fake
.cube__wrapper
  .cube
    .cube__panel-wrap.cube__panel-wrap--top
      .cube__panel.cube__panel--top
    .cube__panel-wrap.cube__panel-wrap--right
      .cube__panel.cube__panel--right