@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah')

*
  box-sizing border-box

html
body
  font-family 'Gloria Hallelujah', cursive
  height 100vh
  width 100vw
  display flex
  align-items center
  justify-content center
  background #fafafa
  transition background .5s ease 0s

  &.hidden
    background dodgerblue
