extends ../../boilerplate/layout.boilerplate.pug
block content
  include dev.pug
  script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.1/pixi.min.js")
  script(src="https://unpkg.com/pixi-filters@2.6.1/dist/pixi-filters.js")
