@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah')

*
  box-sizing border-box

body
  background #7ec0ee
  margin 0
  padding 0
  height 100vh
  width 100vw
  overflow hidden
  display flex
  align-items center
  justify-content center

.loading-title
  font-size 3rem
  font-family 'Gloria Hallelujah', cursive
  font-weight bold
  color #fafafa