svg(class="bear" viewBox='0 0 284.946 359.737')
  g(transform='translate(-42.557 -974.222) scale(1.23353)')
    path.bear__fur(d='M263.91 1081.415a113.968 96.863 0 00-113.919-95.7 113.968 96.863 0 00-113.9 95.7h227.818z')
    path.bear__fur(d='M250.428 903.362c0 66.271-44.754 114.995-102.428 114.995s-98.428-48.724-98.428-114.995c0-66.27 40.754-92.994 98.428-92.994s102.428 26.723 102.428 92.994z')
    path(d='M217 972.862c0 21.54-30.445 42-68 42s-66-20.46-66-42c0-21.539 28.445-36 66-36s68 14.461 68 36z' fill='#e9c6af')
    path(d='M181.5 944.362c0 8.284-20.6 26.5-32.75 26.5-12.15 0-34.75-18.216-34.75-26.5 0-8.284 22.6-13.5 34.75-13.5 12.15 0 32.75 5.216 32.75 13.5z')
    ellipse.bear__fur(cx='69' cy='823.073' rx='34.5' ry='33.289')
    path(d='M69 799.673a24.25 23.4 0 00-24.25 23.4 24.25 23.4 0 0019.97 23.01c.277-.407.505-.868.788-1.268a71.11 71.11 0 0111.65-12.802 73.691 73.691 0 016.856-5.227 79.249 79.249 0 017.498-4.469c.54-.283 1.133-.5 1.681-.773A24.25 23.4 0 0069 799.673z' fill='#e9c6af')
    g(transform='matrix(-1 0 0 1 300 0)')
      ellipse.bear__fur(ry='33.289' rx='34.5' cy='823.073' cx='69')
      path(d='M69 799.673a24.25 23.4 0 00-24.25 23.4 24.25 23.4 0 0019.97 23.01c.277-.407.505-.868.788-1.268a71.11 71.11 0 0111.65-12.802 73.691 73.691 0 016.856-5.227 79.249 79.249 0 017.498-4.469c.54-.283 1.133-.5 1.681-.773A24.25 23.4 0 0069 799.673z' fill='#e9c6af')
    ellipse(ry='9.679' rx='9.27' cy='900.389' cx='105.831')
    ellipse(cx='186.899' cy='900.389' rx='9.27' ry='9.679')
    path.bear__brows(d='M92.058 865.461l39.427 22.763M202.825 865.461l-39.427 22.763' fill='none' stroke='#000' stroke-width='4.864' stroke-linecap='round' stroke-linejoin='round')
