.pie
  .pie__segment(data-value='45', style='--start: 30')
  .pie__segment(data-value='75', style='--start: 75')
  .pie__segment(data-value='30', style='--start: 150')
  .pie__segment(data-value='130', style='--start: 180')
  .pie__segment(data-value='80', style='--start: 310')
.pie
  .pie__segment(data-value='155', style='--start: 40')
  .pie__segment(data-value='45', style='--start: 195')
  .pie__segment(data-value='60', style='--start: 240')
  .pie__segment(data-value='100', style='--start: 300')
.pie
  .pie__segment(data-value='65', style='--start: 15')
  .pie__segment(data-value='100', style='--start: 80')
  .pie__segment(data-value='75', style='--start: 180')
  .pie__segment(data-value='30', style='--start: 255')
  .pie__segment(data-value='90', style='--start: 285')