*
  box-sizing border-box
body
  background-color hsl(0, 70%, 65%)
  min-height 100vh
  display flex
  align-items center
  justify-content center

// .corgo
//   height 50vmin

// .rainbow-lines
//   animation glisten 1s infinite linear

// .eyes
//   transform-origin 50% 55%
//   animation blink 4s infinite linear

// .tongue
//   animation wag 0.2s infinite linear

// .shades
//   transform-origin 50% 50%
//   animation drop 0.5s 2s both ease-out

// @keyframes drop
//   from
//     transform scale(0) translate(0, -150%)

// @keyframes wag
//   0%, 100%
//     transform translate(0, -2px)
//   50%
//     transform translate(0, 0)

// @keyframes blink
//   0%, 24%, 26%, 100%
//     transform scaleY(1)
//   25%
//     transform scaleY(0)

// @keyframes glisten
//   to
//     transform translate(0, 460px)
