.mr-greedy
  .mr-greedy__eye.mr-greedy__eye--left
  .mr-greedy__eye.mr-greedy__eye--right
  .mr-greedy__mouth
  .mr-greedy__hand.mr-greedy__hand--left
    .mr-greedy__finger
    .mr-greedy__finger
    .mr-greedy__finger
  .mr-greedy__hand.mr-greedy__hand--right
    .mr-greedy__finger
    .mr-greedy__finger
    .mr-greedy__finger
    .mr-greedy__finger
  .mr-greedy__leg.mr-greedy__leg--left
    .mr-greedy__foot
  .mr-greedy__leg.mr-greedy__leg--right
    .mr-greedy__foot
  include greedy-bod.svg