.zoomer
  img.zoomer__img
  .zoomer__viewfinder
    svg.magnifying-glass.zoomer__magnifying-glass(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 245 328')
      g(stroke-linecap='round' stroke-linejoin='round' transform='rotate(-30 57 -316)')
        rect.magnifying-glass__handle(width='11.3' height='98.1' x='-115' y='186' ry='.6' stroke-width='5.3')
        rect.magnifying-glass__grip(width='27.8' height='113' x='-123' y='211' ry='9.1' stroke-width='5.3')
        g.magnifying-glass__lens(transform='rotate(-60 -154 104)')
          circle.magnifying-glass__glass(r='94.3' cx='-113' cy='132.6' stroke-width='4.5')
          path.magnifying-glass__frame(d='M-113 22a110 110 0 00-110 111 110 110 0 00110 110A110 110 0 00-3 133 110 110 0 00-113 22zm0 16a94 94 0 0194 95 94 94 0 01-94 94 94 94 0 01-94-94 94 94 0 0194-95z' stroke-width='5.3')
        path.magnifying-glass__shine(d='M-72 20a74 74 0 0132 90M-55 134a74 74 0 01-5 4' stroke-width='13.2')
    .zoomer__viewfinder-image-wrapper
      img.zoomer__viewfinder-img
h1 :hover