*
  box-sizing border-box

body
  align-items center
  background linear-gradient(45deg, #4daf7c, #1ba39c)
  display flex
  justify-content center
  min-height 100vh

.jellyfish
  height 150px
  transform-origin top

  @media(min-width 768px)
    height 150px

  &__jelly
    transform-origin bottom