*
  box-sizing border-box

:root
  --bg hsl(230, 34%, 24%)

body
  background linear-gradient(hsl(205, 80%, 70%) 0 55%, hsl(90, 40%, 45%) 55.5%)
  color hsl(0, 0%, 100%)
  font-family sans-serif
  font-weight bold
  min-height 100vh
  display grid
  place-items center


h1
  color 'hsl(%s, 80%, 50%)' % var(--hue, 100)
  font-size 10vmin

.domo
  height 30vmin
  overflow visible !important