*
  box-sizing border-box

body
  background #fafafa
  display flex
  margin 0
  min-height 100vh
  padding 0

#app
  align-items center
  display grid
  grid-gap 1rem
  grid-template-columns repeat(auto-fit, minmax(auto, 150px))
  justify-content center
  justify-items center
  width 100%
