svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 57.951 23.61')
  path(d='M26.774 12.209C22.48 8.472 20.391.132 14.698.132 7.862.132-.695 7.856.197 14.633c.761 5.78 9.367 9.507 15.148 8.746C25.618 22.026 27.053 2.75 37.325 1.398c7.82-1.03 20.493 3.944 20.493 11.831 0 6.475-10.36 10.11-16.822 9.713-5.928-.365-9.741-6.835-14.222-10.733z' fill='none')
