svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 65.305 27.887')
  path(d='M13.943.714C6.637.714.714 6.637.714 13.944c0 7.306 5.923 13.229 13.23 13.229 7.306 0 18.708-13.23 18.708-13.23S21.25.714 13.943.714zm18.71 13.23S44.054 27.172 51.36 27.172c7.307 0 13.23-5.923 13.23-13.23C64.59 6.637 58.668.714 51.36.714c-7.306 0-18.709 13.23-18.709 13.23z' fill='none' stroke-linecap='round' stroke-linejoin='round')
