@import url('https://fonts.googleapis.com/css?family=Lato&display=swap')

*
  box-sizing border-box

body
  background hsl(0, 0%, 5%)
  min-height 100vh
  display flex
  align-items center
  justify-content center
  font-family 'Lato', sans-serif

.container
  height 60vmin
  position relative
  width 60vmin

.char
  --delay calc(((var(--char-total) - var(--char-index))) - var(--word-index))
  offset-path path(var(--path))
  animation travel 6s calc((var(--delay) * (0.15)) * -1s) infinite linear both
  offset-rotate auto 180deg
  position absolute !important
  font-size 4vmin
  font-weight bold
  top 0%
  left 0%
  transform translate(0, -0.5vmin)
  color hsl(0, 0%, 95%)

svg
  height 100%
  width 100%

path
  stroke 'hsla(%s, 100%, 50%, 0.25)' % var(--hue, 0)
  stroke-width 0.25px

.gradient
  height 0
  width 0

@keyframes travel
  from
    offset-distance 0%
  to
    offset-distance 100%