.instructions
  h1 Block yo self!
  h2 Drag and drop or <button class="image-selector">select</button> an image to start
  i 1:1 aspect ratio with background removed for best results (<a href="https://remove.bg" target="_blank" rel="noreferrer noopener">remove.bg</a>)
.screenshot
  .wrapper
    .scene
      .block-head
        .block-head__side
          img.block-head__img
        .block-head__side
          img.block-head__img
        .block-head__side
          img.block-head__img
        .block-head__side
          img.block-head__img
        .block-head__side
        .block-head__side
          img.block-head__img