h1 404
.cloak__container
  .cloak
.info
  h2 We can't find that page
  p.
    We're fairly sure that page used to be here, but seems to have gone missing. We do apologise on it's behalf.
  a(href="https://jhey.dev" target="_blank" rel="noreferrer noopener") Home