:root {
  --pos: 0
}


body {
  color: #ffffff;
  height: 2000px;
  background: rgba(12,125,124,var(--pos));
}

h1 {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  line-height: 36px;
  font-size: 36px;
  transform: translateY(-50%);
  text-align: center;
  font-family: 'sans-serif';
}