form
  input#on(type="radio" name="status" value="on")
  label(for="on") On
  input#off(type="radio" name="status" value="off")
  label(for="off") Off
  .backdrop
  .lamp
    .lamp__top
    .lamp__base
    .lamp__light