img(src='https://res.cloudinary.com/dg3gyk0gu/image/upload/v1566948117/transcript-images/Eggo_Notext.png')
.egg
  .egg__specs-arm
  .egg__shell
  .egg__specs
    .egg__spec-left
    .egg__spec-bridge
    .egg__spec-right