extends ../../boilerplate/layout.boilerplate.pug
block content
  include dev.pug
  script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.min.js')
  script(src='http://threejs.org/examples/js/controls/OrbitControls.js')
  script(src='http://threejs.org/examples/js/controls/DragControls.js')