@import url('https://fonts.googleapis.com/css?family=Lato:400,700')
*
  box-sizing border-box

:root
  --scroll 0
  --content 0

html
body
  padding 0
  margin 0
  font-family 'Lato', sans-serif
  font-size 16px

  &:after
    content ''
    height 4px
    background red
    position fixed
    top 0
    left 0
    width calc((var(--content)) * 1%)


// Title
$titleSize = 3rem
$dateSize = 0.85rem
$subtitleSize = 1.2rem

getFont($f, $m)
  "calc((%s + (((%s * %s) - %s)) - ((((%s * %s) - %s)) * (var(--scroll) / 75))) * 1rem)" % ($f $f $m $f $f $m $f)

$title = 2
$titleFont = getFont($title, 2)
$sub = 1.2
$subFont = getFont($sub, 2)
$date = 0.65
$dateFont = getFont($date, 1.5)

h1
  color red
  font-size $titleFont
  top 50vh

// Subtitle
h2
  color red
  font-size $subFont
  top "calc(50vh + %s)" % $titleFont

// Date and author
body > p:nth-of-type(1)
  color red
  font-size $dateFont
  top "calc(50vh + %s + %s)" % ($titleFont $subFont)

h1
h2
body > p:nth-of-type(1)
  position fixed
  margin 0
  z-index 3
  left 50%
  min-width 45vw
  width calc((100 - var(--scroll)) * 1vw)
  text-align center
  $calc = "calc(((var(--scroll) / 75) * 22.5vh) + ((var(--scroll) / 75) * %s))" % $titleFont
  transform translate(calc(((var(--scroll) / 75) * -45vw)), $calc) translate(calc((((75 - var(--scroll)) / 75)) * -50%), -50%)


img
  width 100vw
  min-height 25vh
  height calc((100 - var(--scroll)) * 1vh)
  object-fit cover
  z-index 1

  @media(min-width 768px)
    min-height 45vh
    min-width 45vw
    width calc((100 - var(--scroll)) * 1vw)

p:nth-of-type(2)
  position fixed
  top 0
  left 0
  padding 0
  margin 0

  @media(min-width 768px)
    width calc((100 - var(--scroll)) * 1vw)
    min-width 45vw
    min-height 45vh
    transform translate(calc((var(--scroll) / 75) * 5vw), calc((var(--scroll) / 75) * 50vh)) translate(0, calc((var(--scroll) / 75) * -50%))


p:nth-of-type(2):before
p:nth-of-type(2):after
  @media(min-width 768px)
    opacity calc(1 - ((var(--scroll) / 75) * 1))

p:nth-of-type(2):before
  content ''
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  background linear-gradient(0deg, white, rgba(255, 255, 255, 0.5))
  z-index 2
p:nth-of-type(2):after
  content ''
  height 10vh
  width 100vw
  background linear-gradient(0deg, transparent, white)
  position absolute
  top 100%
  left 0
  z-index 2

  @media(min-width 768px)
    display none

p:nth-of-type(3)
  margin-top 120vh

body > p:last-of-type
  margin-bottom 20vh

body > p
body > strong
body > blockquote
body > h3
body > ul
body > ol
  margin-left 55vw
  margin-right 5vw

h3
  font-weight bolder

ul ol
  margin-left 15px

ul
ol
  padding-left 18px

ul li
ol li
  margin 0
  padding 0 0 14px 15px
ol
  margin-top 15px