/**
  * Badges
  *
  * Used for following badge and PRO badges
*/
.badge
  font-family    "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif
  font-size      70%
  font-weight    700
  text-transform uppercase
  padding        1px 3px 1px 3px
  color          black !important
  border-radius  3px
  position       relative
  top            -2px
  text-shadow    none !important
  white-space    nowrap

.single-pen .badge
  top       0
  left      -3px
  font-size 80%

.badge-pro
  background #fcd000

.badge-hire
  background #76daff

.badge-new
.badge-draft
  background #47CF73

.badge-follows
  background #555
