/**
  * Footer
  *
  * Basic footer link styles
*/
.link-footer
  background #111
  padding    40px 0 60px
  position   relative

  nav
    margin 0 0 8px 0

  strong
    color        white
    margin-right 20px

  a
    color        #959595
    margin-right 10px


  @media (max-width 550px)
    font-size 125%

    .link-footer-links
      margin 0 0 40px 0

      a
      strong
        display block
        padding 5px
