header.main-header
header#profile-header.profile-header.group
  .profile-header-content
    #profile-name.profile-name
      h1#profile-name-header
        | Username
        span#profile-badges.profile-badges
          a#profile-badge-pro.badge.badge-pro PRO
      #profile-username-area.profile-username-area
        span#profile-username.profile-username @username
        span#profile-badge-follows.badge.badge-follows Follows You
#links-and-stats.links-and-stats
  #profile-follow.profile-follow
    a#profile-followers.follow-block
      strong#followers-count 999
      span Followers
    a#profile-following.follow-block
      strong#following-count 999
      span Following
    a#follow-this-user.button.mini-button.button-outline.follow-user-button Follow
  img#profile-image.profile-avatar
  #profile-links.profile-links
    a Link 1
    a Link 2
    a Link 3
    a.button.button-outline.mini-button Hire Me
