nav.explore-tabs.profile-nav.profile-nav-1
  .width-wrapper
    a.active Link 1
    for link in ['Link 2', 'Link 3']
      a= link
nav.explore-tabs.profile-nav.profile-nav-2
  a.active Link 1
  for link in ['Link 2', 'Link 3', 'Link 4']
    a= link
