.promo-footer {
    clear: both;
    background: #28282B;
    padding: 40px 0;
    font-size: 0.9rem
}

.promo-footer p {
    color: #959595
}

@media (max-width: 550px) {
    .promo-footer {
        padding:20px 0
    }

    .promo-footer .footer-chunk:not(:last-child) {
        margin-bottom: 40px
    }

    .promo-footer .width-wrapper {
        padding: 0 20px
    }
}
