/**
  * Promo footer
  *
  * Basic styling for how to go PRO etc.
*/

.promo-footer
  clear      both
  background #28282B
  padding    40px 0
  font-size  0.9rem

  p
    color #959595

  @media (max-width 550px)
    padding 20px 0

    .footer-chunk:not(:last-child)
      margin-bottom 40px
    
    .width-wrapper
      padding 0 20px
