@import 'header.styl'
@import 'button.styl'
@import 'badge.styl'
@import 'footer.styl'
@import 'nav.styl'
@import 'promo.styl'
@import 'pen.styl'
@import 'base.styl'

.group:before,.group:after {
    content: "";
    display: table
}

.group:after {
    clear: both
}

.width-wrapper
  max-width 1200px
  margin    0 auto
  position  relative
  padding   0 20px

  @media(max-width 550px)
    padding 0 10px


.profile-location-and-bio {
    text-align: center;
    padding: 10px 0 20px 0
}

.profile-location {
    color: #9A9A9C;
    margin: 0 0 10px 0
}

.profile-bio {
    color: #F0F0F1;
    font-size: 1.2rem
}
