input.bounce(type='checkbox')
input.command(autofocus, pattern=".*sweep", id='controls', type='search', placeholder='Type to command')
label.left(for='controls')
label.right(for='controls')
label.broom-container(for='controls')
  .broom
    .broom__handle
    .broom__brush
      .broom__bristles
        .broom__bristles-wrap
          .broom__bristle
      .broom__bristles.broom__bristles--left
        .broom__bristles-wrap
          .broom__bristle