input(autofocus, pattern=".*sweep", id='controls', type='search', placeholder='Type to command')
label.left(for='controls')
label.right(for='controls')
label.broom-container(for='controls')
  .broom
    .broom__handle
    .broom__brush
      .broom__bristles
        .broom-bristle__wrap
          .broom-bristle
      .broom__bristles.broom__bristles--left
        .broom-bristle__wrap
          .broom-bristle