*
  box-sizing border-box

// Escape the slash so Stylus doesn't do Math
$sweep-radius = 0 50% 35% 0 \/ 0 50% 15% 0
$running-radius = 0 80% 20% 100% \/ 0 50% 0% 150%
$walking-radius = 0 50% 35% 40% \/ 0 50% 0% 40%

:root
  --bristle-color yellow
  --bristle-band red
  --bg #111
  --transition .1

body
  align-items center
  background #111
  display flex
  justify-content center
  min-height 100vh

/**
* If the input is valid, make the broom sweep
* But also hide the curved out bristles by rotating the whiskers back
*/
.bounce:checked ~ .command:valid ~ .broom-container .broom
  --speed 0
  --sweep 1
  --bristle-radius $sweep-radius
  --bristle-after-x -100
  --bristle-after-rotation 45
  --bristle-before-scale 0
  --bristle-before-rotation 15
  --bristle-scale 1

.command:valid:not(:focus) ~ .broom-container .broom
  --sweep 0

/**
* This is the default state as the placeholder is shown.
* As soon as we start tapping keys, let's up the pace and make the broom
* pointy toed
*/
.bounce:checked ~ .command:placeholder-shown ~ .broom-container .broom
  --sweep 0
  --speed 1
  --rotation 2
  --scale-end 0.95
  --bristle-radius $walking-radius
  --bristle-scale 1
  --bristle-after-x 0
  --bristle-after-rotation 15
  --bristle-before-scale 1
  --bristle-before-rotation 20

.bounce:checked ~ .broom-container .broom
  --bristle-radius $running-radius
  --bristle-scale 1.15
  --speed .5
  --rotation 4
  --scale-end 0.85
  --bristle-after-x 0
  --bristle-after-rotation 15
  --bristle-before-scale 1
  --bristle-before-rotation 20

.broom
  --bristle-radius $sweep-radius
  --speed 0
  --bristle-after-x -100
  --bristle-after-rotation 15
  --bristle-before-scale 0
  --bristle-before-rotation 20
  animation sweep calc(var(--sweep) * 1s) infinite ease
  height 100%
  transform-origin 50% 10%
  transition transform calc(var(--transition) * 1s) ease
  width 100%
  z-index 2

  &__handle
    position absolute
    top 0
    left 50%
    height 65%
    background linear-gradient(90deg, brown, yellow)
    width 8%
    transform translate(-50%, 0)
    transform-origin bottom center
    border-radius 50% 50% 0 0 / 5% 5% 0 0
    animation-duration calc(var(--speed) * 1s)
    animation-iteration-count infinite
    animation-name shake
    animation-timing-function ease

    &:before
      background var(--bristle-band)
      bottom 0
      content ''
      height 5%
      left 50%
      position absolute
      transform translate(-50%, 0)
      width 250%
      z-index 2

    &:after
      $clip = polygon(0 0, 100% 0, 85% 100%, 15% 100%)
      -webkit-clip-path $clip
      background var(--bristle-color)
      bottom 5%
      clip-path $clip
      content ''
      height 5%
      left 50%
      position absolute
      transform translate(-50%, 0)
      width 300%
      z-index 2

  &__brush
    bottom 0
    height 35%
    left 0
    overflow hidden
    position absolute
    width 100%

  &__bristles
    height 100%
    left 49%
    overflow hidden
    position absolute
    top 0
    width 50%

    &--left
      transform-origin left center
      transform rotateY(180deg) translate(-3%, 0)

      .broom__bristles-wrap
        animation-delay calc(var(--speed) * -0.5s)

  &__bristles-wrap
    animation-duration calc(var(--speed) * 1s)
    animation-iteration-count infinite
    animation-name waddle
    animation-timing-function ease
    height 100%
    left 0
    overflow hidden
    position absolute
    top 0
    transform-origin top left
    width 100%

  &__bristle
    background var(--bristle-color)
    border-radius var(--bristle-radius)
    height 100%
    left 0
    position absolute
    top 0
    transform scaleX(var(--bristle-scale))
    transition border-radius calc(var(--transition) * 1s) ease, transform calc(var(--transition) * 1s) ease
    width 40%

    &:after
      bottom -2%
      border-radius 100%
      box-shadow 0 -15px 0px 0px var(--bristle-color) inset
      content ''
      height 40%
      left 45%
      position absolute
      transform translate(calc(var(--bristle-after-x) * 1%), 0) rotate(calc(var(--bristle-after-rotation) * 1deg))
      transition transform calc(var(--transition) * 1s) ease
      width 100%
      z-index 2

    &:before
      border-radius 100%
      bottom 12%
      box-shadow 0 -5px 0 0 var(--bristle-color) inset
      content ''
      height 20%
      left 95%
      position absolute
      transform scale(var(--bristle-before-scale)) rotate(calc(var(--bristle-before-rotation) * 1deg))
      transition transform calc(var(--transition) * 1s) ease
      width 50%

// Container element for the broom
.broom-container
  display block
  height 250px
  position relative
  transform translate(calc(var(--x, 0) * 1%), calc(var(--y, 0) * 1%))
  transition transform calc(var(--transition) * 1s) ease
  width 150px
  z-index 5


@keyframes waddle
  0%, 100%
    transform scaleY(1)
  50%
    transform scaleY(var(--scale-end)) rotate(calc(var(--rotation) * 1deg))

@keyframes shake
  0%, 100%
    transform translate(-50%, 0) rotate(calc(var(--rotation) * -1deg))
  50%
    transform translate(-50%, 0) rotate(calc(var(--rotation) * 1deg))

@keyframes sweep
  0%, 5%, 95%, 100%
    transform rotate(15deg)
  45%, 50%, 55%
    transform rotate(-15deg)

// TODO: Drop-filter hover positioning LEFT CENTER RIGHT refactor to CSS vars, one animation etc.

// .left
//   height 100vh
//   width 50vw
//   position absolute
//   left 0
//   top 0
//   z-index 3
//   opacity .15

// &:hover
//   z-index 999
//   & ~ .broom-container
//     opacity .5
//     --x -200
//   opacity .8