#app
  .keys
    h1(v-if='!keyed.length') Start smashing those keys!
    key(:value='keyed[0].key.trim() === "" ? keyed[0].code : keyed[0].key', :code='keyed[0].which', :event='keyed[0].type', v-if='keyed.length')
    .keys__backlog(v-if='showLog')
      key(v-for='e in keyed.slice(1)', :value='e.key.trim() === "" ? e.code : e.key', :code='e.which', :event='e.type', v-if='keyed.length > 1')
  .filters
    keyfilter(v-for='(value, key) in typeFilters', :label='key', :active='value', :toggle='toggleFilter', type='type')
    keyfilter(v-for='(value, key) in valueFilters', :label='key', :active='value', :toggle='toggleFilter', type='value')
    keyfilter(label='show log', :active='showLog', :toggle='toggleLog')
    button(@click='clear') Clear