h1 Time Doctor
h2 Sprinkle some manipulation on your animations ✨

pre
	code.
		&lt;div data-time-doctor="[slide, rotate]"&gt;Whoah!&lt;div&gt;

article
	section
		.box
	section
		.box(data-time-doctor="scale, slide, rotate")

footer
	p <a>@jh3y</a> 2022 &copy;