*
  box-sizing border-box
  animation  fadeIn .5s

body
  padding 0
  margin  0
  overflow hidden

$size = (100vh / 14)
$cl1  = #fff
$cl2  = #000
$bd   = grey

.row
  height $size
  background repeating-linear-gradient(90deg, $cl1, $cl1 $size, $cl2 $size, $cl2 ($size * 2))
  border-bottom 4px solid $bd
  $seq1 = 1 3 5 7 9 11 13
  $seq2 = 2 6 10 14
  $seq3 = 4 8 12
  for num in 1..14
    &:nth-of-type({num})
      if num in $seq1
        background-position 12vh
      if num in $seq2
        background-position 16vh
      if num in $seq3
        background-position -8vh


@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1
