#content.jh3y
  header
    h1.title Stax Records
    p.attribution
      | All content from
      a(href='https://en.wikipedia.org/wiki/Stax_Records' target='_blank') Wikipedia
    img.logo(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/557388/Stax-records-logo.jpg' alt='Stax Records Logo')
  .intro
    p
      span.stax Stax Records
      |  is an American record label, originally based in
      a(href='https://en.wikipedia.org/wiki/Memphis,_Tennessee' target='_blank') Memphis, Tennessee
      | . Founded in 1957 as Satellite Records, the label changed its name to
      span.stax Stax Records
      |  in 1961 and shared its operations with Volt Records, a sister label created to avoid the impression of favoritism among radio stations playing their records.
  .details
    p
      span.stax Stax
      |  was influential in the creation of Southern soul and Memphis soul music.
      span.stax Stax
      |  also released gospel, funk, and blues recordings. Renowned for its output of blues music, the label was founded by two siblings and business partners,
      a(href='https://en.wikipedia.org/wiki/Jim_Stewart_(record_producer)' target='_blank') Jim Stewart
      |  and his sister
      a(href='https://en.wikipedia.org/wiki/Estelle_Axton' target='_blank') Estelle Axton
      |  (STewart/AXton =
      span.stax Stax
      | ). It featured several popular ethnically integrated bands (including the label&apos;s house band,
      a(href='https://en.wikipedia.org/wiki/Booker_T._%26_the_M.G.%27s' target='_blank') Booker T. &amp; the M.G.&apos;s
      | ) and a racially integrated team of staff and artists unprecedented in that time of racial strife and tension in Memphis and the South. According to ethnomusicologist Rob Bowman, the label&apos;s use of &quot;one studio, one equipment set-up, the same set of musicians and a small group of songwriters led to a readily identifiable sound. It was a sound based in black gospel, blues, country, and earlier forms of rhythm and blues. It became known as southern soul music.&quot;
    img.artist.booker(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557388/Booker_T._%26_the_M.G's.png" alt="Booker T. & the M.G.'s")
    p
      | Following the death of
      span.stax Stax&apos;s
      |  biggest star,
      a(href='https://en.wikipedia.org/wiki/Otis_Redding') Otis Redding
      | , in 1967, and the severance of the label&apos;s distribution deal with Atlantic Records in 1968,
      span.stax Stax
      |  continued primarily under the supervision of a new co-owner, Al Bell. Over the next five years, Bell expanded the label&apos;s operations significantly, in order to compete with
      span.stax Stax&apos;s
      |  main rival, Motown Records in Detroit. During the mid-1970s, a number of factors, including a problematic distribution deal with CBS Records, caused the label to slide into insolvency, resulting in its forced closure in late 1975.
    img.artist.otis(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/557388/Otis_Redding.jpg' alt='Otis Redding')
  .history
    h2 History
    ul
      li
        span.year 1957 &ndash; 1960
        a(href='https://en.wikipedia.org/wiki/Stax_Records#1957%E2%80%931960:_Early_years_as_Satellite_Records' target='_blank') Early years as Satellite Records
      li
        span.year 1961
        a(href='https://en.wikipedia.org/wiki/Stax_Records#1961:_Name_change_to_Stax_and_beginning_of_partnership_with_Atlantic' target='_blank') Name change to Stax and beginning of partnership with Atlantic
      li
        span.year 1962&ndash;1964
        a(href='https://en.wikipedia.org/wiki/Stax_Records#1962%E2%80%931964:_Stax_and_Volt_in_ascendancy' target='_blank') Stax and Volt in ascendancy
      li
        span.year 1965&ndash;1967
        a(href="https://en.wikipedia.org/wiki/Stax_Records#1965%E2%80%931967:_Stax/Volt's_continued_success" target='_blank') Stax/Volt&apos;s continued success
      li
        span.year 1968
        a(href='https://en.wikipedia.org/wiki/Stax_Records#1968:_Break_with_Atlantic_Records' target='_blank') Break with Atlantic Records
      li
        span.year 1968&ndash;1972
        a(href='https://en.wikipedia.org/wiki/Stax_Records#1968%E2%80%931972:_Stax_as_an_independent_label' target='_blank') Stax as an independent label
      li
        span.year 1972&ndash;1975
        a(href='https://en.wikipedia.org/wiki/Stax_Records#1972%E2%80%931975:_Decline_and_bankruptcy' target='_blank') Decline and bankruptcy
      li
        span.year 1976&ndash;1977
        a(href='https://en.wikipedia.org/wiki/Stax_Records#1976%E2%80%931977:_Stax_in_limbo' target='_blank') Stax in limbo
      li
        span.year 1978&ndash;1981
        a(href='https://en.wikipedia.org/wiki/Stax_Records#1978%E2%80%931981:_Stax_resumes_operations' target='_blank') Stax resumes operations
      li
        span.year 1982&ndash;2003
        a(href='https://en.wikipedia.org/wiki/Stax_Records#1982%E2%80%932003:_Stax_as_a_reissue_label' target='_blank') Stax as a reissue label
      li
        span.year 2003&ndash;present
        a(href='https://en.wikipedia.org/wiki/Stax_Records#2003%E2%80%93present:_Stax_Museum_and_revival_of_the_label' target='_blank') Stax Museum and revival of the label
