*
  box-sizing border-box

body
  display flex
  min-height 100vh
  align-items center
  justify-content center

svg
  border 2px solid black
  height 40vmin
  width 40vmin

  path
    stroke red
    stroke-width 5px
    fill green
    transition all 0.5s ease
