*
  box-sizing border-box

body
  background hsl(0, 0%, 15%)
  height 200vh


.container
  height 35vmin
  position fixed
  top 50%
  left 50%
  transform translate(-50%, -50%)

  img
    display none
    position absolute
    height 100%
    top 50%
    left 50%
    transform translate(-50%, -50%)