$borderWidth = 5px
$height = 100px
$width = 200px
$pattySize = 70px
$bgColor = #111
$borderColor = #fff
$meatColor = #fb9496
$meatCookedColor = #6d3b12
$meatCookedLinesColor = #311205
$transitionDuration = .5s
$cookingDuration = .25s

*
  box-sizing border-box

html
body
  align-items center
  background-color $bgColor
  display flex
  justify-content center
  margin 0
  padding 0
  height 100vh
  width 100vw

.burger-toggle
  border-radius ($height / 2)
  height $height
  overflow hidden
  // Wow. This is an odd one
  -webkit-mask-image linear-gradient(0deg, #000, #000)
  position relative
  width $width

  @media(min-width 768px)
    $height = 200px
    $width = 400px
    border-radius ($height / 2)
    height $height
    width $width

  &__border
    border-radius ($height / 2)
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    border $borderWidth solid $borderColor

    @media(min-width 768px)
      $borderWidth = 10px
      $height = 200px
      border-radius ($height / 2)
      border $borderWidth solid $borderColor

  &__checkbox
    border 0
    cursor pointer
    height 100%
    left 0
    margin 0
    opacity 0
    padding 0
    position absolute
    top 0
    width  100%
    z-index 3

    &:checked ~ .worktop
      transform translateX(-50%)

    &:checked ~ .patty
      transform translateX(140%)

    &:checked ~ .patty .patty__line
    &:checked ~ .patty .patty__meat
      transition fill $transitionDuration ($transitionDuration + $cookingDuration)

    &:checked ~ .patty .patty__line
      fill $meatCookedLinesColor

    &:checked ~ .patty .patty__meat
      fill $meatCookedColor

.worktop
  height $height
  left 0
  position absolute
  top 0
  transition transform $transitionDuration
  width $width * 2

  @media(min-width 768px)
    $height = 200px
    $width = 400px
    height $height
    width ($width * 2px)

.patty
  border-radius 100%
  height $pattySize
  left (($height - $pattySize) / 2px)
  overflow hidden
  position absolute
  top (($height - $pattySize) / 2px)
  transition transform $transitionDuration

  @media(min-width 768px)
    $height = 200px
    $pattySize = 140px
    $width = 400px
    height $pattySize
    left (($height - $pattySize) / 2px)
    top (($height - $pattySize) / 2px)

  &__line
  &__meat
    transition fill $transitionDuration
    fill $meatColor