.cuboid
  width 100%
  height 100%
  position relative
  // 1 is the top and go t, r, b, l, f, b

  &__side:nth-of-type(1)
    height calc(var(--thickness) * 1vmin)
    width 100%
    position absolute
    top 0
    transform translate(0, -50%) rotateX(90deg)

  &__side:nth-of-type(2)
    height 100%
    width calc(var(--thickness) * 1vmin)
    position absolute
    top 50%
    right 0
    transform translate(50%, -50%) rotateY(90deg)

  &__side:nth-of-type(3)
    width 100%
    height calc(var(--thickness) * 1vmin)
    position absolute
    bottom 0
    transform translate(0%, 50%) rotateX(90deg)

  &__side:nth-of-type(4)
    height 100%
    width calc(var(--thickness) * 1vmin)
    position absolute
    left 0
    top 50%
    transform translate(-50%, -50%) rotateY(90deg)

  &__side:nth-of-type(5)
    height 100%
    width 100%
    transform translate3d(0, 0, calc(var(--thickness) * 0.5vmin))
    position absolute
    top 0
    left 0

  &__side:nth-of-type(6)
    height 100%
    width 100%
    transform translate3d(0, 0, calc(var(--thickness) * -0.5vmin)) rotateY(180deg)
    position absolute
    top 0
    left 0

*
*:after
*:before
  box-sizing border-box
  transform-style preserve-3d

body
  min-height 100vh
  display grid
  place-items center

:root
  --base-size 2vmin
  --width calc(16 * var(--base-size))
  --height calc(32 * var(--base-size))
  --shirt-one hsl(179, 100%, 33%)
  --shirt-two hsl(179, 100%, 30%)
  --shirt-three hsl(179, 100%, 26%)
  --zombie-one hsl(100, 25%, 34%)
  --zombie-two hsl(100, 25%, 30%)
  --zombie-three hsl(100, 25%, 26%)
  --trouser-one hsl(244, 47%, 39%)
  --trouser-two hsl(244, 47%, 32%)
  --trouser-three hsl(244, 47%, 26%)
  --shoe-one hsl(0, 0%, 60%)
  --shoe-two hsl(0, 0%, 50%)
  --shoe-three hsl(0, 0%, 40%)
  --feature hsl(0, 0%, 10%)

.scene
  position fixed
  top 50%
  left 50%
  transform translate3d(-50%, -50%, 100vmin)
  transform translate3d(-50%, -50%, 100vmin) rotateX(-24deg) rotateY(44deg) rotateX(calc(var(--rotate-x, 0) * 1deg)) rotateY(calc(var(--rotate-y, 0) * 1deg))

.zombie
  height var(--height)
  width var(--width)
  background hsla(10, 80%, 70%, 0.5)
  position relative

  & > *
    position absolute

  &__head
    height calc(8 * var(--base-size))
    width calc(8 * var(--base-size))
    background hsla(280, 80%, 70%, 0.5)
    top 0
    left 50%
    transform translate(-50%, 0)

  &__arm
    height calc(12 * var(--base-size))
    width calc(4 * var(--base-size))
    background hsla(210, 80%, 70%, 0.5)
    top calc(8 * var(--base-size))
    transform-origin 50% calc(2 * var(--base-size))
    transform rotateX(90deg)

    &--left
      left 0

    &--right
      right 0

  &__torso
    height calc(12 * var(--base-size))
    width calc(8 * var(--base-size))
    background hsla(100, 80%, 70%, 0.5)
    top calc(8 * var(--base-size))
    left 50%
    transform translate(-50%, 0)

  &__leg
    height calc(12 * var(--base-size))
    width calc(4 * var(--base-size))
    background hsla(140, 80%, 70%, 0.5)
    top calc(20 * var(--base-size))
    transform-origin 50% calc(2 * var(--base-size))


    &--left
      left calc(4 * var(--base-size))
      // animation run 0.25s infinite linear alternate
    &--right
      right calc(4 * var(--base-size))
      // animation run 0.25s infinite linear alternate-reverse

@keyframes run
  0%
    transform rotateX(15deg)
  100%
    transform rotateX(-15deg)


// Every thickness needs to be twice what you think
.cuboid-arm
  --thickness 8

  div
    background green
    &:nth-of-type(1)
      background linear-gradient(var(--shirt-two), var(--shirt-two)) 0% 0% / 25% 25%,
                linear-gradient(var(--shirt-three), var(--shirt-three)) 25% 50% / 50% 25% no-repeat
      background-repeat no-repeat
      background-color var(--shirt-one)
    &:nth-of-type(2)
      background blue
    &:nth-of-type(3)
      background orange
    &:nth-of-type(4)
      background pink
    &:nth-of-type(5)
      background yellow
    &:nth-of-type(6)
      background green

.cuboid-head
  --thickness 16

  div
    background blue

.cuboid-torso
  --thickness 8

  div
    background purple

.cuboid-leg
  --thickness 8

  div
    background orange

